<div class="content-section">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="clearfix text-center">
                <h1 class="float-xs-left display-3 mr-2">404</h1>
                <h4 class="pt-1">Oops! You're lost.</h4>
            </div>
        </div>
    </div>
</div>
