<div class="d-table login_background">
    <div class="d-100vh-va-middle login">
        <div class="ui-g">
            <div class="ui-lg-4 ui-md-4 ui-sm-12 ui-12"></div>
            <div class="ui-lg-4 ui-md-4 ui-sm-12 ui-12">
                <p-panel styleClass="ui-panel-purple" header="Login">
                    <form name="form" (ngSubmit)="f.valid && login()" #f="ngForm" novalidate>
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                    Username *:
                                </div>
                                <div class="ui-grid-col-9">
                                    <input name="username" [(ngModel)]="model.email" pInputText type="text"
                                           placeholder="Username" required/>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                    Password *:
                                </div>
                                <div class="ui-grid-col-9">
                                    <input name="password" [(ngModel)]="model.password" pInputText type="password"
                                           placeholder="Password" required/>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                </div>
                                <div class="ui-grid-col-9">
                                    <button [disabled]="f.invalid" pButton label="Login"></button>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                </div>
                                <div class="ui-grid-col-9" style="text-align: center">
                                    <a [routerLink]="['/forgot-password']">Forgot Password</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </p-panel>
            </div>
            <div class="ui-lg-4 ui-md-4 ui-sm-12 ui-12"></div>
        </div>
    </div>
</div>
