<p-panel *ngIf="formShow">
    <p-header>
                <span class="ui-header-title">
                    Add {{relationModule}}
                </span>
        <div style="float: right">
            <i class="btn-sm fa fa-close" (click)="formShow = false"></i>
        </div>
    </p-header>
    <dynamic-form [parentModule]="parentModule" [pkId]="rowPkId"  formType="full" [subRel]="subRelData" [module]="relationModule"
                  [col]="4"
                  [autoSave]="true" (afterSave)="addNewRelation($event)"></dynamic-form>
</p-panel>

<p-dataTable
        *ngIf="tableShow && !formShow"
        [value]="dataRows"
        [rows]="10"
        [totalRecords]="totalRecords"
        [paginator]="true"
        [pageLinks]="3"
        [lazy]="true"
        (onLazyLoad)="loadDataLazy($event)"
        [responsive]="true"
        [(selection)]="selectedRel"
        [rowsPerPageOptions]="[1,2,5,10,20,50,100,500,1000]"
        [tableStyleClass]="'table-x-scroll'"
        scrollable="true" #dt>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-header-title" style="text-align: left"> {{relationModule}} List</span>
            <span style="float:right" class="ui-helper-clearfix">
<!--                  <button pButton type="button" (click)="openImportModel(excelContent)" icon="fa-upload"
                          class="ui-button-secondary" iconPos="left"
                          label="IMPORT"></button>
                    <a class="nav-link" href="{{sampleDownloadLink}}" target="_blank" title="Sample Excel Download">
                        <i class="fa fa-download"></i>
                    </a>

                <a *ngIf="relData.can_import" class="nav-link" href="{{sampleDownloadLink}}" target="_blank">Sample
                    Excel Download</a>-->
                <span>
                <tss-custom-component (afterSave)="reloadTab()" *ngIf="formData.module?.custom_component"
                                      [formData]="formData"
                                      [field]="relData"></tss-custom-component>
                </span>
                <button *ngIf="relData.can_import" type="button" pButton class="ui-button-warning"
                        (click)="openImportModel(excelContent)" icon="fa-download"
                        label="Excel Import"></button>
                <a *ngIf="relData.can_import" class="nav-link" href="{{sampleDownloadLink}}" target="_blank"
                   title="Sample Excel Download">
                    <i class="fa fa-download"></i>
                </a>
                 <a *ngIf="relData.can_export" [href]="downloadLink" href="{{downloadLink}}" target="_blank"
                    class="btn btn-sm  btn-default-style">
                     <span><i class="fa fa-download"> </i> EXPORT</span>
                 </a>

                 <button type="button" pButton class="ui-button-danger" icon="fa-trash" (click)="deleteRels()"
                         label="Delete" *ngIf="permission.Delete && selectedRel && selectedRel.length > 0"></button>
                <button type="button" pButton class="ui-button-secondary" (click)="onCreate()" icon="fa-plus"
                        label="Create New" *ngIf="permission.Create && relData.can_create"></button>
                <relation-modal-content type="notRel" (afterConfirm)="reloadTab()"
                                        *ngIf="permission.Create && showAddBtn && relData.can_add"
                                        [field]="currentActiveRelationData"></relation-modal-content>
            </span>
        </div>
    </p-header>

    <p-column *ngIf="permission.Delete && relData.can_delete" [style]="{'width':'38px'}"
              selectionMode="multiple"></p-column>
    <p-column [style]="{'width':'60px'}">
        <ng-template let-col let-row="rowData" pTemplate="body">
            <i class="btn-sm fa fa-pencil" (click)="onUpdate(row.pk_id)"></i>
            <i class="btn-sm fa fa-trash" (click)="forceDelete(row)"></i>
        </ng-template>
    </p-column>
    <p-column *ngFor="let col of showCols" [field]="col.name"
              [style]="{'width': col.width+'px','white-space': 'nowrap'}"
              [filter]="true" [sortable]="true" [header]="col.header_name" styleClass="t1Table">
        <ng-template pTemplate="header" let-cold="col">
            <span class="ellipsis" title="{{col.header_name}}" style="padding-right: 34px">{{col.header_name}}</span>
        </ng-template>
        <ng-template pTemplate="filter" let-cold="col">
            <i class="btn fa fa-search" (click)="filter.hidden = !filter.hidden"></i>
            <div class="ui-grid-row" hidden="true" #filter>
                <input [(ngModel)]="col.search" type="text"
                       pInputText style="width: 70% !important;"
                       (keyup.enter)="dt.filter(col.search,col.name,col.filterMatchMode)"/>
                <button pButton icon="fa-search"
                        (click)="dt.filter(col.search,col.name,col.filterMatchMode)"></button>
            </div>
        </ng-template>
        <ng-template let-row="rowData" pTemplate="body">
            <tss-table-col-field-view [row]="row" [col]="col" [module]="module"></tss-table-col-field-view>
        </ng-template>
    </p-column>
    <p-footer>
        <span class="ui-sub-header-title">Total Rows : {{totalRecords}}</span>
        <i class="btn btn-sm fa fa-refresh" (click)="reloadTab()" style="float: right"></i>
    </p-footer>
</p-dataTable>

<ng-template #excelContent let-c="close" let-d="dismiss" size="lg">
    <div class="modal-header">
        <span class="ui-header-title">{{module}} Excel Import </span>
        <span class="f-r">
            <i class="btn-sm fa fa-close" (click)="d('Cross click')"></i>
        </span>
    </div>
    <div class="modal-body">
        <tss-excel-import [module]="module" [subRel]="subRelData"></tss-excel-import>
    </div>
</ng-template>

