ul.field-highlight{
    padding:5px;
li{
    color: #a6a6a6;
    list-style: none;
    padding: 1px;
&.highlight{
     color: #000000;
 }
}
}
ul[ngui-sortable] {
    padding: 10px;
    border: 1px solid #ccc;
    list-style: none;
    display: block
}
ul[ngui-sortable] li {
    padding: 10px 5px;
    background: #4986e7;
    color: #fff;
    border: 1px solid #fff;
    display: block;
    position: relative
}
ul[ngui-sortable] li.drag-enter {
    border-top: 2px solid yellow;
}

.dnd-drag-start {
    -moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-enter {
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-over {
    border: 2px dashed #000;
}

.dnd-sortable-drag {
    -moz-transform:scale(0.9);
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
    opacity:0.7;
    border: 1px dashed #000;
}

.small-field-name{
    position: absolute;
    font-style: italic;
    font-size: 10px;
    padding-top: 16px;
    padding-left: 22px;
    width: 137px;
}
.active-field{
    background-color: #ccc;
}
.leftDiv{-webkit-transition: all 0.5s;height: 500px;overflow-y: hidden;position: relative}
.leftDiv2{-webkit-transition: all 0.5s;background-color: #EEE;}
.leftDiv2.myLeftAnimation{left: -23%;max-width: 0% !important;}
.leftDiv:hover{overflow-y: auto;}
#divLeft{position: relative}
/*
.leftDiv[hidden],.rightDiv[hidden]{transition: width 0.5s;}
.leftDiv[hidden]{left: -20%}
.rightDiv[hidden]{transition: all 0.5s;right: -20%}
*/
.leftDiv .ui-widget-content:hover{border-color: #1f89ce !important;}
.leftDiv::-webkit-scrollbar {
    width: 4px;
    background-color: #FFF;
}
.leftDiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
}

.leftDiv::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
}
/*
.leftDiv {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
*/
.iconRotate{
    -webkit-transform: rotate(180deg);
    -webkit-transition: all 0.5s;
}
.iconSize{width: 28px;height: 28px;}
.drop-text{display: none;}
.dnd-drag-over .drop-text{display: block;}
