<div class="ui-toolbar ui-helper-clearfix"
     style="padding: 10px 10px!important;background-color: #CCC;margin-bottom: 5px;">
    <!--<span class="ui-header-title">Block
    <i class="btn fa fa-plus-circle btn-lg" style="padding: 0px 5px !important;"
       (click)="openBlockModal(addBlockModal)"></i>
    </span>-->
    <span style="font-size: 20px;font-weight: bold;text-transform: uppercase">Form Builder</span>
    <button pButton icon="fa-bars" label="Block" (click)="openBlockModal(addBlockModal)" class="f-r"
            style="margin-left: 10px;margin-right: 0 !important;"></button>
    <button pButton icon="fa-eye" label="Preview" (click)="openPreviewModal(preViewModal)"
            class="f-r  ui-button-secondary" style="margin-left: 10px;margin-right: 0 !important;"></button>
         <span>
 <md-slide-toggle
         class="example-margin f-r"
         [color]="color"
         (change)="displayFormFields($event)"
         style="padding-top: 3px;"
 >
     Show All Fields !
 </md-slide-toggle>
                    </span>
    <!--<span class="ui-header-title">Preview
     <i class="btn fa fa-eye btn-lg"
        ></i>
     </span>-->

    <!-- <span class="f-r">
         <button pButton (click)="reOrder()" label="Order Save"></button>
     </span>-->
</div>
<div class="ui-helper-clearfix form-builder-main" fxLayout style="position: relative;overflow: hidden">
    <div fxFlex="23%" [ngStyle]="setStyles()" class="leftDiv2" [class.myLeftAnimation]="showLeftInput" #divLeft>
        <md-tab-group [(selectedIndex)]="selectedTab">
            <md-tab label="FieldsTypes">
                <div class="leftDiv">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-sm-12" *ngFor="let ft of fieldTypeList" style="padding: 5px 5px 0px 5px">
                            <div class="ui-widget-content ui-helper-clearfix ellipsis" dnd-draggable
                                 [dragEnabled]="true"
                                 [dragData]="ft.value">
                                <div class="ui-lg-1 ui-md-1 ui-g-1">
                                    <i class="fa fa-arrows"></i>
                                </div>
                                <div class="ui-lg-9 ui-md-9 ui-g-9">
                                    {{ft.label}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </md-tab>
            <md-tab label="Properties" *ngIf="sf.FieldType">
                <div *ngIf="sf.FieldType" class="leftDiv" style="padding-left: 5px;">
                    <div class="ui-panel-content ui-widget-content">
                        <span class="ui-panel-title"> {{sf.display_label}}</span>

                        <form #bf="ngForm" novalidate>
                            <div class="modal-body" style="padding: 5px !important;">
                                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                                    <div class="ui-grid-12">
                                        <div class="ui-grid-col-12" *ngIf="sf.extra_options.lg">
                                            <span mdTooltip="Desktop"><i class="fa fa-desktop"></i></span>
                                            <md-slider
                                                    class="md-slider-blue"
                                                    [max]="12"
                                                    [min]="1"
                                                    [step]="1"
                                                    [thumb-label]="false"
                                                    [tick-interval]="1"
                                                    name="Col-lg"
                                                    [(ngModel)]="sf.extra_options.lg"
                                                    style="padding-left:0;padding-right: 0"
                                            >
                                            </md-slider>
                                            <span>col-{{sf.extra_options.lg}}</span>
                                        </div>
                                    </div>
                                    <div class="ui-grid-12">
                                        <div class="ui-grid-col-12">
                                            <span mdTooltip="Tablet"><i class="fa fa-tablet"></i></span>
                                            <md-slider
                                                    class="md-slider-blue"
                                                    [max]="12"
                                                    [min]="1"
                                                    [step]="1"
                                                    [thumb-label]="true"
                                                    [tick-interval]="1"
                                                    name="Col-md"
                                                    [(ngModel)]="sf.extra_options.md"
                                                    style="padding-left:0;padding-right: 0"
                                            >
                                            </md-slider>
                                            <span>col-{{sf.extra_options.md}}</span>
                                        </div>
                                        <!--<div class="ui-grid-col-12">
                                            <input pInputText type="number" required
                                                   name="col-md" [(ngModel)]="sf.extra_options.md"
                                                   placeholder="Col-md"/>
                                        </div>-->
                                    </div>
                                    <div class="ui-grid-12">
                                        <div class="ui-grid-col-12">
                                            <span mdTooltip="Mobile"><i class="fa fa-mobile"></i></span>
                                            <md-slider
                                                    class="md-slider-blue"
                                                    [max]="12"
                                                    [min]="1"
                                                    [step]="1"
                                                    [thumb-label]="true"
                                                    [tick-interval]="1"
                                                    name="Col-sm"
                                                    [(ngModel)]="sf.extra_options.sm"
                                                    style="padding-left:0;padding-right: 0"
                                            >
                                            </md-slider>
                                            <span>col-{{sf.extra_options.sm}}</span>
                                        </div>
                                        <!--<div class="ui-grid-col-12">
                                            <input pInputText type="number" required
                                                   name="col-sm" [(ngModel)]="sf.extra_options.sm"
                                                   placeholder="Col-sm"/>
                                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </form>
                        <div class="modal-footer2">
                            <button type="button" *ngIf="!sf.is_fixed_field" (click)="deleteModuleField(sf)" pButton
                                    label="Delete"
                                    icon="fa-trash"
                                    class="ui-button-danger"></button>
                            <button type="button" (click)="saveExtraOptions(sf,'extra_options',sf.extra_options)"
                                    pButton
                                    label="Save" icon="fa-check"
                                    class="ui-button-primary"></button>
                        </div>
                        <ul class="ui-grid ui-grid-pad ui-grid-responsive field-highlight" style="padding-top: 0">
                            <li (click)="changeFieldStatus(sf,'is_mandatory')" class="btn-sm ui-g-12"
                                [class.highlight]="sf.is_mandatory"><i
                                    class="fa fa-info-circle"></i> Mandatory
                            </li>
                            <li (click)="changeFieldStatus(sf,'quick_create')" class="btn-sm  ui-g-12"
                                [class.highlight]="sf.quick_create"><i
                                    class="fa fa-plus"></i> Quick Create
                            </li>
                            <!--  <li (click)="changeFieldStatus(f,'mass_edit')" class="btn ui-lg-6 ui-g-12"
                                  [class.highlight]="sf.mass_edit"><i
                                      class="fa fa-pencil"></i> Mass Edit
                              </li>-->
                            <li (click)="changeFieldStatus(sf,'header_view')" class="btn-sm  ui-g-12"
                                [class.highlight]="sf.header_view"><i
                                    class="fa fa-header"></i> Header
                            </li>
                            <li (click)="changeFieldStatus(sf,'record_identifier')"
                                class="btn-sm  ui-g-12" [class.highlight]="sf.record_identifier"><i
                                    class="fa fa-key"></i> Row Identifier
                            </li>
                            <li (click)="changeFieldStatus(sf,'display_in_list_view')"
                                class="btn-sm ui-g-12" [class.highlight]="sf.display_in_list_view"><i
                                    class="fa fa-table"></i> Add To List
                            </li>
                            <li (click)="changeFieldStatus(sf,'show_in_mobile')"
                                class="btn-sm  ui-g-12" [class.highlight]="sf.show_in_mobile"><i
                                    class="fa fa-mobile"></i> Mobile
                            </li>

                            <li (click)="changeFieldStatus(sf,'is_hidden')"
                                class="btn-sm  ui-g-12 ellipsis" [class.highlight]="sf.is_hidden"><i
                                    class="fa fa-eye-slash"></i> Hidden
                            </li>
                            <!--  <li (click)="changeFieldStatus(f,'is_unique_index_field')"
                                  class="btn-sm ui-lg-6 ui-g-12 ellipsis" [class.highlight]="sf.is_unique_index_field"><i
                                      class="fa fa-star"></i> Unique Index
                              </li>-->

                            <li *ngIf="sf.more" (click)="changeFieldStatus(sf,'can_create')"
                                class="btn-sm  ui-g-12 ellipsis" [class.highlight]="sf.can_create"><i
                                    class="fa fa-plus"></i> Can Create
                            </li>
                            <li *ngIf="sf.more" (click)="changeFieldStatus(sf,'can_add')"
                                class="btn-sm ui-g-12 ellipsis" [class.highlight]="sf.can_add"><i
                                    class="fa fa-plus"></i> Can Add
                            </li>
                            <li *ngIf="sf.more" (click)="changeFieldStatus(sf,'can_edit')"
                                class="btn-sm ui-g-12 ellipsis" [class.highlight]="sf.can_edit"><i
                                    class="fa fa-pencil"></i> Can Edit
                            </li>
                            <li *ngIf="sf.more" (click)="changeFieldStatus(sf,'can_delete')"
                                class="btn-sm  ui-g-12 ellipsis" [class.highlight]="sf.can_delete"><i
                                    class="fa fa-trash"></i> Can Delete
                            </li>
                            <li *ngIf="sf.more" (click)="changeFieldStatus(sf,'can_force_delete')"
                                class="btn-sm  ui-g-12 ellipsis" [class.highlight]="sf.can_force_delete"><i
                                    class="fa fa-trash"></i> Can Force Delete
                            </li>

                            <li *ngIf="sf.more" (click)="changeFieldStatus(sf,'can_export')" title="Excel Download"
                                class="btn-sm ui-g-12 ellipsis" [class.highlight]="sf.can_export"><i
                                    class="fa fa-download"></i> Excel Download
                            </li>
                            <li *ngIf="sf.more" (click)="changeFieldStatus(sf,'can_import')" title="Excel Import"
                                class="btn-sm ui-g-12 ellipsis" [class.highlight]="sf.can_import"><i
                                    class="fa fa-upload"></i> Excel Import
                            </li>
                            <li *ngIf="sf.more" (click)="changeFieldStatus(sf,'show_in_details')"
                                class="btn-sm ui-g-12 ellipsis" [class.highlight]="sf.show_in_details"><i
                                    class="fa fa-wpforms"></i> Details
                            </li>
                            <li *ngIf="sf.more" (click)="changeFieldStatus(sf,'get_count_at_list')"
                                class="btn-sm ui-g-12 ellipsis" [class.highlight]="sf.get_count_at_list"><i
                                    class="fa fa-list"></i> Count @ list
                            </li>
                            <li *ngIf="sf.more" (click)="changeFieldStatus(sf,'get_object_at_list')"
                                class="btn-sm ui-g-12 ellipsis" [class.highlight]="sf.get_object_at_list"><i
                                    class="fa fa-list"></i> Object @ list
                            </li>
                            <li *ngIf="sf.more" (click)="changeFieldStatus(sf,'conditions',conditionsModal)"
                                class="btn-sm ui-g-12 ellipsis" [class.highlight]="sf.get_object_at_list"><i
                                    class="fa fa-list"></i> Conditions
                            </li>
                            <li *ngIf="sf.rel==0 || sf.rel==1" class="btn-sm ui-g-12" style="color: #00a6dd"
                                (click)="sf.more =! sf.more">
                                <span *ngIf="sf.more">-</span>
                                <span *ngIf="!sf.more">+</span>
                                More
                            </li>
                            <!--    <li (click)="changeFieldStatu(f,'is_mandatory')" class="btn ui-lg-6 ui-g-12" [class.highlight]="f.summary"><i
                                        class="fa fa-file-text-o"></i> Summary View
                                </li>-->
                        </ul>
                    </div>
                </div>
            </md-tab>
        </md-tab-group>

    </div>
    <i class="btn-sm fa fa-arrow-left iconSize" [class.iconRotate]="showLeftInput"
       (click)="showLeftInput =! showLeftInput"></i>
    <div fxFlex>
        <div *ngFor="let b of moduleFields;let bNdx=index"
             dnd-sortable-container
             [sortableData]="b[showFieldsObjKey]"
             [dropZones]="['container-dropZone'+bNdx]">
            <div class="pb-5" dnd-droppable (onDropSuccess)="openAddFieldModal(addFieldModalTemplate,b.block,$event)">
                <p-panel [toggleable]="true">
                    <p-header>
                        <span class="ui-header-title">
                            {{b.block.name}}
                            <i class="btn-sm fa fa-trash" (click)="deleteBlog(b.block)"></i>
                            <i class="btn-sm fa fa-pencil" (click)="openBlockModal(addBlockModal,b.block)"></i>
                        </span>
                    </p-header>
                    <div class="ui-g">
                        <div style="height:75px;width: 100%;text-align: center;background-color: #eee;margin-bottom: 5px;position: relative">
                            <p class="drop-text2"
                               style="margin-bottom: 0;position: absolute;top:26px;left: 50%;margin-left: -30px;">Drop
                                here</p>
                        </div>
                        <div (click)="onFieldSelect(field);" [ngClass]="{'active-field': sf==field}"
                             class="ui-sm-{{field.extra_options.sm}} ui-lg-{{field.extra_options.lg}} ui-md-{{field.extra_options.md}}"
                             *ngFor="let field of b[showFieldsObjKey];let sndx = index"
                             dnd-sortable
                             [sortableIndex]="sndx" dragEnabled="true" (onDropSuccess)="reOrder()"
                             style="transition: 0.5s;height: 100%">
                            <!-- <div class="ui-grid-row" *ngIf="sndx%4==0"></div>-->

                            <!--<p-panel>
                                <p-header>
                                    <div class="ui-toolbar">
                                <span class="ellipsis f-l" style="width: 80%;" title="{{f.name}} - {{f.FieldType}}">
                                    <i class="fa fa-arrows"></i>
                                    {{f.display_label || f.name}} - {{f.FieldType}}
                                 </span>
                                <span class="f-r" *ngIf="!f.is_fixed_field">
                                     <i class="btn-sm fa fa-trash" (click)="deleteModuleField(f)"></i>
                                </span>
                                    </div>
                                    <div class="small-field-name ellipsis" *ngIf="f.display_label">{{f.name}}</div>
                                </p-header>

                            </p-panel>-->
                            <div [ngSwitch]="field.FieldType" class="dynamic-field">
                                <div *ngSwitchCase="'Text'" class="ui-grid">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12">
                                        <input type="text"
                                               style="width: 100%"
                                               [name]="field.db_field_name"
                                               pInputText
                                               [placeholder]="field.display_label"/>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'Email'" class="ui-grid">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12">
                                        <input type="email"
                                               [name]="field.db_field_name"
                                               style="width: 100%"
                                               pInputText
                                               [(ngModel)]="field.value"
                                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                               [placeholder]="field.display_label"/>
                                    </div>
                                    <small class="ui-grid-col-12 text-danger"
                                           *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>
                                </div>
                                <div *ngSwitchCase="'URL'" class="ui-grid">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12">
                                        <input type="url"
                                               [name]="field.db_field_name"
                                               style="width: 100%"
                                               pattern="^((http[s]?|ftp):\/)?\/?([^:\/\s]+)((\/\w+)*\/)([\w\-\.]+[^#?\s]+)(.*)?(#[\w\-]+)?$"
                                               [required]="field.is_mandatory"
                                               pInputText
                                               [(ngModel)]="field.value"
                                               [placeholder]="field.display_label"/>
                                    </div>
                                    <small class="ui-grid-col-12 text-danger"
                                           *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>
                                </div>
                                <div *ngSwitchCase="'Integer'" class="ui-grid">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12">
                                        <p-spinner style="width: 100%"

                                                   [(ngModel)]="field.value"></p-spinner>
                                    </div>
                                    <small class="ui-grid-col-12 text-danger"
                                           *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>
                                    <!-- <input
                                             [(ngModel)]="field.value"
                                             formControlName="{{field.db_field_name}}"
                                             [name]="field.db_field_name"
                                             [(ngModel)]="field.value"
                                             [id]="field.db_field_name"
                                             type="number"
                                             class="form-control"
                                             [placeholder]="field.display_label">
                                     <small class="text-danger" *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                         {{field.display_label}} is required
                                     </small>
                 -->
                                </div>
                                <div *ngSwitchCase="'Text Area'" class="ui-grid">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12">
                    <textarea
                            [(ngModel)]="field.value"
                            [name]="field.db_field_name"
                            [id]="field.db_field_name"
                            pInputTextarea
                            [placeholder]="field.display_label" [required]="field.is_mandatory"></textarea>
                                    </div>
                                    <small class="ui-grid-col-12 text-danger"
                                           *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>
                                </div>
                                <div *ngSwitchCase="'Check Box'" class="ui-grid checkbox">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        <p-checkbox
                                                label="{{field.display_label}}" binary="true" [(ngModel)]="field.value">
                                        </p-checkbox>
                                    </div>
                                    <small class="ui-grid-col-12 text-danger"
                                           *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>
                                    <!-- <div class="checkbox">

                                         <label class="mb0">
                                             <input
                                                     formControlName="{{field.db_field_name}}"
                                                     [name]="field.db_field_name"
                                                     [(ngModel)]="field.value"
                                                     [id]="field.db_field_name"
                                                     type="checkbox"
                                                     [placeholder]="field.display_label" [required]="field.is_mandatory">
                                             {{field.display_label}} </label>



                                     </div>-->
                                </div>
                                <div *ngSwitchCase="'Pick List'" class="ui-g">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12" *ngIf="field.name=='Role'">
                                        <p-dropdown
                                                [required]="field.is_mandatory"
                                                [style]="{'width':'100%'}" [options]="field.data"
                                                [(ngModel)]="field.value"></p-dropdown>
                                    </div>
                                    <div class="ui-grid-col-12" *ngIf="field.name!='Role'">
                                        <p-dropdown
                                                [required]="field.is_mandatory"
                                                [style]="{'width':'100%'}" [options]="field.data"
                                                [(ngModel)]="field.value"></p-dropdown>
                                    </div>
                                    <!-- <select class="form-control" [name]="field.db_field_name" [id]="field.db_field_name"
                                             [(ngModel)]="field.value" formControlName="{{field.db_field_name}}">
                                         <option *ngFor="let m of field.data" [ngValue]="m.value">{{m.label}}</option>
                                     </select>-->
                                    <small class="ui-grid-col-12 text-danger"
                                           *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>

                                </div>
                                <div *ngSwitchCase="'Multi-Select Combo Box'" class="ui-g">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12">
                                        <p-multiSelect appendTo="body" [style]="{'width':'100%'}"
                                                       [options]="field.data"
                                                       [(ngModel)]='field.value'></p-multiSelect>
                                    </div>
                                    <!--  <select class="form-control" [name]="field.db_field_name" [id]="field.db_field_name"
                                              [(ngModel)]="field.value" formControlName="{{field.db_field_name}}">
                                          <option *ngFor="let m of getPickListData(field)" [ngValue]="m.pk_id">{{m.value}}</option>
                                      </select>-->
                                    <small class="ui-grid-col-12 text-danger"
                                           *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>

                                </div>
                                <div *ngSwitchCase="'Relation'" class="ui-g Relation_f">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12" *ngIf="field.rel==1">
                                        <relation-modal-content [subRel]="subRel" bType="search" type="oneRel"
                                                                [field]="field"></relation-modal-content>
                                        <input value="Selected {{field.relationData}}"
                                               [required]="field.is_mandatory"
                                               [(ngModel)]="field.value"
                                               type="hidden"
                                               class="form-control" readonly
                                               [placeholder]="field.display_label">

                                    </div>
                                    <!--<div class="ui-grid-col-12" *ngIf="field.rel==0">
                                        <relation-table  [relData]="field" [pkId]="pkId" [showAddBtn]="false"></relation-table>
                                    </div>-->
                                    <small class="ui-grid-col-12 text-danger"
                                           *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>
                                </div>
                                <div *ngSwitchCase="'Image'" class="ui-g">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12" style="height: 25px;">
                                        <p-fileUpload withCredentials="true" name="uploadedFiles"
                                                      accept="image/*" [url]="uploadUrl" auto="auto"
                                                      (onUpload)="onUpload($event,field)">
                                        </p-fileUpload>
                                        <small class="ui-grid-col-12 text-danger"
                                               *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                            {{field.display_label}} is required
                                        </small>

                                        <input [required]="field.is_mandatory"
                                               [(ngModel)]="field.value"
                                               type="hidden" readonly>
                                <span class="ellipsis uploadedfile-text"
                                      *ngIf="field.value">{{field.value[0].Name}}</span>
                                    </div>

                                    <!--<small class="text-danger" *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>-->
                                </div>
                                <div *ngSwitchCase="'File'" class="ui-g">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12" style="height: 25px;">
                                        <p-fileUpload withCredentials="true" name="uploadedFiles"
                                                      multiple="true"
                                                      [url]="uploadUrl" auto="auto">

                                        </p-fileUpload>

                                        <small class="ui-grid-col-12 text-danger"
                                               *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                            {{field.display_label}} is required
                                        </small>
                                        <input [required]="field.is_mandatory"
                                               [(ngModel)]="field.value"
                                               type="hidden" readonly>
                                <span class="ellipsis uploadedfile-text"
                                      *ngIf="field.value">{{field.value[0].Name}}</span>
                                    </div>
                                    <!-- <small class="text-danger" *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                         {{field.display_label}} is required
                                     </small>-->
                                </div>
                                <div *ngSwitchCase="'Date'" class="ui-g">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12">
                                        <p-calendar appendTo="body"
                                                    [required]="field.is_mandatory"
                                                    [(ngModel)]="field.value"
                                                    [showIcon]="true"></p-calendar>
                                    </div>
                                    <small class="ui-grid-col-12 text-danger"
                                           *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>

                                </div>
                                <div *ngSwitchCase="'Time'" class="ui-g">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12">
                                        <p-calendar [required]="field.is_mandatory" [timeOnly]="true"
                                                    [icon]="'fa-clock-o'"
                                                    [(ngModel)]="field.value"
                                                    [showIcon]="true"></p-calendar>
                                    </div>
                                    <small class="ui-grid-col-12 text-danger"
                                           *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>
                                </div>
                                <div *ngSwitchCase="'Time Stamp'" class="ui-g">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12">
                                        <p-calendar [required]="field.is_mandatory" appendTo="body" [showTime]="true"
                                                    [icon]="'fa-clock-o'"
                                                    [(ngModel)]="field.value"

                                                    [showIcon]="true"></p-calendar>
                                    </div>
                                    <small class="ui-grid-col-12 text-danger"
                                           *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>
                                </div>
                                <div *ngSwitchCase="'Date Range'" class="ui-g">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12">
                                        <div class="ui-inputtext ui-corner-all ui-state-default ui-widget"
                                             daterangepicker
                                             [options]="daterangeOptions"
                                             (selected)="selectedDateRange($event,field)">
                                       <span>
                                            {{ field.value?.start | datex:'date' }} - {{ field.value?.end| datex:'date' }}
                                        </span>
                                        <span class="adjustButton">
                                            <button type="button" pButton icon="fa-calendar"
                                                    class="ui-button-icon-only"></button>
                                        </span>

                                        </div>

                                    </div>
                                    <small class="ui-grid-col-12 text-danger"
                                           *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>

                                </div>
                                <div *ngSwitchCase="'Time Range' || 'Date Time Range'" class="ui-g">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12">
                                        <div class="ui-inputtext ui-corner-all ui-state-default ui-widget"
                                             daterangepicker
                                             [options]="datetimerangeOptions"
                                             (selected)="selectedDateRange($event,field)">
                                       <span>
                                            {{ field.value?.start | datex:'datetime' }} - {{ field.value?.end| datex:'datetime' }}
                                        </span>
                                        <span class="adjustButton">
                                            <button type="button" pButton icon="fa-calendar"
                                                    class="ui-button-icon-only"></button>
                                        </span>

                                        </div>

                                    </div>
                                    <small class="ui-grid-col-12 text-danger"
                                           *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>

                                </div>
                                <div *ngSwitchCase="'Html/Text Editor'" class="ui-grid">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>
                                    <div class="ui-grid-col-12">
                                        <p-editor
                                                [(ngModel)]="field.value"
                                                [placeholder]="field.display_label"
                                                [required]="field.is_mandatory"
                                        >
                                            <!-- <p-header>
                                                 <span class="ql-formats">
                                                     <button class="ql-bold"></button>
                                                     <button class="ql-italic"></button>
                                                     <button class="ql-underline"></button>
                                                 </span>
                                             </p-header>-->

                                        </p-editor>
                                    </div>
                                    <small class="ui-grid-col-12 text-danger"
                                           *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>
                                </div>
                                <div *ngSwitchDefault class="ui-g">
                                    <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                        {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                                    </div>

                                    <div class="ui-grid-col-12">
                                        <input
                                                [required]="field.is_mandatory"
                                                [(ngModel)]="field.value"
                                                type="text"
                                                pInputText
                                                [placeholder]="field.display_label">

                                    </div>
                                    <small class="text-danger"
                                           *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                        {{field.display_label}} is required
                                    </small>

                                </div>


                            </div>
                        </div>


                    </div>
                </p-panel>
            </div>
        </div>
    </div>

</div>

<ng-template #addFieldModalTemplate let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="ui-header-title">Create Field</span>
        <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
           <span aria-hidden="true">&times;</span>
         </button>-->
    </div>
    <form #bf="ngForm" novalidate>
        <div class="modal-body">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Select Field Type *:
                    </div>
                    <div class="ui-grid-col-6">
                        <p-dropdown [disabled]="true" [options]="fieldTypeList" name="FieldType"
                                    [(ngModel)]="field.selectedFieldType"
                                    filter="true" [autoWidth]="false" required></p-dropdown>
                    </div>
                    <!--   <small class="text-danger"
                              *ngIf="afmSubmittedForm && addFieldModalForm.get('FieldType').errors">
                         This field is required
                       </small>-->
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Display Name *:
                    </div>
                    <div class="ui-grid-col-6">
                        <input (blur)="onBlurDisplayLabel($event.target.value)" pInputText type="text" required
                               name="display_label" [(ngModel)]="field.display_label "
                               placeholder="Display Name"/>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Field Name *:
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text" required name="Name" [(ngModel)]="field.Name"
                               placeholder="Label Name"/>
                    </div>

                    <!-- <small class="text-danger"
                            *ngIf="afmSubmittedForm && addFieldModalForm.get('Name').errors">
                       This field is required
                     </small>-->
                </div>

                <!--Length-->
                <div *ngIf="checkDropDownFieldType(['Text','Decimal','Integer'])" class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Length :
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text" name="Length" [(ngModel)]="field.Length" placeholder="Length"/>
                    </div>
                    <!-- <small class="text-danger"
                            *ngIf="afmSubmittedForm && !strLength.errors.required">
                       This field is required
                     </small>-->
                </div>
                <!--Decimal-->
                <div *ngIf="checkDropDownFieldType(['Decimal'])" class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Decimals *:
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text" name="Precision" [(ngModel)]="field.Precision"
                               placeholder="Decimals"/>
                    </div>
                </div>

                <!--Default Value-->
                <div class="ui-grid-row"
                     *ngIf="checkDropDownFieldType(['Text','Decimal','Integer','Email','Phone'])">
                    <div class="ui-grid-col-4">
                        Default Value :
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text" name="Default" [(ngModel)]="field.Default"
                               placeholder="Default Value"/>
                    </div>
                </div>

                <!--Pick List-->
                <div *ngIf="checkDropDownFieldType(['Pick List'])" class="p5 ui-grid ui-grid-responsive ui-grid-pad">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Pick Name :
                        </div>
                        <div class="ui-grid-col-6">
                            <p-autoComplete type="text" name="PickListName" [(ngModel)]="field.PickListName" [size]="30"
                                            (onBlur)="onBlurName(field.PickListName)"
                                            [suggestions]="filteredPickList" (completeMethod)="filterPickList($event)"
                                            [minLength]="1">
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Pick list Values :
                        </div>
                        <div class="ui-grid-col-6">
                            <div style="max-height: 250px;overflow: auto;">
                                <p-chips *ngIf="prePickListValues.length>0" name="prePickListValues"
                                         [(ngModel)]="prePickListValues" disabled="true"></p-chips>
                            </div>
                            <p-chips placeholder="Add New Values" name="PickListValues"
                                     [(ngModel)]="field.PickListValues" (onAdd)="managePickList()"
                                     (onRemove)="managePickList()"></p-chips>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Default Value :
                        </div>
                        <div class="ui-grid-col-6">
                            <p-dropdown [options]="defaultPicklist"
                                        name="defaultPickListValues"
                                        [(ngModel)]="field.defaultPickListValues" filter="true"
                            ></p-dropdown>
                            <!--  <select class="form-control">
                                  <option value="">Select Default value</option>
                                  <option *ngFor="let p of pickListValue" value="{{p}}">{{p}}</option>
                              </select>-->
                        </div>
                    </div>
                </div>
                <!--Multi-Select Combo Box List-->
                <div *ngIf="checkDropDownFieldType(['Multi-Select Combo Box'])"
                     class="p5 ui-grid ui-grid-responsive ui-grid-pad">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Pick Name :
                        </div>
                        <div class="ui-grid-col-6">
                            <p-autoComplete name="PickListName" [(ngModel)]="field.PickListName" [size]="30"
                                            (onBlur)="onBlurName(field.PickListName)"
                                            [suggestions]="filteredPickList" (completeMethod)="filterPickList($event)"
                                            [minLength]="1">
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Pick list Values :
                        </div>
                        <div class="ui-grid-col-6">
                            <div style="max-height: 250px;overflow: auto;">
                                <p-chips *ngIf="prePickListValues.length>0" name="prePickListValues"
                                         [(ngModel)]="prePickListValues" disabled="true"></p-chips>
                            </div>
                            <p-chips name="PickListValues" [(ngModel)]="field.PickListValues"></p-chips>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Default Value :
                        </div>
                        <div class="ui-grid-col-6">
                            <p-multiSelect [options]="multiplePickList(field.PickListValues,false)"></p-multiSelect>
                        </div>
                    </div>
                </div>

                <!--Percent Default Value-->
                <div *ngIf="checkDropDownFieldType(['Percent'])" class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Default Value :
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text" placeholder="Default Value"/>
                    </div>
                </div>
                <!--Date Default Value-->
                <div *ngIf="checkDropDownFieldType(['Date'])" class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Default Value :
                    </div>
                    <div class="ui-grid-col-6">
                        <p-calendar name="Default" [showIcon]="true"></p-calendar>
                    </div>
                </div>

                <!--file and Image-->
                <div *ngIf="checkDropDownFieldType(['File','Image'])" class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Size :
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text" name="Length" [(ngModel)]="field.Length" placeholder="Length"/>
                    </div>
                </div>
                <div *ngIf="checkDropDownFieldType(['File','Image'])" class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Allowed File Types :
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text" name="AllowedFileTypes" [(ngModel)]="field.AllowedFileTypes"
                               placeholder="Allowed File Types"/>
                    </div>
                </div>

            </div>
            <div class="ui-g-12 pl0">
                <ul class="ui-grid ui-grid-pad ui-grid-responsive field-highlight">
                    <li class="ui-lg-6 ui-g-12 highlight" [class.highlight]="field.IsMandatory">
                        <p-checkbox binary="true" label="Mandatory" name="IsMandatory"
                                    [(ngModel)]="field.IsMandatory"></p-checkbox>
                        <i class="fa fa-info-circle"></i>
                    </li>
                    <li class="ui-lg-6 ui-g-12" [class.highlight]="field.QuickCreate">

                        <p-checkbox binary="true" label="Quick Create" name="QuickCreate"
                                    [(ngModel)]="field.QuickCreate"></p-checkbox>
                        <i class="fa fa-plus"></i>
                    </li>

                    <li class="ui-lg-6 ui-g-12" [class.highlight]="field.HeaderView">
                        <p-checkbox binary="true" label="Header" name="HeaderView"
                                    [(ngModel)]="field.HeaderView"></p-checkbox>
                        <i class="fa fa-header"></i>
                    </li>
                    <!--   <li class="ui-lg-6 ui-g-12" [class.highlight]="field.MassEdit">
                           <i class="fa fa-pencil"></i> Mass Edit <input type="checkbox" name="MassEdit"
                                                                         [(ngModel)]="field.MassEdit">
                       </li>-->
                    <li class="ui-lg-6 ui-g-12" [class.highlight]="field.RecordIdentifier">

                        <p-checkbox binary="true" label="Row Identifier" name="RecordIdentifier"
                                    [(ngModel)]="field.RecordIdentifier"></p-checkbox>
                        <i class="fa fa-key"></i>
                    </li>
                    <!--   <li class="ui-lg-6 ui-g-12" [class.highlight]="field.display_in_list_view">

                           <p-checkbox binary="true" label="Add To List"
                                       name="display_in_list_view" [(ngModel)]="field.display_in_list_view">

                           </p-checkbox>
                           <i class="fa fa-table"></i>
                       </li>-->

                    <li class="ui-lg-6 ui-g-12" [class.highlight]="field.ShowInMobile">
                        <p-checkbox binary="true" label="Mobile" name="ShowInMobile"
                                    [(ngModel)]="field.ShowInMobile"></p-checkbox>
                        <i class="fa fa-mobile"></i>
                    </li>

                    <!--  <li class="ui-lg-6 ui-g-12" [class.highlight]="field.show_in_details">
                          <p-checkbox binary="true" [(ngModel)]="field.show_in_details" name="show_in_details"
                                      label="Details">
                          </p-checkbox>
                          <i class="fa fa-wpforms"></i>
                      </li>-->

                    <li class="ui-lg-6 ui-g-12" [class.highlight]="field.IsHidden">
                        <p-checkbox [(ngModel)]="field.IsHidden" name="IsHidden" label="Hidden" binary="true">
                        </p-checkbox>
                        <i class="fa fa-eye-slash"></i>
                    </li>
                    <!-- <li class="ui-lg-6 ui-g-12" [class.highlight]="is_mandatory">
                         <i class="fa fa-file-text-o"></i> Summary View <input type="checkbox" formControlName="record_identifier" [(ngModel)]="record_identifier">
                     </li>-->
                </ul>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" pButton label="Cancel" icon="fa-close" class="ui-button-secondary"
                    (click)="c('Close click')"></button>
            <button type="button" (click)="addFieldFormSubmit(bf)" pButton label="Save" icon="fa-check"
                    class="ui-button-primary" [disabled]="bf.invalid"></button>
        </div>
    </form>

</ng-template>

<ng-template #addBlockModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="ui-header-title">{{blockModalTitle}} Block</span>
        <!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>-->
    </div>
    <div class="modal-body">
        <form [formGroup]="blockMF" (ngSubmit)="blockModalFormSubmit(blockMF.value,blockMF.valid)" novalidate>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Block Name *:
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText formControlName="Name">
                        <small class="text-danger"
                               *ngIf="bmSubmittedForm && blockMF.get('Name').errors">
                            This field is required
                        </small>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Options (JSON):
                    </div>
                    <div class="ui-grid-col-6">
                        <textarea pInputTextarea formControlName="extra_options"></textarea>
                        <small class="text-danger"
                               *ngIf="bmSubmittedForm && blockMF.get('extra_options').errors">
                            This field is required
                        </small>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Seq Order :
                    </div>
                    <div class="ui-grid-col-6">
                        <p-spinner size="30" formControlName="SeqOrder"></p-spinner>
                        <small class="text-danger"
                               *ngIf="bmSubmittedForm && blockMF.get('SeqOrder').errors">
                            This field is required
                        </small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" pButton icon="fa-close" class="ui-button-secondary" label="Cancel"
                        (click)="c('Close click')"
                ></button>
                <button pButton icon="fa-check" class="ui-button-primary" label="Save"></button>
            </div>
        </form>
    </div>

</ng-template>
<ng-template #conditionsModal let-c="close" let-d="dismiss" let-size="lg">
    <div class="modal-header">
        <span class="ui-header-title">Preview</span>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="sf.conditions"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" pButton icon="fa-close" class="ui-button-secondary" label="Cancel"
                (click)="c('Close click')"
        ></button>
        <button pButton icon="fa-check" class="ui-button-primary" label="Save" (click)="conditionSave()"></button>
    </div>
</ng-template>
<ng-template #preViewModal let-c="close" let-d="dismiss" let-size="lg">
    <div class="modal-header">
        <span class="ui-header-title">Preview</span>
        <span class="device-buttons">
            <!--<button pButton label="HD" (click)="previewSize=1920"></button>-->
            <button pButton label="Desktop" (click)="previewSize=1366" icon="fa-desktop"></button>
            <button pButton label="Tab" (click)="previewSize=768" icon="fa-tablet"></button>
            <button pButton label="Mobile" (click)="previewSize=480" icon="fa-mobile"></button>
        </span>

        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>


    </div>
    <div class="modal-body">
        <div class="ui-helper-clearfix fullHeight"
             style="overflow: auto;width: 98%;height: 91%;position: absolute;overflow-y:hidden !important;left:49%;transform: translate(-49%,0);-webkit-transform: translate(-49%,0);">
            <iframe [style.width.px]="previewSize" [src]="previewUrl" height="100%">

            </iframe>

        </div>
    </div>
</ng-template>
