<p-dataTable [value]="dataRows" [rows]="10" [totalRecords]="totalRecords" [paginator]="true" [pageLinks]="3"
             (onLazyLoad)="loadDataLazy($event)" [lazy]="true" [responsive]="true"
             [rowsPerPageOptions]="[1,2,5,10,20,50,100,500,1000]" *ngIf="refreshTable">
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-header-title">List of Menus</span>
            <span class="f-r">
                <button type="button" pButton icon="fa-plus" [routerLink]="['0']" label="Add"></button>
            </span>
    </div>
  </p-header>
  <p-column header="Action">
    <ng-template let-row="rowData" pTemplate="body">
      <i [routerLink]="[''+row.pk_id]" class="btn-sm fa fa-edit"></i>
    <!--  <i (click)="onCreate(row)" class="btn-sm fa fa-edit"></i>-->
     <!-- <i (click)="onDelete(row)" class="btn-sm fa fa-trash"></i>-->
    </ng-template>
  </p-column>
  <p-column field="name" [sortable]="true" header="Name" [filter]="true">
  </p-column>
  <p-column field="user_type" [sortable]="true" header="User Type" [filter]="true">
  </p-column>
  <p-footer>
    <span class="ui-sub-header-title">Total Rows : {{totalRecords}}</span>
    <i class="btn btn-sm fa fa-refresh" (click)="tableReload()" style="float: right"></i>
  </p-footer>
</p-dataTable>


<p-dialog header="{{dialogTitle}}"   [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          styleClass="userdialog">
  <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="dataRow">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">Profile Name</div>
      <div class="ui-grid-col-8">
        <input pInputText id="name" [(ngModel)]="dataRow.name" required/>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">Profile Desc</div>
      <div class="ui-grid-col-8">
        <textarea pInputTextarea id="Desc" [(ngModel)]="dataRow.description" required></textarea>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">User Type</div>
      <div class="ui-grid-col-8">
        <p-dropdown appendTo="body"  required [filter]="true" [options]="userTypeList" name="user_type_id" [(ngModel)]="dataRow.user_type_id"></p-dropdown>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane  ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="dialogClose()" label="Cancel"></button>
      <button type="button" pButton icon="fa-check" (click)="onSave(dataRow)" label="Save"></button>
    </div>
  </p-footer>

</p-dialog>
