<tss-sub-head>
    <ul>
        <li>  <button pButton type="button" (click)="openItemModal(itemModal)"   icon="fa-eye" class="ui-button-secondary upload-hover" iconPos="left"
                      label="Preview"></button> </li>
    </ul>
</tss-sub-head>
<div class="ui-g ">
    <div class="reports-select-columns">
        <div class="ui-g-2 first-text">
            <ul>
                <li>Report Name</li>
                <li style="font-weight: bold">Product Sales</li>
            </ul>
        </div>
        <div class="ui-g-10 second-text">
            <ul>
                <li>Modules</li>
                <li style="font-weight: bold">Opportunities, Organizations, PBX Manager</li>
            </ul>
        </div>
    </div>
</div>
<p-panel header="Charts" [toggleable]="false" [style]="{'margin-bottom':'20px','margin-top':'15px'}">
    <div class="ui-g">
        <div class="ui-g-3">
            <div class="innerPadding" dnd-sortable-container
                 [dropZones]="['chart-zone']"
                 [sortableData]="colFields">
                <p class="m-0">charts types</p>
                <div class="clearfix chartsBag">
                    <p class="m-0" style="padding-left: 5px;">Pie</p>
                    <div class="piechart">
                        <p-chart type="pie" [data]="data"></p-chart>
                    </div>
                </div>
                <div class="clearfix chartsBag">
                    <p class="m-0" style="padding-left: 5px;">Line</p>
                    <div class="piechart">
                        <p-chart type="line" [data]="data" width="104px" height="104px"
                                 (onDataSelect)="selectData($event)"></p-chart>
                    </div>
                </div>
                <div class="clearfix chartsBag">
                    <p class="m-0" style="padding-left: 5px;">Bar</p>
                    <div class="piechart">
                        <p-chart type="bar" [data]="data" width="104px" height="104px"></p-chart>
                    </div>
                </div>
                <div class="clearfix chartsBag">
                    <p class="m-0" style="padding-left: 5px;">Donut</p>
                    <div class="piechart">
                        <p-chart type="doughnut" [data]="data"></p-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-9">
            <div class="main-flex ui-helper-clearfix">

                <!-- <div ngResizable style="position: absolute" [directions]="['left', 'right']" [minWidth]="20" [minHeight]="20">
                     <p-chart type="bar" [data]="data1"></p-chart>
                 </div>-->

            </div>
        </div>
    </div>
</p-panel>
<p-panel styleClass="module-create mt15">
    <p-header>
        <span class="ui-header-title" style="text-align: left">Calculations</span>
        <span class="f-r">
            <button pButton type="button" icon="fa-plus" class="" iconPos="left"
                    label="Add" (click)="openWidgetModal(addWidget)"></button>
        </span>
    </p-header>

    <div class="ui-g">
        <div class="ui-g-3">
            <div class="board ui-helper-clearfix">
                <div class="boardLeft">
                    <div class="icon-style">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
                <div class="boardRight">
                    <p class="ellipsis">TOTAL SERVICEMEN</p>
                    <h2>1,234</h2>
                </div>
                <div class="board-layer">
                    <i class="fa fa-cog"></i>
                </div>
            </div>
        </div>
        <div class="ui-g-3">
            <div class="board ui-helper-clearfix">
                <div class="boardLeft">
                    <div class="icon-style">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
                <div class="boardRight">
                    <p class="ellipsis">TOTAL SERVICEMEN</p>
                    <h2>1,234</h2>
                </div>
                <div class="board-layer">
                    <i class="fa fa-cog"></i>
                </div>
            </div>
        </div>
        <div class="ui-g-3">
            <div class="board ui-helper-clearfix">
                <div class="boardLeft">
                    <div class="icon-style">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
                <div class="boardRight">
                    <p class="ellipsis">TOTAL SERVICEMEN</p>
                    <h2>1,234</h2>
                </div>
                <div class="board-layer">
                    <i class="fa fa-cog"></i>
                </div>
            </div>
        </div>
        <div class="ui-g-3">
            <div class="board ui-helper-clearfix">
                <div class="boardLeft">
                    <div class="icon-style">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
                <div class="boardRight">
                    <p class="ellipsis">TOTAL SERVICEMEN</p>
                    <h2>1,234</h2>
                </div>
                <div class="board-layer">
                    <i class="fa fa-cog"></i>
                </div>
            </div>
        </div>
    </div>

</p-panel>
<p-panel styleClass="module-create mt15">
    <p-header>
        <span class="ui-header-title" style="text-align: left">Columns List</span>
    </p-header>

    <div class="ui-g">
        <div class="ui-g-3 pl0">
            <div class="ui-helper-clearfix serch_me">
                <span class="icon-place">
                    <input pInputText placeholder="Search"/>
                    <span class="icon-magnifier"></span>
                </span>
            </div>
            <div class="ui-helper-clearfix leftDiv" dnd-sortable-container
                 [dropZones]="['boxers-zone']"
                 [sortableData]="colFields">
                <div class="ui-listbox" style="width: 100%">
                    <ul class="ui-listbox-list">
                        <li class="ui-listbox-item ui-corner-all ui-widget-content"
                            *ngFor="let f of colFields;let unndx = index"
                            dnd-sortable
                            (onDropSuccess)="onDropSuccess($event,'unColField')"
                            [dragData]="f"
                            [sortableIndex]="unndx">
                            <i class="fa fa-arrows"></i>
                            {{f.display_label}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ui-g-9 pr0">
            <div class="ui-helper-clearfix" dnd-sortable-container
                 [dropZones]="['boxers-zone']" [sortableData]="selectedFields" dnd-droppable>
                <div class="ui-helper-clearfix ui-datatable ui-widget">
                    <ul class="ul-table">
                        <li *ngFor="let f of selectedFields;let ndx = index"
                            dnd-sortable
                            (onDropSuccess)="onDropSuccess($event,'colField')"
                            [dragData]="f"
                            [sortableIndex]="ndx"
                        ><h4>{{f.display_label}}</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</p-panel>
<div class="ui-g mt15">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">
        <span>
            <button pButton type="submit" label="Back" class="ui-button-danger"></button>
            <button pButton type="submit" label="SAVE & CONTINUE"></button>
            <button pButton type="button" label="CANCEL" class="ui-button-secondary"></button>
        </span>
    </div>
    <div class="ui-g-4"></div>
</div>
<!--modal here-->
<ng-template #itemModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="ui-header-title">Preview</span>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="ui-g ">
            <div class="reports-select-columns">
                <div class="ui-g-2 first-text">
                    <ul>
                        <li>Report Name</li>
                        <li style="font-weight: bold">Product Sales</li>
                    </ul>
                </div>
                <div class="ui-g-10 second-text">
                    <ul>
                        <li>Modules</li>
                        <li style="font-weight: bold">Opportunities, Organizations, PBX Manager</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ui-g mt15">
            <div class="ui-g-6">
                <p-chart type="bar" [data]="data1"></p-chart>
            </div>
            <div class="ui-g-6">
                <p-chart type="bar" [data]="data2"></p-chart>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3">
                <div class="board ui-helper-clearfix">
                    <div class="boardLeft">
                        <div class="icon-style">
                            <i class="fa fa-users"></i>
                        </div>
                    </div>
                    <div class="boardRight">
                        <p class="ellipsis">TOTAL SERVICEMEN</p>
                        <h2>1,234</h2>
                    </div>
                    <div class="board-layer">
                        <i class="fa fa-cog"></i>
                    </div>
                </div>
            </div>
            <div class="ui-g-3">
                <div class="board ui-helper-clearfix">
                    <div class="boardLeft">
                        <div class="icon-style">
                            <i class="fa fa-users"></i>
                        </div>
                    </div>
                    <div class="boardRight">
                        <p class="ellipsis">TOTAL SERVICEMEN</p>
                        <h2>1,234</h2>
                    </div>
                    <div class="board-layer">
                        <i class="fa fa-cog"></i>
                    </div>
                </div>
            </div>
            <div class="ui-g-3">
                <div class="board ui-helper-clearfix">
                    <div class="boardLeft">
                        <div class="icon-style">
                            <i class="fa fa-users"></i>
                        </div>
                    </div>
                    <div class="boardRight">
                        <p class="ellipsis">TOTAL SERVICEMEN</p>
                        <h2>1,234</h2>
                    </div>
                    <div class="board-layer">
                        <i class="fa fa-cog"></i>
                    </div>
                </div>
            </div>
            <div class="ui-g-3">
                <div class="board ui-helper-clearfix">
                    <div class="boardLeft">
                        <div class="icon-style">
                            <i class="fa fa-users"></i>
                        </div>
                    </div>
                    <div class="boardRight">
                        <p class="ellipsis">TOTAL SERVICEMEN</p>
                        <h2>1,234</h2>
                    </div>
                    <div class="board-layer">
                        <i class="fa fa-cog"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <p-dataTable [value]="cars">
                    <p-column field="Column-1" header="Column-1"></p-column>
                    <p-column field="Column-2" header="Column-2"></p-column>
                    <p-column field="Column-3" header="Column-3"></p-column>
                    <p-column field="Column-4" header="Column-4"></p-column>
                </p-dataTable>
            </div>
            <!--<div class="ui-g-3 pl0">
                <div class="ui-helper-clearfix serch_me">
                <span class="icon-place">
                    <input pInputText placeholder="Search"/>
                    <span class="icon-magnifier"></span>
                </span>
                </div>
                <div class="ui-helper-clearfix leftDiv" dnd-sortable-container
                     [dropZones]="['boxers-zone']"
                     [sortableData]="colFields">
                    <div class="ui-listbox" style="width: 100%">
                        <ul class="ui-listbox-list">
                            <li class="ui-listbox-item ui-corner-all ui-widget-content"
                                *ngFor="let f of colFields;let unndx = index"
                                dnd-sortable
                                (onDropSuccess)="onDropSuccess($event,'unColField')"
                                [dragData]="f"
                                [sortableIndex]="unndx">
                                <i class="fa fa-arrows"></i>
                                {{f.display_label}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ui-g-9 pr0">
                <div class="ui-helper-clearfix" dnd-sortable-container
                     [dropZones]="['boxers-zone']" [sortableData]="selectedFields" dnd-droppable>
                    <div class="ui-helper-clearfix ui-datatable ui-widget">
                        <ul class="ul-table">
                            <li *ngFor="let f of selectedFields;let ndx = index"
                                dnd-sortable
                                (onDropSuccess)="onDropSuccess($event,'colField')"
                                [dragData]="f"
                                [sortableIndex]="ndx"
                            ><h4>{{f.display_label}}</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</ng-template>

<!--add widget-->
<ng-template #addWidget let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="ui-header-title">Add Widget</span>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="itemFG" (ngSubmit)="myModalFormSubmit(itemFG.value,itemFG.valid)" novalidate>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Name *:
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText formControlName="name">
                        <small class="text-danger"
                               *ngIf="itemSubmittedForm && itemFG.get('name').errors">
                            This field is required
                        </small>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Widget Type :
                    </div>
                    <div class="ui-grid-col-6">
                        <p-dropdown [options]="widgetTypes" formControlName="widget_type"></p-dropdown>
                    </div>
                </div>

                <div class="ui-g">
                    <div class="ui-grid-col-4">
                        Html Template :
                    </div>
                    <div class="ui-grid-col-12">
                        <textarea pInputTextarea formControlName="html_template"></textarea>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Js Function Name :
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText formControlName="js_function_name">
                    </div>
                </div>


                <div class="ui-g">
                    <div class="ui-grid-col-4">
                        Js Code :
                    </div>
                    <div class="ui-grid-col-12">
                        <textarea pInputTextarea formControlName="js_code"></textarea>
                    </div>
                </div>

                <div class="ui-g">
                    <div class="ui-grid-col-4">
                        Query Code :
                    </div>
                    <div class="ui-grid-col-12">
                        <textarea pInputTextarea formControlName="query_code"></textarea>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">Call Required</div>
                    <div class="ui-grid-col-4">
                        <p-checkbox class="ui-grid-col-4"
                                    formControlName="call_required"
                                    label="" binary="true">
                        </p-checkbox>
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Seq Order * :
                    </div>
                    <div class="ui-grid-col-6">
                        <p-spinner formControlName="seq_order"></p-spinner>
                        <small class="text-danger"
                               *ngIf="itemSubmittedForm && itemFG.get('seq_order').errors">
                            This field is required
                        </small>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" pButton icon="fa-close" class="ui-button-secondary" label="Cancel"
                        (click)="c('Close click')"
                ></button>
                <button pButton icon="fa-check" class="ui-button-primary" label="Save"></button>
            </div>
        </form>
    </div>
</ng-template>