.reports-select-columns{width:100%;background-color: #f4f4f4;padding: 10px}
.first-text ul {margin:0;padding: 0}
.first-text ul li{list-style-type: none;}
.second-text ul{margin:0;padding: 0}
.second-text ul li{list-style-type: none;}

/*leftdiv styles*/
.leftDiv {
  -webkit-transition: all 0.5s;
  background-color: #EEE;
  height: 300px;
  overflow-y: hidden;
  position: relative;
  &:hover {
    overflow-y: auto;
  }
  ul {
    li {
      padding: 7.5px !important;
      border: 1px solid transparent;
      margin: 5px 0px;
      &:last-child {
        margin-bottom: 0px;
      }
      &:first-child {
        margin-top: 0px;
      }
      &:hover {
        background-color: #FFF;
        border: 1px solid #4986e7 !important;
      }
    }
  }
}

.leftDiv::-webkit-scrollbar {
  width: 4px;
  background-color: #FFF;
}

.leftDiv::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}

.leftDiv::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}



/*cards*/
ul.ul-table {
  overflow-x: auto;
  width: 100%;
  min-height: 336px;
  background-color: #EBEBEB;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
  li {
    display: table-cell;
    width: 1%;
    height: 336px;
    border: 1px solid #fff;
    background-color: #F5F3F5;
    z-index: 2;
    &.dnd-sortable-drag {
      border: 2px dashed #BDC8C9 !important;
      background-color: #E7F5FC;
      position: relative;
      z-index: 2;
      &:before {
        content: 'Drop Here';
        display: block;
        position: absolute;
        top:50%;
        left: 50%;
        margin-left: -30px;
        width: 60px;
        height: 20px;
      }
    }

    h4 {
      background-color: #D2D0D2;
      padding: 5px 8px;
      white-space: nowrap;
      margin: 0px;
      font-weight: normal;
    }
    .white-strip{
      padding: 13px;
      background: #fff;

      border-bottom: 1px solid #ccc;
    }
    .pink-strip{
      border-bottom: 1px solid #ccc;
      padding: 13px;
      background-color: #F1EEF6;
      border-top: none;
    }
  }
}
.serch_me{margin-bottom: 5px;}
.icon-place > span.icon-magnifier {position: absolute;right: 10px;top: 3px;}
/*graphs*/
.innerPadding{padding: 10px 20px; background-color:#F8F8F8;}
.chartHead{margin: 0px; padding: 5px; background-color: #F0F0F0;}


.demo{
  position: absolute;
  border: 5px solid #ccc;
  padding: 5px 35px;
  a.fa-cog{
    display: none;
  }
  &:hover{
    border:5px solid #00a6dd;
    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 40px;
      background: #00a6dd;
      top: 50%;
      left: 0;
      margin-top: -20px;
    }
    &:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 40px;
      background: #00a6dd;
      top: 50%;
      right: 0;
      margin-top: -20px;
    }
    a.fa-cog {
      position: absolute;
      top: 0;
      right: 0;
      background: #00a6dd;
      padding: 10px;
      color: #fff;
      display: block;
    }
  }

}
.chartsBag{background-color: #F3F3F3; padding-top: 5px;}
.main-chart{
  display: flex;
  width: 100%;
  height: 600px;
  .chart{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
/*
.group-buttons{
  width: 100%;
  position: relative;
  p{
    position: absolute;
    left: 50%;
    margin-bottom: 0 !important;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
  }
}*/
