<button type="button" (click)="popoverIcon.toggle($event)" pButton icon="{{value || 'fa'}}"></button>
<p-overlayPanel #popoverIcon [showCloseIcon]="true" appendTo="body">
    <div style="max-width: 450px;">
        <input pInputText type="text" placeholder="Seach" name="searchKey" [(ngModel)]="searchKey.label">
        <div style="height: 250px;overflow: auto;">
            <div *ngFor="let fontIcon of iconsList ">
                <h2>{{fontIcon.fontName}} </h2>
                <div class="ui-g">
                    <div class="ui-g-2 p5" *ngFor="let icon of fontIcon.list | filterBy: searchKey">
                        <i (click)="selectedIcon(popoverIcon,$event,icon)" class="fa {{icon.icon}}"
                           style="font-size: 32px;"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</p-overlayPanel>
