<header class="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle><i class="fa fa-bars"></i></button>
        <a href="#" class="navbar-toggler sidebar-toggle hidden-md-down icon-color" style="float: left; color: #FFF;"><i
                class="fa fa-bars"></i></a>
        <a class="navbar-brand" href="#">
        </a>

        <ul class="nav navbar-nav hidden-md-down navbar-brand">
            <!-- <li class="nav-item" >
                 <a class="nav-link navbar-toggler sidebar-toggle" href="#"><i class="icon-options"></i></a>
             </li>-->
            <!--          <li class="nav-item px-3" *ngIf="moduleDropDownShow">
                          <select [(ngModel)]="selectedMenuModule2" (ngModelChange)="onChangeMenuModule($event)">
                              <option *ngFor="let m of menuObject" [selected]="menuGroup == m.data.group_name" [ngValue]="m" >{{m.data.group_name}}</option>
                          </select>
                      </li>-->
            <!--
              <li class="nav-item px-1">
                  <a class="nav-link" href="#">Dashboard</a>
              </li>
              <li class="nav-item px-1">
                  <a class="nav-link" href="#">Users</a>
              </li>
              <li class="nav-item px-1">
                  <a class="nav-link" href="#">Settings</a>
              </li>-->
        </ul>
        <ul class="nav navbar-nav float-xs-right">
            <!--<li class="nav-item hidden-md-down">
               <button (click)="httpService.popupLoin()">login Popup</button>
            </li>-->
            <li class="nav-item">
                <a [mdMenuTriggerFor]="menu" class="theme-style">
                    <i class="fa fa-tint icon"></i>
                </a>
                <md-menu #menu="mdMenu" classList="positionMenu">
                    <ul class="theme-list">
                        <li *ngFor="let theme of themes" (click)="changeTheme(theme.id)" [class.selectedTheme]="theme.id == selectedThemeId">
                                <span class='{{theme.class}}'>
                                    <i class="fa fa-check"></i>
                                </span>
                        </li>
                    </ul>

                </md-menu>
            </li>
            <!--<li class="nav-item" style="line-height: 23px;margin-top: 11px !important;width: 120px !important;">
                <p-dropdown [options]="colors" name="theme" [(ngModel)]="selectedCity" #myId (onChange)="changeTheme(myId.value.id)"></p-dropdown>
            </li>-->
            <li class="nav-item hidden-md-down">
                <a class="nav-link" href="#"><i class="icon-bell"></i><span class="tag tag-pill tag-danger">5</span></a>
            </li>
            <!--   <li class="nav-item hidden-md-down">
                   <a class="nav-link" href="#"><i class="icon-list"></i></a>

               </li>-->
            <li class="nav-item dropdown" *ngIf="moduleDropDownShow">
                <span class="btn-sm nav-link dropdown-toggle dropdown-module" style="cursor: pointer"
                      (click)="moduledropdown.toggle($event)">
                    <span>{{menuGroup}}</span>
                </span>
                <p-menu appendTo="body" #moduledropdown popup="popup" [model]="menuModuleList"></p-menu>

                <p-overlayPanel appendTo="body">
                    <div class="ui-menu ui-widget ui-widget-content ui-corner-all ui-helper-clearfix">
                        <ul class="ui-menu-list ui-helper-reset">
                            <li class="ui-menuitem ui-widget ui-corner-all" *ngFor="let m of menuObject">
                              <span class="btn ui-menuitem-link ui-corner-all" (click)="onChangeMenuModule(m)">
                                  <i class="fa {{m.icon_class}}"></i> <span
                                      class="ui-menuitem-text">{{m.group_name}}</span>
                              </span>
                            </li>
                        </ul>
                    </div>
                </p-overlayPanel>
            </li>
            <!--          <li class="nav-item hidden-md-down">
                          <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
                      </li>-->

            <li class="nav-item dropdown hidden-md-down">
                <span class="btn-sm nav-link dropdown-toggle" style="cursor: pointer"
                      (click)="userdropdown.toggle($event)">
                    <img src="assets/img/avatars/default-user.png" class="img-avatar" alt="{{userName}}">
                    <span>{{userName}}</span>
                </span>

            </li>
        </ul>

    </div>
</header>
<p-menu appendTo="body" #userdropdown popup="popup" [model]="userDropDownItem"></p-menu>
<div class="sidebar">
    <nav class="sidebar-nav">
        <!--<div class="menu-search">
          <input type="text" pInputText #searchKey placeholder="Search"/>
          <i class="fa fa-search"></i>
        </div>-->
        <div class="hidden-lg-up mobile-view">
            <img src="assets/img/avatars/default-user.png" class="img-avatar" alt="{{userName}}">

            <span class="btn-sm nav-link dropdown-toggle" style="cursor: pointer; color: black; width: 100%"
                  (click)="userdropdown.toggle($event)">
                <span title="{{userName}}"
                      style="text-overflow: ellipsis; white-space: nowrap; width: 80%; overflow: hidden; display: inline-block;">{{userName}}</span>
            </span>
        </div>
        <ul class="nav">
            <li class="nav-item nav-dropdown" [class.nav-dropdown]="m.sub" routerLinkActive="open"
                *ngFor="let m of menuItems; let ndx = index">
                <a title="{{m.name}}" *ngIf="m.sub" class="nav-link nav-dropdown-toggle ellipsis"
                   [class.nav-dropdown-toggle]="m.sub" href="#">
                    <i class="fa {{m.icon_class}}"></i>{{m.name}}
                </a>
                <a (click)="closeMenu()" title="{{m.name}}" *ngIf="!m.sub" routerLinkActive="active"
                   class="nav-link ellipsis" [routerLink]="['/'+m.url]">
                    <i class="fa {{m.icon_class}}"></i>{{m.name}}
                </a>
                <ul class="nav-dropdown-items" *ngIf="m.sub">
                    <li class="nav-item" *ngFor="let sm of m.sub; let sndx = index">
                        <a (click)="closeMenu()" title="{{sm.display_name}}" class="nav-link ellipsis"
                           routerLinkActive="active" [routerLink]="['/'+sm.url]">
                            <i class="fa  {{sm.module_icon || 'fa-bars'}}"></i>{{sm.display_name}}</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!--        <ul class="nav">
                    <li class="nav-item nav-dropdown"  [class.nav-dropdown]="m.list.length>1" routerLinkActive="open" *ngFor="let m of menuItems; let ndx = index">
                        <a *ngIf="m.list.length>1"  class="nav-link nav-dropdown-toggle" [class.nav-dropdown-toggle]="m.list.length>1" href="#">
                            <i class="fa {{m.data.icon_class}}">{{m.data.name.charAt(0)}}</i>{{m.data.name}}
                        </a>
                        <a *ngIf="m.list.length==1 && m.list[0].type=='AUTOMATIC' "  routerLinkActive="active" class="nav-link nav-dropdown-toggle" [class.nav-dropdown-toggle]="m.list.length>1" [routerLink]="['/tss/'+menuGroup+'/'+m.data.name+'/'+m.list[0].module]">
                            <i class="fa {{m.data.icon_class}}">{{m.data.name.charAt(0)}}</i>{{m.data.name}}
                        </a>
                        <a *ngIf="m.list.length==1 && m.list[0].type !='AUTOMATIC'"  routerLinkActive="active" class="nav-link nav-dropdown-toggle" [class.nav-dropdown-toggle]="m.list.length>1" [routerLink]="['/Custom/'+m.list[0].module]">
                            <i class="fa {{m.data.icon_class}}">{{m.data.name.charAt(0)}}</i>{{m.data.name}}
                        </a>
                        <ul class="nav-dropdown-items" *ngIf="m.list.length>1">
                            <li class="nav-item"     *ngFor="let sm of m.list; let sndx = index">
                                <a *ngIf="sm.type=='AUTOMATIC'" class="nav-link" routerLinkActive="active" [routerLink]="['/tss',menuGroup,m.data.name,sm.module]">
                                    <i class="fa  {{sm.module_icon || 'fa-bars'}}"></i>{{sm.display_name}}</a>
                                <a *ngIf="sm.type!='AUTOMATIC'" class="nav-link" routerLinkActive="active" [routerLink]="['/Custom/'+sm.module]"><i
                                        class="icon-puzzle"></i>{{sm.display_name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>-->
        <!--<ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i
                        class="icon-speedometer"></i> Dashboard <span class="tag tag-info">NEW</span></a>
            </li>

            <li class="divider"></li>
            <li class="nav-title">
                UI Elements
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> My Module</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/test']"><i
                                class="icon-puzzle"></i> Test</a>
                    </li>
                </ul>
            </li>
            <li class="nav-title">
                UI Elements
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Components</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/buttons']"><i
                                class="icon-puzzle"></i> Buttons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/social-buttons']"><i
                                class="icon-puzzle"></i> Social Buttons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/cards']"><i
                                class="icon-puzzle"></i> Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/forms']"><i
                                class="icon-puzzle"></i> Forms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/modals']"><i
                                class="icon-puzzle"></i> Modals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/switches']"><i
                                class="icon-puzzle"></i> Switches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/tables']"><i
                                class="icon-puzzle"></i> Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/tabs']"><i
                                class="icon-puzzle"></i> Tabs</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Icons</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/font-awesome']"><i
                                class="icon-star"></i> Font Awesome</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/icons/simple-line-icons']"><i
                                class="icon-star"></i> Simple Line Icons</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/widgets']"><i
                        class="icon-calculator"></i> Widgets <span class="tag tag-info">NEW</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/charts']"><i class="icon-pie-chart"></i>
                    Charts</a>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                Extras
            </li>
        </ul>-->
    </nav>
</div>

<!-- Main content -->

<main class="main">
    <!-- Breadcrumb -->
    <div class="breadcrumb" *ngIf="objBreadcrumbs.length>0" style="position: relative">
        <!--   <li class="breadcrumb-item" *ngIf="showBreadCrumbModuleLink"><a [routerLink]="['/Modules']">Main Modules</a> > </li>
         -->

        <div class="ui-header-title"><a *ngIf="backLink" [routerLink]="[''+backLink]" class="back-prev"><i
                class="iconmoon-close1"></i></a>{{objBreadcrumbs[objBreadcrumbs.length-1].label}}
        </div>

        <p-breadcrumb [model]="objBreadcrumbs"></p-breadcrumb>

        <!-- Breadcrumb Menu-->
        <!--<li class="breadcrumb-menu">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
                <a class="btn btn-secondary" [routerLink]="['/dashboard']"><i class="icon-graph"></i>
                    &nbsp;Dashboard</a>
                <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
            </div>
        </li>-->

    </div>

    <div id="layout-content">
        <div class="loading-overlay http-service" [hidden]="httpService.pendingRequestsNumber ==0">
            <img src="assets/img/loading.gif" style="width: 75px">
            <!-- show something fancy here, here with Angular 2 Material's loading bar or circle -->
        </div>
        <div class="loading-overlay" *ngIf="loading">
            <img src="assets/img/loading.gif" style="width: 75px">
            <!-- show something fancy here, here with Angular 2 Material's loading bar or circle -->
        </div>
        <router-outlet>
        </router-outlet>
    </div>
    <!-- /.conainer-fluid -->
</main>

<ng-template #changePasswordContent let-c="close" let-d="dismiss">
   <div class="modal-header">
        <span class="ui-header-title">Change Password</span>
        <span class="f-r">
            <i class="btn-sm fa fa-close" (click)="d('Cross click')"></i>
        </span>
    </div>
    <div class="modal-body">
        <form #ngCPswd="ngForm" autocomplete="off">
            <div class="ui-grid ui-grid-responsive ui-grid-pad">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">Old Password *:</div>
                    <div class="ui-grid-col-8">
                        <input type="password" [(ngModel)]="cPswd.currentPassword" name="currentPassword" pInputText
                               required/>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">New Password *:</div>
                    <div class="ui-grid-col-8">
                        <input type="password" pPassword [(ngModel)]="cPswd.newPassword" name="newPassword" appendTo="body"
                               required promptLabel="Enter password"/>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">Confirm Password *:</div>
                    <div class="ui-grid-col-8">
                        <input type="password" pPassword [(ngModel)]="cPswd.confirmPassword" name="confirmPassword"
                               appendTo="body" required promptLabel="Enter password"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="ChangePassword(ngCPswd)" label="Save"
                    [disabled]="ngCPswd.invalid || cPswd.newPassword != cPswd.confirmPassword"></button>
            <button type="button" class="ui-button-secondary" pButton icon="fa-close" (click)="d('Cross click')"
                    label="Cancel"></button>
        </div>
    </div>
</ng-template>
<ng-template #reLoginContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="ui-header-title">Login</span>
        <span class="f-r">
            <i class="btn-sm fa fa-close" (click)="d('Cross click')"></i>
        </span>
    </div>
    <div class="modal-body">
        <form #ngReloginForm="ngForm" autocomplete="off">
            <div class="ui-grid ui-grid-responsive ui-grid-pad">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">User Name *:</div>
                    <div class="ui-grid-col-8">
                        {{reLoginObj.UserName}}
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">Password *:</div>
                    <div class="ui-grid-col-8">
                        <input type="password" [(ngModel)]="reLoginObj.Password" name="Password" pInputText
                               required/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="submitLogin()" label="Login"
                    [disabled]="ngReloginForm.invalid"></button>
        </div>
    </div>
</ng-template>

<!--<p-dialog header="Change Password" appendTo="body" responsive="true" [draggable]="false" [(visible)]="passwordDialog"
          [modal]="true" width="360">
    <form #ngCPswd="ngForm" autocomplete="off">
        <div class="ui-grid ui-grid-responsive ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">Old Password *:</div>
                <div class="ui-grid-col-8">
                    <input type="password" [(ngModel)]="cPswd.currentPassword" name="currentPassword" pInputText
                           required/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">New Password *:</div>
                <div class="ui-grid-col-8">
                    <input type="password" pPassword [(ngModel)]="cPswd.newPassword" name="newPassword" appendTo="body"
                           required promptLabel="Enter password"/>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">Confirm Password *:</div>
                <div class="ui-grid-col-8">
                    <input type="password" pPassword [(ngModel)]="cPswd.confirmPassword" name="confirmPassword"
                           appendTo="body" required promptLabel="Enter password"/>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="ChangePassword(ngCPswd)" label="Save"
                    [disabled]="ngCPswd.invalid || cPswd.newPassword != cPswd.confirmPassword"></button>
            <button type="button" class="ui-button-secondary" pButton icon="fa-close" (click)="passwordDialog=false"
                    label="Cancel"></button>
        </div>
    </p-footer>
</p-dialog>-->

<footer class="footer">
    <span class="text-left">
        <a href="http://www.thresholdsoft.com">Threshold</a> &copy; 2017.
    </span>
    <span class="float-xs-right">
        Powered by <a href="http://www.thresholdsoft.com">Threshold</a>
    </span>
</footer>

