<router-outlet></router-outlet>
<div class="loading-overlay http-service" [hidden]="httpService.pendingRequestsNumber ==0">
    <img src="assets/img/loading.gif" style="width: 75px">
    <!-- show something fancy here, here with Angular 2 Material's loading bar or circle -->
</div>
<div class="loading-overlay" *ngIf="loading">
    <img src="assets/img/loading.gif" style="width: 75px">
    <!-- show something fancy here, here with Angular 2 Material's loading bar or circle -->
</div>

