<div class="ui-helper-clearfix">
  <p-dataTable [value]="dataRows" *ngIf="refreshTable"
               [rows]="10" [totalRecords]="totalRecords"
               [paginator]="true"
               [pageLinks]="3"
               (onLazyLoad)="loadDataLazy($event)"
               [lazy]="true"
               [responsive]="true"
               [rowsPerPageOptions]="[5,10,20,50,100,500,1000]"
               [tableStyleClass]="'table-x-scroll'" scrollable="true" #dt>

    <p-header>
      <div class="ui-helper-clearfix">
        <span class="ui-header-title" style="text-align: left">Fields Unique Index</span>
                <span class="f-r">
                    <button type="button"
                            pButton icon="fa-plus"
                            (click)="openItemModal(itemModal)"
                            label="Add"></button>
                </span>
      </div>
    </p-header>
    <p-column field="name" [sortable]="true" header="Name"></p-column>
    <p-column field="fields" header="Fields">
     <ng-template  let-row="rowData"  pTemplate="body">
             <span *ngFor="let field of row.fields; let isLast=last">
             {{field.name}}{{isLast ? '' : ', '}}
            </span>
      </ng-template>
    </p-column>
    <p-column>
      <ng-template let-row="rowData" pTemplate="item">
        <!--<a [routerLink]="[row.pk_id+'/'+row.name]"><i class="btn fa fa-eye"></i></a>-->
        <i class="btn-sm fa fa-pencil" (click)="openItemModal(itemModal,row)"></i>
        <i class="btn-sm fa fa-trash" (click)="removeSelectedItem(row)"></i>
      </ng-template>
    </p-column>
    <p-footer>
      <span class="ui-sub-header-title">Total Rows : {{totalRecords}}</span>
      <i class="btn btn-sm fa fa-refresh" (click)="tableReload()" style="float: right"></i>
    </p-footer>
  </p-dataTable>

  <ng-template #itemModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <span class="ui-header-title">Add Unique Index</span>
      <!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>-->
    </div>
    <form [formGroup]="itemFG" (ngSubmit)="itemModalFormSubmit(itemFG.value,itemFG.valid)" novalidate>
      <div class="modal-body">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              Name *:
            </div>
            <div class="ui-grid-col-6">
              <input pInputText formControlName="name">
              <small class="text-danger"
                     *ngIf="itemSubmittedForm && itemFG.get('name').errors">
                This field is required
              </small>
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              Value *:
            </div>
            <div class="ui-grid-col-6">
              <p-multiSelect [options]="moduleFields" formControlName="fields" name="fields"></p-multiSelect>
              <small class="text-danger"
                     *ngIf="itemSubmittedForm && itemFG.get('fields').errors">
                This field is required
              </small>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" pButton icon="fa-close" class="ui-button-secondary" label="Cancel"
                (click)="c('Close click')"
        ></button>
        <button pButton icon="fa-check" class="ui-button-primary" label="Save"></button>
      </div>
    </form>
  </ng-template>

</div>