//adjustment alignment
.red-bg{background-color: red}
.green-bg{background-color: green}
.yellow-bg{background-color: #FF9800}
.p2{
  padding: 2.5px;
}
.p5{
  padding: 5px;
}
.p10{padding: 10px;}
.pt3{padding-top: 3px;}
.pt10{
  padding-top: 10px;
}
.pt0{padding-top: 0px;}
.pb0{padding-bottom: 0px;}
.pb10{
  padding-bottom: 10px;
}
.pb0{padding-bottom: 0px;}
.p10{
  padding: 10px;
}
.pb-5{padding-bottom: 5px;}
.f-r{
  float: right;
}
.f-l{
  float: left;
}
.pt-0{padding-top: 0px;}
.text-center {
  text-align: center;
}
.mb10{margin-bottom: 10px;}
.p0{padding: 0px !important;}
.pl5{padding-left: 5px}
.pr5{padding-right: 5px}
.pl2{padding-left: 2px !important;}
.pl0{padding-left: 0px !important;}
.pr0{padding-right: 0px !important;}
.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block !important;
}
.weight-none{font-weight: normal !important;}
@media (max-width: 768px){
  .pl5{padding-left: 0px}
  .pr5{padding-right: 0px}
}
// scss-lint:disable QualifyingElement



