.breadcrumb {
  background-color: $breadcrumb-bg;
  padding: 0 10px 0 10px;
  @media (min-width: 1367px) {
    padding: 0 20px 0px 20px;
  }

  @media (max-width: 480px) {
    padding: 0 10px 0px 10px;
  }
}
.breadcrumb .ui-header-title{
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  @media (max-width: 640px) {
    font-size: 16px;
  }
}
.breadcrumb .ui-breadcrumb a,.ui-breadcrumb ul li
{
  color: #989698;
  font-size: 12px;
}
.breadcrumb .ui-corner-all{
 border-radius: 0px;
}
.breadcrumb .ui-widget-header{
 border: 0;
}
.breadcrumb .ui-breadcrumb ul li.fa-chevron-right:before{
  font-size: 10px;
}
.breadcrumb  .ui-state-active,.breadcrumb .ui-state-active {
  border-color: #bebebe;
  background: none !important;
  color: cadetblue !important;
  cursor: pointer !important;
}
.breadcrumb  .ui-breadcrumb ul li .ui-menuitem-link {
  text-decoration: none;
  cursor: default;
}
.breadcrumb  .ui-breadcrumb{padding: 0px;padding-bottom: 5px;}