//buttons
.ui-button.ui-button-secondary:hover{
  background-color: transparent !important;
  color: #0a0a0a;
}
// Button styles
.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

//
// Button Sizes
//

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-border-radius-lg);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
  cursor: pointer;
}
.btn-default-style{text-align: center;
  color: #CCC;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0px !important;
  line-height: 22px;
  padding: 0.09em 4px;
  text-decoration: none !important;
  @media (max-width: 991px) {
    display: block;
    margin-bottom: 5px;
  }
  .fa{color: #ccc;font-size: 12px;}
  &:hover,&:hover .fa{
    color: #2196F3;
    border-color: #2196F3;
  }
}
.btn-default-style,.btn-default-style .fa{color: #0a0a0a;}
/*.upload-hover:hover span{color: #2196F3 !important;}*/
.upload-hover:hover{border-color: #2196F3 !important;}