
.ui-datalist, .ui-datatable {
  .ui-datalist-header, .ui-datatable-header {
    background-color: #ffffff !important;
    border-radius: $no-border-radius;
    background: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    /* padding: 15px !important;*/
  }
  .ui-paginator-bottom {
    background-color: #ffffff !important;
    border-radius: 0px 0px 10px 10px;
    background: none;
    .ui-paginator-page {
      border-color: #ccc;
      line-height: 20px;
      &.ui-state-active {
        background: #25aa99;
        color: #ffffff;
        border-color: #25aa99;
      }
    }
    .ui-paginator-last, .ui-paginator-next, .ui-paginator-first, .ui-paginator-prev {
      border: none;
    }

  }

}

.ui-datatable-scrollable-wrapper {
  position: relative;
  /*border-left: 1px solid #d9d9d9;*/
  padding: 0 10px;
  /*border-right: 1px solid #d9d9d9;*/
  background: #fff;
}

.ui-datatable .ui-datatable-header .ui-header-title {
  float: left;
}

.ui-datatable .ui-datatable-footer {
  border: 0px !important;
  margin-top: -37px;
  text-align: left !important;
}

.ui-datatable-scrollable-header-box {
  margin-right: 0px !important;
}

.ui-datatable-scrollable-colgroup {
  @media screen and (max-width: 560px) {
    display: none !important;
  }
}

.ui-datatable-scrollable-wrapper {
  padding: 10px;
  border: 1px solid lightgray !important;
}

.table-widget .ui-datatable-tablewrapper {
  padding: 10px;
  background-color: white;
  border: 1px solid lightgray !important;
  @media (max-width: 640px) {
    padding: 0px;
  }
}

.serach-icon {
  margin-left: -25px;
  margin-top: 4px;
}

.trash-icon {
  padding: 6px 8px;
  border: 1px solid lightgray;
  height: 30px;
  cursor: pointer
}

.trash-icon:hover {
  border-color: deepskyblue;
  color: #2196F3
}

.table-widget .ui-multiselect-label {
  margin-bottom: 0px !important;
  font-weight: normal
}

.table-widget .ui-datatable-tablewrapper tr.ui-widget-content td {
  border: 1px solid transparent !important;
  position: relative;
  transition: all 0.3s ease;
}

.table-widget .ui-datatable-tablewrapper tr.ui-widget-content:hover {
  border-color: #2196F3 !important;
  background-color: rgba(1, 174, 240, 0.05);
  transition: all 0.3s ease
}

.table-widget .ui-datatable-tablewrapper tr.ui-widget-content td:hover .icon-pos .fa-pencil {
  display: inline-block !important;
}

.ui-widget-content {
  border-color: lightgray !important;
}

.data-list .item-field {
  margin-bottom: 0px !important;
}

@media (max-width: 640px) {
  .data-list .resp-pad {
    padding: 0px;
  }
}

.data-list .ui-widget-header {
  padding-left: 10px !important;
  padding-right: 10px !important;
  @media (max-width: 360px) {
    padding-left: 9px !important;
    padding-right: 9px !important;
  }
}

.table-widget .ui-datatable-data tr.ui-widget-content.ui-datatable-even {
  background-color: #F0EFF5;
}

.sortIcon {
  position: absolute;
  top: 5px;
  left: 8px;
  z-index: 99
}

.sortingList {;
  width: 170px !important;
  position: relative;
  @media (max-width: 640px) {
    margin-top: 5px;
    width: 100% !important;
    position: relative;
    display: block;
  }
}

.sortingText {
  width: 170px !important;
  text-align: left !important;
  @media (max-width: 800px) {
    margin-top: 5px;
  }
}

@media (max-width: 800px) {
  .trash-icon {
    padding: 6px;
  }
}

@media (max-width: 640px) {
  .pad-right-mob {
    padding-right: 0;
  }
  .sortIcon {
    top: 8px;
  }
}

body .sub-table-header table thead > tr > th span.ui-column-title {
  display: block !important;
}

.ui-datatable-header span.ui-header-title {
  padding: 4px 0px;
}

.data-list .ui-datatable-stacked .ui-datatable-data tr.ui-widget-content {
  border-left: 1px solid;
  border-right: 1px solid;
}

.data-list .ui-datatable.ui-datatable-stacked .ui-datatable-data > tr > td {
  float: none;
}

.data-list .ui-datatable.ui-datatable-stacked .ui-datatable-data > tr > td:first-child {
  vertical-align: top;
  padding-top: 10px;
}

.data-list .ui-datatable tbody > tr.ui-widget-content.ui-state-highlight {
  background-color: #186ba0 !important;
  color: #FFFFFF;
}
.data-list table tr > td p-dtcheckbox{
  position: absolute;
  top:-4px;
  right: 0px;
  margin: 5px;
}
.data-list table tr > td.with-image p-dtcheckbox{
 /*left: 120px;*/

}