.calendar-view{
  .month-view{
    padding: 0;
    background-color: #1d6280;
    .month-list{
      width: 78%;
      @media (max-width: 640px){
        width: 60%;
      }
      @media (max-width: 359px){
        width: 52%;
      }
      padding: 0;
      text-align: center;
      font-size: 21px;
      display: inline-block;
      vertical-align: middle;
      .mat-tab-group {
        .mat-tab-header, .mat-tab-nav-bar {
          border-bottom: none !important;
          .mat-ink-bar {
            background-color: #e25d58 !important;
          }
        }
        .mat-tab-label{
          min-width: 70px !important;
          font-size: 20px;
          color: #fff;
          height: auto;
          line-height: 45px;
          opacity: 1;
          &.mat-tab-label-active{
            color: #6acaf4;
          }
          &:hover{
            color:#6acaf4;
          }
        }
      }
    }
    .dp-cal,.dp-calYear{
      width: 11%;
      @media (max-width: 640px){
        width: 20%;
      }
      @media (max-width: 359px){
        width: 24%;
      }
      background: #13455c;
      .daily-dp,.yearly-dp{
        background: #13455c;
        width: 100%;
        height: 100%;
        .mat-select-arrow, .mat-select-disabled .mat-select-value, .mat-select-trigger {
          color: #fff !important;
          .mat-select-underline{
            height: 0px;
          }
        }
        .mat-select-trigger{min-width: 100%;}
      }
    }
  }
  .days-view{
    padding-bottom: 0;
    .mat-tab-header {
      background: #e1e8ea;
      border-bottom: none;
      .mat-ink-bar {
        background-color: #e25d58 !important;
      }
      .mat-tab-label {
        line-height: 18px !important;
        padding-top: 7px;
        opacity: 1;
        &.mat-tab-label-active{
          background-color: #5584ff;
          span{
            color: #fff !important;
          }
        }
        span{
          &:first-child{
            font-size: 10px;
            color: #999e9f;
          }
          &:last-child{
            font-size: 21px;
            color: #313131;
          }
        }
      }
    }
  }
  .cal-dataList{
    padding: 0;
    background-color: #e7e9e8;
    ul {
      list-style: none;
      padding-left: 0;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background: #ccc;
        display: block;
        left: 5%;
        top:0;
        z-index: -1;
      }
      li {
        position: relative;
        display: table;
        width: 100%;
        .cal-dataList-Left {
          display: table-cell;
          width: 10%;
          vertical-align: middle;
          text-align: center;
          span{
            background: #eeeeee;
            padding: 2px 5px;
            font-size: 18px;
            small{
              font-size: 10px;
              vertical-align: top;
              display: inline-block;
              margin-top: 5px;
            }
          }
        }
        .cal-dataList-Right {
          display: table-cell;
          padding: 10px;
          background: #eeeeee;
          border-bottom: 1px solid #d8d8d8;
          .meeting-desc{
            line-height: 14px;
            display: inline-block;
            p {
              margin-bottom: 0;
              font-size: 20px;
              color: #2b2b2b;
              a{
                background: #5584ff;
                font-size: 10px;
                color: #fff;
                padding: 2px 5px;
                border-radius: 6px;
              }
            }
            .sub-text{
              color:#6f6f6f;
              font-size: 13px;
            }
          }
          .iconWith-text{
            display:inline-block ;
            float: right;
            padding: 7px 20px 0px;
            span{
              padding-right: 5px;
              i{
                font-size: 12px;
              }
            }
          }
          .meeting-status{
            font-size: 18px;
          }
        }
      }
    }
  }
}
.create-meeting{
  background: #eeeeee;
  .meeting-tabs{
    background-color: #1d6280;
    .mat-tab-group {
      .mat-tab-header, .mat-tab-nav-bar {
        border-bottom: none !important;
        .mat-ink-bar {
          background-color: #e25d58 !important;
        }
      }
      .mat-tab-label{
        max-width: 100% !important;
        font-size: 18px;
        color: #fff;
        height: auto;
        line-height: 45px;
        opacity: 1;
        &.mat-tab-label-active{
          color: #e8b245;
        }
        &:hover{
          color:#e8b245;
        }
      }
    }
  }
  .meeting-table{
    table{
      width: 100%;
      tr{
        &:nth-of-type(even){
          background-color: #d9e0e3;
        }
        &:nth-of-type(odd){
          background-color: #eeeeee;
        }
        td{
          padding: 5px;
          font-size: 18px;
          &:first-child{
            vertical-align: top;
            color: #13455b;
            font-weight: bold;
            text-align: right;
          }
          &:last-child{
            vertical-align: middle;
            label{
              color: #13455b;
              margin-bottom: 0px;
            }
          }
          .meetingTable-rightContent{
            border-bottom: 1px solid #d8d8d8;
            &:last-child{
              border-bottom: none;
            }
            .first-span,.second-span{
              width: 50%;
              display: inline-block;
              float: left;
              label{
                margin-bottom: 0;
              }
            }
            .search-meeting {
              position: relative;
              input{
                border: none;
                background: transparent;
                border-bottom: 1px solid #d8d8d8;
              }
              .search-meeting-icons{
                position: absolute;
                top: 5px;;
                right: 5px;
                font-size: 12px;
                .green-btn{
                  background: #aee02f;
                  border-radius: 10px !important;
                  border: 1px solid #aee02f;
                  color: #333;
                }
              }
            }
            .participants-list{

              .participant{
                display: inline-block;
                text-align: center;
                min-width: 70px;
                img{
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  margin: 0 auto;
                }
                label{
                  display: block;
                  text-align: center;
                  font-size: 16px;
                  color: #333333;
                }
              }
            }
            .custom-checks{
              .checkbox-label{
                padding-right: 10px;
                background-color: transparent;
                font-size: 16px;
              }
            }
            .ui-state-default{
            }
          }

        }
      }
    }
    .inner-ul{
      ul{
        padding-left: 0;
        list-style: none;
        li{
          position: relative;
          .inner-left{
            position: absolute;
            span{
              background: #fff;
              padding: 5px;
              border-radius: 7px;
            }
          }
          .inner-right{
            .inner-content{
              h4{
                color: #2b2b2b;
              }
              label{
                display: block;
                color: #6f6f6f;
              }
              span{
                color: #6f6f6f;
              }
            }
          }
        }
      }
    }
  }
  .drag-meetings{
    background: #e4e4e4;
    padding: 15px;
    p{
      font-size: 16px;
      color: #000;
      i{
        height: 25px;
        float: left;
        padding-top: 5px;
        padding-right: 7px;
        font-size: 18px;
      }
    }
    ul{
      padding-left:0;
      list-style: none;
      li{
        padding: 15px 20px;
        &:nth-of-type(even){
          background-color: #e1e8ea;
        }
        &:nth-of-type(odd){
          background-color: #ececec;
        }
        h4{
          font-size: 18px;
          color: #2b2b2b;
          font-family: Roboto;
          margin-bottom: 0;
        }
        span{
          font-size: 16px;
          color: #797979;
        }
      }
    }
  }
}
.meeting-head{
  background-color: #EBECF1;
  p{
    margin-bottom: 0;
    font-size: 20px;
    color: #2b2b2b;
    font-weight: 600;
  }
}
.skyBlue{color:#5584ff;}
.yellow{color:#ffc916;}
.orange{color:#f19038;}
.red{color:#f19038;}
.grey-clr{color: #999999;}
.small-size{padding: 1px 4px;font-size: 12px;}
