 .no-header > .ui-panel-titlebar{
  display: none;
}
.ui-panel.ui-widget {
  padding: 0;
  border-radius: $no-border-radius;
}
.ui-widget-header {
     background: #f6f7f9 0 0 repeat-x;
     background:transparent !important;
 }
span.ui-panel-title,div.ui-panel-title{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
}
.panel-styles a:hover{text-decoration: none;color:$blue}
.panel-styles:hover,.panel-styles .primary.ui-inputswitch:hover{border-color: $blue !important;}
.panel-styles .fa-ellipsis-h:hover,.panel-styles .fa-trash:hover{color:$blue }

/*
@media (max-width: 370px) {
  .add-tag-panel{
    left: 0 !important;
  }
}*/
