.ui-steps.steps-custom .ui-steps-item .ui-steps-title{
  display: inline;
}
.ui-steps.steps-custom .ui-steps-item{max-width: 14%;}
.ui-steps.steps-custom .ui-steps-item a{
  white-space: nowrap;text-overflow: ellipsis;overflow: hidden;
}
.ui-steps.steps-custom .ui-steps-item .ui-steps-number{
  font-size: inherit;
  display: inline;
  background-color: #0f1010;
  color: #FFFFFF;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.ui-steps.steps-custom .ui-widget-header .ui-state-highlight,
.ui-steps.steps-custom .ui-widget-content .ui-state-highlight,.ui-steps.steps-custom .ui-state-highlight {
  border-color: #25AA99;
  background: #25AA99;
  color: #FFFFFF;
}
.ui-steps.steps-custom .ui-state-highlight{border: 1px solid #25AA99}
li.ui-steps-item.ui-state-default::before {
  content: "";
  position: absolute;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 20px solid #c0c0c0;
  right: -20px;
  border-right: snow;
  z-index: 2;
}
li.ui-steps-item.ui-state-default::after {
  content: "";
  position: absolute;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 20px solid #fff;
  right: -19px;
  top: 0;
  z-index: 3;
}
.ui-steps.steps-custom .ui-state-default {
  border-top: 1px solid #d6d6d6;
  background: #ffffff;
  color: #555555;
  border-right: 0px !important;
  border-bottom: 1px solid #d6d6d6;
  border-left: transparent;
}
.ui-steps.steps-custom .ui-state-default:first-child{
  border-left: 1px solid #d6d6d6;
}
li.ui-steps-item.ui-state-default {
  position: relative;
  padding-right: 15px;
  border-right: none;
}
li.ui-steps-item.ui-state-highlight{position: relative;}
li.ui-steps-item.ui-state-highlight::after {
  /* background: #f00; */
  content: "";
  border-bottom: 25px solid transparent;
  border-top: 25px solid transparent;
  border-left: 20px solid #25aa99;
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 2;
}
body .ui-steps .ui-steps-item .ui-menuitem-link {
  padding: 14px 0.5em 14px 2em;
}
body .ui-steps .ui-steps-item:first-child .ui-menuitem-link{
  padding-left: 10px;
}
body .ui-steps .ui-steps-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
  border-color: #c0c0c0;
  background: transparent;
}

ul.emp-list{
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px !important;
  text-transform: uppercase;
  border-radius: 50%;
  font-weight: bold;
  padding-top: 7px;
  font-size: 12px;
  @media screen and (max-width: 768px){
    max-width: 180px;

  }
  >li{
    max-width: 150px;
    height: 35px;
    display: inline-block;
    cursor: pointer;
    padding: 2px 20px 2px 10px;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    border-right:1px solid #CCC;
    position: relative;
    vertical-align: middle;
    line-height: 28px;
    @media (min-width: 1025px) and (max-width: 1199px){
      padding: 2px 10px 2px 10px;
    }
    @media screen and (max-width: 768px){
      max-width: 180px;
      display: none !important;
      padding: 2px 10px 2px 10px;
      &.active-item{
        display: block !important;
        border-radius: 0 !important;
        border: 1px solid #979797;
        /*&.active-item:before{
          font-family: 'simple-line-icons';
          content: '\e605';
          position: absolute;
          left: -15px;
          top: 3px;
          color: #979797;
        }
        &.active-item:after{
          font-family: 'simple-line-icons';
          content: '\e606';
          position: absolute;
          right: -15px;
          top: 3px;
          color: #979797;
        }*/
      }
    }
    @media screen and (max-width: 480px){
      max-width: 120px;
      padding: 2px 10px 2px 5px;
      font-size: 12px;
    }
    >span{
      width: 21px;
      height: 21px;
      background-color: white;
      border-radius: 50%;
      display: inline-block;
      line-height: 20px;
      text-align: center;
      border: 1px solid #c6ccd2;
      vertical-align: middle;
      .fa-check{color: green !important;}
      .fa-exclamation{color: red !important;}
      .fa-play{color: orange !important;padding-left: 3px;}
    }

    >p.status-name{
      display: inline-block;
      margin-bottom: 0px !important;
      vertical-align: middle;
      line-height: 10px;
      max-width: 80px;
      padding-left: 3px;
      >span.status,>span.date{
        display: block;font-size: 8px;text-transform: capitalize;font-weight: normal;line-height: 9px;
      }
      @media (max-width: 640px) {
        max-width: 75px;
      }
    }
    &.pending{
      background-color: white !important;
      color: rgba(14,14,14,0.5);
    }
    &:first-child{
      border-left: 1px solid #979797;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
    &:last-child{
      border-right: 1px solid #979797;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
   /* &:nth-child(2){
      background-color: #9bc4f4;
    }
    &:nth-child(3){
      background-color: #bab0f6;
    }
    &:nth-child(4){
      background-color: #e5c0f8;
    }*/
  }


}


  ul.emp-list-details{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px !important;
    text-transform: uppercase;
    border-radius: 50%;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 7px;
    padding-top: 5px;
    >li {
      max-width: 280px;
      height: 40px;
      display: table-cell;
      cursor: pointer;
      padding: 0px 30px 0px 10px;
      border-top: 1px solid #979797;
      border-bottom: 1px solid #979797;
      border-right: 1px solid #CCC;
      vertical-align: middle;
      &.pending{
        background-color: white !important;
        color: rgba(14,14,14,0.5);
      }
      @media screen and (max-width: 640px){
        padding: 0px 20px 0px 10px;
        .detail{
          display: none !important;
        }
        &.active-item .detail{
          display: inline-block!important;
          /*&.active-item:before{
            font-family: 'simple-line-icons';
            content: '\e605';
            position: absolute;
            left: -15px;
            top: 8px;
            color: #979797;
            font-size: 15px;
          }
          &.active-item:after{
            font-family: 'simple-line-icons';
            content: '\e606';
            position: absolute;
            right: -15px;
            top: 8px;
            color: #979797;
            font-size: 15px;
          }*/
        }
      }
      @media screen and (max-width: 480px){
        padding: 0px 15px 0px 8px;
      }

        > span.level {
          width: 25px;
          height: 25px;
          background-color: white;
          border-radius: 50%;
          display:inline-block;
          line-height: 24px;
          text-align: center;
          border: 1px solid #c6ccd2;
          vertical-align: middle;
          .fa-check{color: green !important;}
          .fa-exclamation{color: red !important;}
          .fa-play{color: orange !important;padding-left: 3px;}
        }
      > span.detail{
        max-width: 85px;
        display:inline-block;
        padding-left: 3px;
        vertical-align: middle;
        @media (max-width: 640px) {
          max-width: 75px;
        }
        >p{
          line-height: 11px;
          &:nth-child(1){margin: 0px;}
          &:nth-child(2){margin: 0px;font-weight: normal;font-size: 9px;line-height: 10px;text-transform: capitalize;
          @media (min-width:1367px) {
            font-size: 10px;
          }
          }
          &:nth-child(3){margin: 0px;font-weight: normal;font-size: 8px;line-height: 10px;
            @media (min-width:1367px) {
              font-size: 9px;
            }
          }

        }
      }
      &:first-child {
        border-left: 1px solid #979797;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
      }
      &:last-child {
        border-right: 1px solid #979797;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }
    }
  }

/*label steps*/


.ui-steps.form-steps{margin-bottom: 10px;}
.ui-steps.form-steps .ui-steps-item{padding: 0px;border: none;background-color: transparent;width: 20%;}
.ui-steps.form-steps .ui-state-default a .ui-steps-number{background-color: white;color: #555555}
.ui-steps.form-steps .ui-steps-item .ui-menuitem-link{
  padding: 0px;
  text-align: center;
  &:after{
    content: '';
    display: block;
    border-top: 2px dashed #555555;
    width: 90%;
    height: 2px;
    position: absolute;
    top:25%;
    right: -70px;
    z-index: -1;
    @media (max-width: 640px) {
      top:50%;
      right: -45px;
    }
    @media (max-width: 480px) {
      right: -20px;
    }
  }
}
.ui-steps.form-steps .ui-steps-item .ui-steps-number {
  background-color: #25aa99;
  display: inline-block;
  width: 25px;
  border-radius: 50%;
  margin-bottom: 0px;font-size: 14px;
  text-align: center;
  border: 2px solid #CCC;
  font-weight: bold;
}
.ui-steps.form-steps .ui-state-disabled{
  opacity: 1;
  a{
    opacity: 0.5;
    .ui-steps-number{
      color: #000000;
    }
  }
}
.ui-steps.form-steps .ui-steps-item:last-child{
  a:after{
    display: none;
  }
}
.ui-steps.form-steps .ui-steps-item .ui-steps-title {
  color: #555555;
}
.ui-steps.form-steps li.ui-steps-item.ui-state-highlight::after,.ui-steps.form-steps li.ui-steps-item.ui-state-highlight::before{
  display: none;
}
.ui-steps.form-steps li.ui-steps-item.ui-state-default::after,.ui-steps.form-steps li.ui-steps-item.ui-state-default::before{display: none}
/*.ui-steps.form-steps .ui-steps-title{display: none}*/
