/* InputSwitch */
.primary .ui-inputswitch-off {
  background: transparent !important;
  color: #8C8C8C !important;
}
.primary .ui-inputswitch-on {
  background: #2399e5 !important;
  color: #ffffff !important;
}
.primary.ui-inputswitch{
  border: 1px solid #2399e5;
}