.ui-tabview.ui-tabview-top>.ui-tabview-nav {
  padding: 0;
  border-bottom: 1px solid #ccc;
}
.ui-tabview li.ui-state-default,.ui-tabview > .ui-widget-header {
  border: 0px ;
}
.ui-tabview .ui-widget-header .ui-state-active a{
  color: #212121;
  border-bottom: 5px solid #C75B26;
}
.ui-tabview .ui-tabview .ui-tabview-nav > li.ui-state-default {
   background:none;
}
.ui-tabview .ui-tabview-nav > li:not(.ui-state-active):not(.ui-state-disabled):hover {
  background: none;
  border-bottom: 5px solid #C75B26;
}
.mat-ink-bar{background-color: #C75B26 !important;}
//material
.mat-tab-label{
  min-width: 50px !important;
  max-width: 90px !important;
}
@media screen and (min-width: 1024px) {
  .mat-tab-label .fa{font-size: 20px;}
}

/*
.custom_tabs .mat-tab-header,.custom_tabs .mat-tab-label-container{overflow: visible !important;}
.custom_tabs .mat-tab-header{overflow: visible !important;}
*/
.custom_tabs .mat-tab-header .mat-tab-label{background-color: #dfdfdf;color: #555555;min-width:160px !important;max-width:200px !important;margin:0px 10px 10px 10px;opacity: 1}
.custom_tabs .mat-tab-header .mat-tab-disabled{opacity: 0.6}
.custom_tabs .mat-tab-header .mat-tab-label:first-child{margin-left: 0px !important;}
.custom_tabs .mat-tab-header .mat-tab-label:last-child{margin-left: 0px !important;}
.custom_tabs .mat-tab-list{position: relative}
.custom_tabs .mat-tab-header .mat-tab-label-active{background-color: #25aa99;color: white}
.custom_tabs .mat-tab-header .mat-tab-label-active:after{content: '';position: absolute;left: 50%;border-top:10px solid #25aa99;border-left:10px solid transparent;border-right:10px solid transparent;bottom:0px;margin-left: -10px;bottom: -10px;}
/*
.custom_tabs .mat-ink-bar{border-top:10px solid black;border-left: 10px solid transparent;border-right: 10px solid transparent;width:auto !important;left: 80px !important;background: none !important;bottom: 10px}
*/
.custom_tabs .mat-ink-bar{display: none}
.custom_tabs .mat-tab-header{border-bottom: none}
.custom_tabs .mat-tab-body-wrapper{padding: 15px 0px;}
.custom_tabs .mat-ripple{overflow: visible}
.custom_tabs .mat-ripple-element{display: none}