//layout styles
*{outline: none !important;}
body{
  color: #0E0E0E;
  font-size: 14px !important;
  @media screen and (min-width: 1367px) {
    font-size: 15px !important;
  }

}
.ui-widget,.mat-option{
  font-family: $font-family-source-sans !important;
}
.icon-color{
  width: 1.5em;
  height: 2.75em;
  padding: 1rem 0.75rem;
  font-size: $navbar-toggler-font-size;
  line-height: 1;
  background: $navbar-brand-bg;
  background-size: 24px 24px;
  border: $border-width solid transparent;
  border-radius: 0;
}

#layout-content{
  padding: 10px;
  @media screen and (min-width: 1367px) {
    padding: 20px;
  }
  @media screen and (max-width: 480px) {
      padding: 10px;
  }
}
.content-section {
  display: block;
  padding: .5em;
  /*
  overflow: hidden;
  */
}

.ui-calendar.ui-calendar-w-btn,.ui-spinner,.ui-dropdown,.ui-multiselect,.ui-inputtext {
  width: 100% !important;
}

.ui-calendar .ui-calendar-w-btn {
  width: 100%;
}

input.ui-inputtext.ui-corner-all.ui-state-default.ui-widget {
  width: 100%;
}

.ui-fileupload .ui-fileupload-content {
  padding: 0px;
}
.uploadedfile-text{margin-top: -25px;margin-left: 100px;}

//panel
.ui-panel-purple.ui-panel.ui-widget {
  border-radius: 0;
  border: 0;
}

.ui-panel-purple .ui-panel-titlebar {
  background-color: #563B77 !important;
  border-radius: 0;
  color: #FFF;
}

//checkbox
.ui-chkbox-label {
  margin-bottom: 0 !important;
}

//data-table
.ui-datatable-data tr.ui-widget-content.ui-datatable-even{
  background-color: #F1EEF6;
}
.ui-datatable-data tr.ui-widget-content:hover{
}
//dialog
.ui-dialog{
  top: 50px !important;
}
.ui-dialog.ui-widget{
  border: 0;
}
.ui-dialog.ui-widget .ui-dialog-titlebar{
  padding: 10px !important;
  border-bottom: 1px solid #D5D5D5;
}
.ui-radiobutton-label{
  margin-bottom: .0rem !important;
}

.tag-chips li.ui-chips-input-token
{
  display: none !important;
}
.tag-chips .ui-inputtext{
  border: 0 !important;
}
.ui-password-panel{
  z-index: 1102 !important;

}
.ui-fileupload-buttonbar{
  &.ui-widget-header{border-bottom: none}
}
.grid-border{border-bottom: 1px solid lightgray}
.icon-box{
  width: 20px; float: left; display: inline-block; position: absolute; right: 10px;
  @media (min-width: 769px) {
    top: 15px;
  }
  @media (max-width: 768px) {
    bottom: 8px;
    width: auto;
  }
  @media (max-width: 479px) {
    bottom: 6px;
  }

}
.icon-box p{
  margin-bottom: 2px;position: relative;font-size: 18px;cursor: pointer;
  //color: #CCC;
 @media (max-width: 768px) {
  margin-bottom: 0px;
   display: inline-block;
   padding: 0px 20px;
   vertical-align: middle;
}
  @media (max-width: 640px) {
    font-size: 21px;
  }
  @media (max-width: 480px) {
    margin-bottom: 0px;
    padding: 0px 10px;
    font-size: 18px;
    font-size: 18px;
  }
}
.icon-box p:hover,.icon-box p .fa:hover{color:#2399e5}
.icon-box p:first-child .fa{margin-bottom: 8px;}
.icon-box p .tag-icon{
  line-height: 15px;font-size: 10px;position: absolute;top: -2px;right: -4px;padding: 1px 5px;background-color: #ED5F2F;text-align: center;border-radius:50%;color: white;

@media (max-width: 768px) {
  top:-2px;
  right:6px;
}
  @media (max-width: 480px) {
    top:-6px;
    right:10px;
  }
  @media (max-width: 360px) {
    top:-6px;
    right:4px;
  }
}
.label-tag{padding: 0px 5px;background-color: #E1E1E1;border: 1px solid #4A4A4A;color: #4A4A4A;margin-right: 5px;font-weight: bold}
.Datatabel_head{text-decoration: none !important;color: #00a6dd !important;text-transform: capitalize;padding-right: 10px;}
/*widget styles*/
.widgets-block .widget{
  padding: 0px 5px;

}
.widgets-block .widget:first-child{padding-left: 0px;}
.widgets-block .widget:last-child{padding-right: 0px;}
.widgets-block .widget .widget-content-1,.widgets-block .widget .widget-content-2,.widgets-block .widget .widget-content-3,.widgets-block .widget .widget-content-4{padding: 10px;width: 100%}
.widgets-block .widget .widget-content-1 .widget-left,.widgets-block .widget .widget-content-4 .widget-left{font-size: 60px;width: 30%}
.widgets-block .widget .widget-content-1 .widget-right,.widgets-block .widget .widget-content-4 .widget-right{padding-top: 12px;width: 70%}
.widgets-block .widget .widget-content-2 .widget-right,.widgets-block .widget .widget-content-3 .widget-right{font-size: 60px;width: 30%}
.widgets-block .widget .widget-content-2 .widget-left,.widgets-block .widget .widget-content-3 .widget-left{padding-top: 12px;width: 70%}

.widget-left,.widget-right{float: left;text-align: center}
.widgets-block h3{font-size: 30px}
.widget-left p,.widget-right p{margin-bottom: 0px;}
.widgets-block .widget .widget-content-1,.widgets-block .widget .widget-content-4{background-color: white;color: #404040}
.blue-bg{background-color: #2566AA !important;color: white !important;}
.orange-bg{background-color: #F76857 !important;color: white !important;}
.greenish-bg{background-color: green !important;color: white !important;}

.right-dashboards .widget{padding:0px 0px 10px 0px;}
.ui-panel .ui-panel-titlebar{padding: 11px .75em}
.ui-datatable-tablewrapper tr.ui-widget-content td:hover a.Datatabel_head{color: #2196F3 !important;}
.back-prev{font-size: 16px;color: #ccc;position: absolute;top:50%;right: 0px;text-decoration: none !important;transform: translate(0%,-50%);padding: 14px;border-left: 1px solid #CCC}
.back-prev:hover{color:#2196F3}
.panel-body .details-item-value{margin-bottom: 0px;}
.ui-overlaypanel .ui-overlaypanel-content{
  padding: 10px;
}
.ui-overlaypanel .ui-overlaypanel-content .tag-chips ul{padding: 0.25em 0em; }
// dialog
.ui-dialog .ui-dialog-content { height: calc(100% - 50px); }

@media (max-width: 767px) {
  .ui-datatable-footer .ui-sub-header-title{display: none}
}
@media (max-width: 640px) {
  .right-form-content{margin-top: 10px;}
}
.label-grey{color: #968d8d;}
.blue_Color{color: #00a6dd;}
.ui-breadcrumb .fa-home{font-size: 15px;}
.grid-border .details-item-value,.grid-border .form-group{font-weight: bold;color: black;padding-right: 10px;}

/****widget slider styles***/
.widget-slid .ui-carousel-prev-button {float: none;position: absolute;left: 0px;top: 1px;z-index: 20;padding: 46px 10px;
  &:hover{background-color: rgba(2,3,8,0.4);color: #FFF;}
}
/*.widget-slid .fa-arrow-circle-right:before{content:"\f105";}
.widget-slid .fa-arrow-circle-left:before{content:"\f104";}*/
.widget-slid .ui-carousel-next-button{float: none;position: absolute;right: 0px;top: 1px;z-index: 20;padding: 46px 10px;color: #000;
  &:hover{background-color: rgba(2,3,8,0.4);color: #FFF;}
}
@media (max-width: 767px) {
  .widget-slid .ui-carousel-next-button, .widget-slid .ui-carousel-prev-button{background-color: rgba(2,3,8,0.4);color: #FFF;}
}
.widget-slid.ui-widget-content{background-color: transparent !important; border: 0 !important;}
.widget-slid .ui-widget-header{border: 0;height: 0; padding: 0 !important;}
.widget-slid .widgets-block .widget .widget-content-1, .widgets-block .widget .widget-content-4{border: 0}
.widget-slid.ui-carousel .ui-carousel-page-links {
  margin: 0 .5em;
  margin-top: .125em;
  float: none !important;
  position: absolute;
  top: 9px;
  left: 50%;
  display: none !important;
}
.widget-slid select.ui-carousel-mobiledropdown.ui-widget.ui-state-default.ui-corner-left{display: none !important;}
.icon-pos{
  .fa-pencil{
    display: none;
    color: #CCC;
    padding: 0px 3px !important;
    vertical-align: top;
    @media (max-width: 768px) {
      position: absolute;
      right: 10px;
      top:10px;
      display: block;
      padding: 4px 6px !important;
      border: 1px solid #ccc;
      border-radius: 0px !important;
      &:hover{
        border-color: #2196F3;
        color: #2196F3;
      }
    }
    &:hover{
      color: #2196F3;
    }
  }
}
.search-dropdown{width: 23%;height: 30px;}
.search-delete{float: left; width: 77%;}
.search-delete.active{width: 70%;
  @media (max-width: 660px) {width: 70%;}
  @media (max-width: 640px) {width: 72.2%;}
  @media (max-width: 500px) {width: 71.3%;}
  @media (max-width: 440px) {width: 70%;}
  @media (max-width: 400px) {width: 69%;}
  @media (max-width: 350px) {width: 68%;}
}
.sortingList .ui-dropdown-panel .ui-dropdown-filter-container{display: block;}
.custome_check .ui-chkbox-box.ui-state-active {border: 1px solid transparent; background: transparent; color: #2196F3;}
.custome_check .ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active), .custome_check .ui-chkbox-box:not(.ui-state-disabled):not(.ui-state-active):hover {
  border-color: transparent;
  background: transparent;
  color: #212121;
}
.custome_check .ui-chkbox-box.ui-state-focus{box-shadow: none;}
.custome_check label.ui-chkbox-label{width: 70%;display: inline-block !important;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.widget-slid .ui-carousel-viewport ul li:first-child{margin: 0px 5px 0px 0 !important;}
.widget-slid .ui-carousel-viewport ul li:last-child{margin: 0px 0px 0px 5px !important;}
.widget-slid .ui-carousel-viewport ul li{height:105px;margin: 0px 5px !important;}
.modules .ui-menu.ui-menu-dynamic{z-index: 1000 !important;}
.details-form-styles{max-width: 800px;margin: 0 auto;}
@media (max-width: 640px) {
  .ui-overlaypanel{left:10px !important;}
}
.ui-datatable .ui-datatable-thead > tr > th, .ui-datatable .ui-datatable-tfoot > tr > td, .ui-datatable .ui-datatable-data > tr > td {
  border-color: #d6d6d6;
}
/*
.breadcrumb .ui-widget-header,.ui-panel .ui-widget-header{background: #FFFFFF !important;}
*/
.square{width: 10px;height: 10px;margin-right: 10px;display: inline-block}
.ui-datatable-footer.ui-widget-header{background: #FFFFFF !important;border: 1px solid #CCC !important;}

.progressbar-main{
  p{margin-bottom: 4px;}
  .progressbar{
    position: relative;
    .ui-progressbar{height:45px;background-color: #ff3117;border-color: transparent;
      .ui-progressbar-label{
        font-size: 20px;color:white;
        text-align: left;padding-left: 15px;
        top:6px;
      }
      .ui-progressbar-value{
        background-color: green;
        border: 1px solid green;
      }
    }
    .remain-percent{
      font-size: 20px;
      color: white;
      position: absolute;
      text-align: right;
      right: 10px;
      top: 6px;
      font-weight: bold;
      @media (max-width: 1024px) {
        display: none;
      }
    }

  }

}
.report-download{
  text-decoration: none;
  font-size: 16px;
  .fa{
    color: #bdbdbd;
    padding-top: 25px;
    &:hover{
      color: #2399e5;
    }
  }
}
.ui-corner-top{border-radius: 0;}
.upload-btn{
  span{padding: 6px 12px !important;}
}
.pb5{padding-bottom: 5px !important;}
.custom-progressbar{
  width: 100%;
  font-size: 0;
  border: 1px solid #ccc;

  span{
    display: inline-block;
    height: 40px;
    line-height: 38px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    vertical-align: middle;
    &:after{
      content: '%';
    }
  }
}

.widget-content{height: 104px;width: 100%;font-size: 0px;}
.widget-content .left-con,.widget-content .right-con{display: inline-block;vertical-align: middle;text-align: center;}
.widget-content.left .left-con{width: 30%;font-size: 55px;line-height: 104px}
.widget-content.left .right-con{width: 70%;text-transform: uppercase}
.widget-content.left .right-con p{font-size: 16px;margin-bottom: 0px;font-weight: bold}
.widget-content.left .right-con h2{font-size: 30px;margin-bottom: 0px;}


.widget-content.right .right-con{width: 30%;font-size: 55px;line-height: 104px}
.widget-content.right .left-con{width: 70%;text-transform: uppercase}
.widget-content.right .left-con p{font-size: 16px;margin-bottom: 0px;font-weight: bold}
.widget-content.right .left-con h2{font-size: 30px;margin-bottom: 0px;}

/* login-popup modal styles*/
.login-popup.fade .modal-dialog {
  -webkit-transform: translate(0, 26px);
  transform: translate(0, 26px) !important;
  top:-100px;
  border: 2px solid rgba(204,204,204,0.9);
  border-radius: 5px;
}
.login-popup.fade .modal-dialog .label-size{font-size: 12px;}
.login-popup.fade .modal-dialog .modal-body{padding: 0;
  background-color: #2f3468;color: white;
}
.login-popup.fade .ui-grid-col-5,.login-popup.fade .ui-grid-col-2{padding-bottom: 0px !important;}
.password-space .ui-button-text{padding: 0;font-size: 12px;}
.password-space .ui-button:hover,.password-space .ui-button{border: none;color: white !important;}
.password-space .ui-button{background-color: transparent !important;color: rgba(225,225,225,0.9) !important;}
/*
.ui-button.ui-widget.ui-state-default{background-color: $brand-primary;border: 1px solid $brand-primary}
.ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active {
  border: 1px solid $brand-primary;
  background: $brand-primary;
  color: #FFFFFF;
}*/
.right-form-content{transition:right 0.3s !important;position: static;}
.fixedDiv{
  width: 28.28%;
  position: fixed;
  right: 10px;
  bottom: 25px;
  transition: bottom 0.3s !important;
}