<!--
<p-panel styleClass="module-create">
  <p-header>
        <span class="f-l icon-place">
            <input pInputText placeholder="Search" />
            <span class="icon-magnifier"></span>
        </span>
    <div class="ui-helper-clearfix" style="float: right;">
      <button pButton type="button" icon="fa-plus" (click)="redirect('/Custom/Reports/Create/0/0')"
              label="Create Report"></button>
    </div>
  </p-header>
  <p-dataTable [value]="cars">
    <p-column field="vin" header="Vin"></p-column>
    <p-column field="year" header="Year"></p-column>
    <p-column field="brand" header="Brand"></p-column>
    <p-column field="color" header="Color"></p-column>
  </p-dataTable>

</p-panel>
-->
<div class="ui-helper-clearfix">
    <p-dataTable [value]="rowData" *ngIf="refreshTable"
                 [rows]="10" [totalRecords]="totalRecords"
                 [paginator]="true"
                 [pageLinks]="3"
                 (onLazyLoad)="loadDataLazy($event)"
                 [lazy]="true"
                 [responsive]="true"
                 [rowsPerPageOptions]="[5,10,20,50,100,500,1000]"
                 [tableStyleClass]="'table-x-scroll'" scrollable="true" #dt>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-header-title" style="text-align: left">Report Management</span>
                <div style="float: right" class="ui-helper-clearfix">
                    <button pButton type="button" icon="fa-plus"
                            [routerLink]="['create/0/0']"
                            label="Create Report"></button>
                </div>
            </div>
        </p-header>
        <p-column field="name" [sortable]="true" header="Name">
            <ng-template let-row="rowData" pTemplate="item">
                <a [routerLink]="[row.pk_id+'/'+row.name]">{{row.name}}</a>
            </ng-template>
        </p-column>
        <p-column field="Count" [sortable]="true" header="Modules">
            <ng-template let-row="rowData" pTemplate="item">
                <span>{{row.count}}</span>
            </ng-template>
        </p-column>
        <p-column>
            <ng-template let-row="rowData" pTemplate="item">
                <!--<a [routerLink]="[row.pk_id+'/'+row.name]"><i class="btn fa fa-eye"></i></a>-->
                <i class="btn fa fa-pencil" (click)="openPlModal(plModal,row)"></i>
            </ng-template>
        </p-column>
        <p-footer>
            <span class="ui-sub-header-title">Total Rows : {{totalRecords}}</span>
            <i class="btn btn-sm fa fa-refresh" (click)="tableReload()" style="float: right"></i>
        </p-footer>
    </p-dataTable>

</div>