<div class="ui-helper-clearfix">
    <div class="ui-g ui-helper-clearfix">
        <!--
                    <div class="ui-g-12 p0">
                        <h3>Table Template</h3>
                    </div>
        -->
        <div class="ui-toolbar ui-helper-clearfix"
             style="padding: 10px 10px!important;background-color: #CCC;margin-bottom: 5px;width: 100%">
            <span style="font-size: 20px;font-weight: bold;text-transform: uppercase">Table Template</span>
        </div>
        <!--   <div class="ui-grid-col-8">
               <p-dropdown [options]="templateList" [(ngModel)]="currentTemplateId"
                           placeholder="Select a Template" (onChange)="saveModuleTemplate()"></p-dropdown>
           </div>-->
        <div class="ui-g-12 p0">
            <ul class="template_views">
                <li *ngFor="let t of templateList;let inx=index" (click)="onDropSuccess(null,null,t)">
                    <i class="fa fa-check" *ngIf="currentTemplateId==t.value"></i>
                    <div><img src="assets/img/list-icon-{{inx+1}}.jpg" alt=""></div>
                    <p>{{t.label}}</p>
                </li>
                <!-- <li>
                     <div><img src="src/assets/img/list-icon-1.jpg" alt=""></div>
                     <p>Template-2</p>
                 </li>
                 <li>
                     <div><img src="src/assets/img/list-icon-2.jpg" alt=""></div>
                     <p>Template-3</p>
                 </li>-->
            </ul>
        </div>
    </div>

<!--    Template - 1 grid view-->
    <div class="ui-g">
        <div class="ui-g-3 pl0">
            <div class="ui-helper-clearfix serch_me">
                <span class="icon-place">
                    <input pInputText placeholder="Search"/>
                    <span class="icon-magnifier"></span>
                </span>
            </div>
            <div class="ui-helper-clearfix leftDiv"  dnd-sortable-container
                 [dropZones]="['boxers-zone']"
                 [sortableData]="allFields.available_fields">
                <div class="ui-listbox" style="width: 100%">
                    <ul class="ui-listbox-list"

                    >
                        <li class="ui-listbox-item ui-corner-all ui-widget-content"
                            *ngFor="let f of allFields.available_fields;let unndx = index"
                            dnd-sortable
                            (onDropSuccess)="onDropSuccess($event,'unColField',null)"
                            [dragData]="f"
                            [sortableIndex]="unndx">
                            <i class="fa fa-arrows"></i>
                            {{f.display_label || f.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ui-g-9 pr0">
            <div class="ui-helper-clearfix" dnd-sortable-container
                 [dropZones]="['boxers-zone']" [sortableData]="allFields.list_fields" dnd-droppable [allowDrop]="allowDropFunction()">
                <div class="ui-helper-clearfix ui-datatable ui-widget" *ngIf="currentTemplateId==1">
                    <ul class="ul-table" style="">
                        <li *ngFor="let f of allFields.list_fields;let ndx = index"
                            dnd-sortable
                            (onDropSuccess)="onDropSuccess($event,'colField',null)"
                            [dragData]="f"
                            [sortableIndex]="ndx"
                        ><h4>{{f.display_label || f.name}}</h4>
                            <div class="pink-strip"></div>
                            <div class="white-strip"></div>
                            <div class="pink-strip"></div>
                            <div class="white-strip"></div>
                            <div class="pink-strip"></div>
                            <div class="white-strip"></div>
                            <div class="pink-strip"></div>
                            <div class="white-strip"></div>
                            <div class="pink-strip"></div>
                        </li>
                    </ul>
                </div>

                <p-dataTable [value]="rowsData" reorderableColumns="true" *ngIf="currentTemplateId==7">
                    <p-column *ngFor="let col of colFields" [field]="col.name" [header]="col.display_label">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                            <span>---</span>
                        </ng-template>
                    </p-column>
                </p-dataTable>
                <!--<p-dataTable class="data-list" [value]="rowsData" reorderableColumns="true"
                             *ngIf="currentTemplateId==2">
                    <p-column [field]="header" [header]="Heder">
                        <ng-template let-row="rowData" pTemplate="item" let-rowIndex="rowIndex">
                            <div class="ui-grid-row item-row"
                            >
                                <div class="ui-grid-col-2 ui-sm-12" style="text-align:center">
                                    <img src="assets/img/no-image.jpg"
                                         onError="this.src='assets/img/no-image.jpg';"
                                         class="img-alignment">
                                </div>
                                <div class="ui-grid-col-10 ui-sm-12 ui-helper-clearfix" style="position: relative"
                                >
                                    <div class="ui-g ui-grid-responsive ui-fluid"

                                    >
                                        <div class="ui-grid-col-12">
                                            <a class="Datatabel_head">Title</a>
                                        </div>
                                        <div class="ui-g ui-sm-6 ui-lg-4 ui-md-6 item-field temp_details"
                                             *ngFor="let f of colFields;let ndx = index"
                                             dnd-sortable
                                             (onDropSuccess)="onDropSuccess($event,'colField')"
                                             [dragData]="f"
                                             [sortableIndex]="ndx"
                                             style="position: relative;transition:0.3s"
                                        >
                                            &lt;!&ndash;     <span class="delete_colm"><i class="btn-sm fa fa-trash" (click)="removeColumn(f,ndx)"></i></span>
                                             &ndash;&gt;
                                            <div class="ui-grid-col-12 item-row-label">{{f.display_label}}:</div>
                                            <div class="ui-grid-col-12 item-row-value">
                                                -&#45;&#45;
                                            </div>
                                        </div>
                                    </div>
                                    <div style="width: 20px; float: left; display: inline-block; position: absolute; top: 0; right: 0;">
                                        <i class="btn fa fa-ellipsis-v f-r"></i>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-column>
                </p-dataTable>-->
                <div class="ui-helper-clearfix" *ngIf="currentTemplateId==2">
                    <div class="ui-helper-clearfix details-view ui-g">
                        <div class="ui-g-2">
                            <div class="ui-helper-clearfix img-div">Image</div>
                        </div>
                        <div class="ui-g-10" >
                            <div class="ui-g-12 title"
                                 dnd-droppable
                                 [dropZones]="['boxers-zone']"
                                 (onDropSuccess)="title=$event">
                                <div class="ui-helper-clearfix ellipsis title-inner"  *ngIf="!title">Title</div>
                                <div class="Datatabel_head" *ngIf="title">
                                    {{title.dragData.display_label}}
                                </div>
                            </div>
                            <div class="ui-g-4" *ngFor="let i of numCols"
                                 dnd-droppable
                                 [dropZones]="['boxers-zone']"
                                 (onDropSuccess)="col[i]=$event"
                            >
                                <div class="ui-grid-col-12 item-row-label" *ngIf="col[i]">
                                    {{col[i].dragData.display_label}}
                                </div>
                                <div class="ui-grid-col-12 item-row-value" *ngIf="col[i]">
                                    ---
                                </div>
                                <div class="ui-helper-clearfix placeHold ellipsis bg-color" *ngIf="!col[i]">Column-{{i}}</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div *ngIf="currentTemplateId==3">
                    <p-dataTable class="data-list" [value]="rowsData" reorderableColumns="true">
                        <p-column [field]="header" [header]="Heder">
                            <ng-template let-row="rowData" pTemplate="item">
                                <div class="ui-grid-row item-row">
                                    <div class="ui-grid-col-2 ui-sm-12" style="text-align:center">
                                        <img src="assets/img/no-image.jpg"
                                             onError="this.src='assets/img/no-image.jpg';"
                                             class="img-alignment">
                                    </div>
                                    <div class="ui-grid-col-10 ui-sm-12" style="position: relative">
                                        <div class="ui-g ui-grid-responsive ui-fluid">
                                            <div class="ui-grid-col-12">
                                                <span class="label-tag">0001</span>
                                                <a class="Datatabel_head">Title</a>
                                            </div>
                                            <div class="ui-g ui-sm-6 ui-lg-4 ui-md-6 item-field"
                                                 *ngFor="let f of allFields.list_fields;let ndx = index"
                                                 dnd-sortable
                                                 (onDropSuccess)="onDropSuccess($event,'colField',null)"
                                                 [dragData]="f"
                                                 [sortableIndex]="ndx"
                                                 style="position: relative"
                                            >
                                                <div class="ui-grid-col-12 item-row-label">{{f.display_label || f.name}}:</div>
                                                <div class="ui-grid-col-12 item-row-value">
                                                    ---
                                                </div>
                                            </div>
                                        </div>
                                        <div style="width: 20px; float: left; display: inline-block; position: absolute; top: 0; right: 0;">
                                            <i class="btn fa fa-ellipsis-v f-r"></i>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>

            </div>
        </div>
    </div>

    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-grid-col-4">
        <!--<div class="ui-grid-col-4">
            Table Template *:
        </div>-->
        <!--<div class="ui-grid-col-8">
            <p-dropdown [options]="templateList" [(ngModel)]="currentTemplateId"
                        placeholder="Select a Template" (onChange)="saveModuleTemplate()"></p-dropdown>
        </div>-->

        <!-- <div class="ui-grid-row">
             <div class="ui-grid-col-4">
                Select Grid Header Columns:
             </div>
             <div class="ui-grid-col-8" *ngIf="fieldList.length > 0">
                 <p-multiSelect inputId="pk_id" dataKey="pk_id" [options]="fieldList" [(ngModel)]="selectedFields"></p-multiSelect>
             </div>
         </div>-->
        <!--<span>Drag and Drop reorder columns  </span>
        <div class="ui-helper-clearfix">
            <div class="ui-listbox ui-widget-content" style="width: 100%">
                <ul class="ui-listbox-list"
                    dnd-sortable-container
                    [sortableData]="selectedFields"
                    [dropZones]="['container-dropZone']"
                >
                    <li class="ui-listbox-item ui-corner-all"
                        *ngFor="let f of selectedFields;let sndx = index"
                        dnd-sortable
                        [sortableIndex]="sndx" dragEnabled="true" (onDropSuccess)="reOrder()"
                    >
                        <i class="fa fa-arrows"></i>
                        {{f.header_name}}
                    </li>
                </ul>
            </div>
        </div>-->
    </div>

</div>
<p>&nbsp;</p>
<div class="ui-helper-clearfix">
    <p-dataTable [value]="dataRows" *ngIf="refreshTable"
                 [rows]="10" [totalRecords]="totalRecords"
                 [paginator]="true"
                 [pageLinks]="3"
                 (onLazyLoad)="loadDataLazy($event)"
                 [lazy]="true"
                 [responsive]="true"
                 [rowsPerPageOptions]="[5,10,20,50,100,500,1000]"
                 [tableStyleClass]="'table-x-scroll'" scrollable="true" #dt>

        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-header-title" style="text-align: left">Widgets</span>
                <span class="f-r">
                    <button type="button"
                            pButton icon="fa-plus"
                            (click)="openItemModal(itemModal)"
                            label="Add"></button>
                </span>
            </div>
        </p-header>
        <p-column field="name" [sortable]="true" header="Name"></p-column>
        <p-column field="widget_type" [sortable]="true" header="Widget Type"></p-column>
        <p-column field="seq_order" [sortable]="true" header="SeqOrder"></p-column>
        <p-column>
            <ng-template let-row="rowData" pTemplate="item">
                <!--<a [routerLink]="[row.pk_id+'/'+row.name]"><i class="btn fa fa-eye"></i></a>-->
                <i class="btn-sm fa fa-pencil" (click)="openItemModal(itemModal,row)"></i>
                <i class="btn-sm fa fa-trash" (click)="removeSelectedItem(row)"></i>
            </ng-template>
        </p-column>
        <p-footer>
            <span class="ui-sub-header-title">Total Rows : {{totalRecords}}</span>
            <i class="btn btn-sm fa fa-refresh" (click)="tableReload()" style="float: right"></i>
        </p-footer>
    </p-dataTable>


    <ng-template #itemModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <span class="ui-header-title">Add Widget</span>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="itemFG" (ngSubmit)="itemModalFormSubmit(itemFG.value,itemFG.valid)" novalidate>
            <div class="modal-body">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                Name *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText formControlName="name">
                                <small class="text-danger"
                                       *ngIf="itemSubmittedForm && itemFG.get('name').errors">
                                    This field is required
                                </small>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                Widget Type :
                            </div>
                            <div class="ui-grid-col-6">
                                <p-dropdown [options]="widgetTypes" formControlName="widget_type"></p-dropdown>
                            </div>
                        </div>

                        <div class="ui-g">
                            <div class="ui-grid-col-4">
                                Html Template :
                            </div>
                            <div class="ui-grid-col-12">
                                <textarea pInputTextarea formControlName="html_template"></textarea>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                Js Function Name :
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText formControlName="js_function_name">
                            </div>
                        </div>


                        <div class="ui-g">
                            <div class="ui-grid-col-4">
                                Js Code :
                            </div>
                            <div class="ui-grid-col-12">
                                <textarea pInputTextarea formControlName="js_code"></textarea>
                            </div>
                        </div>

                        <div class="ui-g">
                            <div class="ui-grid-col-4">
                                Query Code :
                            </div>
                            <div class="ui-grid-col-12">
                                <textarea pInputTextarea formControlName="query_code"></textarea>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">Call Required</div>
                            <div class="ui-grid-col-4">
                                <p-checkbox class="ui-grid-col-4"
                                            formControlName="call_required"
                                            label="" binary="true">
                                </p-checkbox>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                Seq Order * :
                            </div>
                            <div class="ui-grid-col-6">
                                <p-spinner formControlName="seq_order"></p-spinner>
                                <small class="text-danger"
                                       *ngIf="itemSubmittedForm && itemFG.get('seq_order').errors">
                                    This field is required
                                </small>
                            </div>
                        </div>


                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" pButton icon="fa-close" class="ui-button-secondary" label="Cancel"
                        (click)="c('Close click')"
                ></button>
                <button pButton icon="fa-check" class="ui-button-primary" label="Save"></button>
            </div>
        </form>
    </ng-template>

</div>