ul.field-highlight {
  padding: 5px;
  li {
    color: #a6a6a6;
    list-style: none;
    padding: 1px;
    &.highlight {
      color: #000000;
    }
  }
}

ul[ngui-sortable] {
  padding: 10px;
  border: 1px solid #ccc;
  list-style: none;
  display: block
}

ul[ngui-sortable] li {
  padding: 10px 5px;
  background: #4986e7;
  color: #fff;
  border: 1px solid #fff;
  display: block;
  position: relative
}

ul[ngui-sortable] li.drag-enter {
  border-top: 2px solid yellow;
}

.dnd-drag-start {
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.7;
  border: 2px dashed #000;
}

.dnd-drag-enter {
  opacity: 0.7;
  border: 2px dashed #000;
}

.dnd-drag-over {
  border: 2px dashed #000;
}

.dnd-sortable-drag {
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.7;
  border: 1px dashed #000;
}

/*template views*/
.template_views {
  padding: 0;
  margin: 5px 0px;
  li {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    position: relative;
    background-color: #eaeaea;
    border-radius: 3px;
    width: 115px;
    height: 140px;
    margin: 0 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      box-shadow: 0 10px 25px -10px #999;
      transition: 0.3s;
      -webkit-transition: 0.3s;
    }
    div {
      height: 100px;
      display: flex;
      img {
        width: 60px;
        height: 40px;
        margin: auto;
        text-align: center;
      }
    }
    p {
      margin: 0;
      text-align: center;
    }
    > i {
      position: absolute;
      right: 8px;
      top: 8px;
      font-size: 14px;
      color: #25AA99;
    }
  }
}

/*sticky left menu*/
.leftDiv {
  -webkit-transition: all 0.5s;
  background-color: #EEE;
  height: 300px;
  overflow-y: hidden;
  position: relative;
  &:hover {
    overflow-y: auto;
  }
  ul {
    li {
      padding: 7.5px !important;
      border: 1px solid transparent;
      margin: 5px 0px;
      &:last-child {
        margin-bottom: 0px;
      }
      &:first-child {
        margin-top: 0px;
      }
      &:hover {
        background-color: #FFF;
        border: 1px solid #4986e7 !important;
      }
    }
  }
}

.leftDiv::-webkit-scrollbar {
  width: 4px;
  background-color: #FFF;
}

.leftDiv::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}

.leftDiv::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}

.delete_colm {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none
}

.temp_details:hover .delete_colm {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s
}

.temp_details:hover {
  background-color: #eaeaea
}

ul.ul-table {
  overflow-x: auto;
  width: 100%;
  min-height: 300px;
  background-color: #EBEBEB;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
  /*&:before {
    content: 'Drop Here';
    display: block;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 20px;
    z-index: 1;
  }*/
  li {
    display: table-cell;
    width: 1%;
    height: 300px;
    border: 1px solid #fff;
    background-color: #F5F3F5;
    z-index: 2;
    &.dnd-sortable-drag {
      border: 2px dashed #BDC8C9 !important;
      background-color: #E7F5FC;
      position: relative;
      z-index: 2;
      &:before {
        content: 'Drop Here';
        display: block;
        position: absolute;
        top:50%;
        left: 50%;
        margin-left: -30px;
        width: 60px;
        height: 20px;
      }
    }

    h4 {
      background-color: #D2D0D2;
      padding: 5px 8px;
      white-space: nowrap;
      margin: 0px;
      font-weight: normal;
    }
    .white-strip{
      padding: 13px;
      background: #fff;

      border-bottom: 1px solid #ccc;
    }
    .pink-strip{
      border-bottom: 1px solid #ccc;
      padding: 13px;
      background-color: #F1EEF6;
      border-top: none;
    }
  }
}
.details-view{
  padding: 5px;background-color: #F1EEF6;
  .img-div{width: 100px;height: 100px;background-color: #eaeaea;text-align: center;}
  .placeHold{width: 100%;height: 40px;padding: 5px}
  .title{height: 28px;padding-top: 0px !important;width: 100%;}
  .bg-color{background-color: #eaeaea;}
  .title-inner{background-color: #eaeaea;padding: 0px 5px;}
}
.serch_me{margin-bottom: 5px;}
.icon-place > span.icon-magnifier {position: absolute;right: 10px;top: 3px;}


