<div class="ui-toolbar">
    <span class="ui-header-title">Block
    <i class="btn fa fa-plus-circle btn-lg"
       (click)="openBlockModal(addBlockModal)"></i>
    </span>
    <!-- <span class="f-r">
         <button pButton (click)="reOrder()" label="Order Save"></button>
     </span>-->
</div>


<div class="p5" *ngFor="let b of moduleFields;let bNdx=index"
     dnd-sortable-container
     [sortableData]="b.fields"
     [dropZones]="['container-dropZone'+bNdx]">
    <p-panel [toggleable]="true">
        <p-header>
                        <span class="ui-header-title">
                            {{b.block.name}}
                        </span>
                        <span>
                            <button pButton (click)="openAddFieldModal(addFieldModalTemplate,b.block)" type="button"
                                    icon="fa-plus" label="Add Field"></button>
                        </span>
        </p-header>
        <!-- <ul class="" >
            <li class="ui-g" *ngFor="let f of b.fields;let sndx = index" >
              <i class="fa fa-arrows"></i> {{f.name}} - {{f.FieldType}}
            </li>
          </ul>-->
        <div class="ui-g">
            <!--ngui-sortable-->
            <div class="ui-g-12 ui-md-3 pl0" *ngFor="let f of b.fields;let sndx = index" dnd-sortable
                 [sortableIndex]="sndx" dragEnabled="true" (onDropSuccess)="reOrder()">
                <!-- <div class="ui-grid-row" *ngIf="sndx%4==0"></div>-->
                <p-panel>
                    <p-header>
                        <div class="ui-toolbar">
                            <span class="ellipsis f-l" style="width: 80%;" title="{{f.name}} - {{f.FieldType}}">
                                <i class="fa fa-arrows"></i>
                                {{f.display_label || f.name}} - {{f.FieldType}}
                             </span>
                            <span class="f-r" *ngIf="!f.is_fixed_field">
                                 <i class="btn-sm fa fa-trash" (click)="deleteModuleField(f)"></i>
                            </span>
                        </div>
                        <div class="small-field-name ellipsis" *ngIf="f.display_label">{{f.name}}</div>
                    </p-header>
                    <ul class="ui-grid ui-grid-pad ui-grid-responsive field-highlight">
                        <li (click)="changeFieldStatus(f,'is_mandatory')"  class="btn-sm ui-lg-6 ui-g-12"
                            [class.highlight]="f.is_mandatory"><i
                                class="fa fa-info-circle"></i> Mandatory
                        </li>
                        <li (click)="changeFieldStatus(f,'quick_create')" class="btn-sm ui-lg-6 ui-g-12"
                            [class.highlight]="f.quick_create"><i
                                class="fa fa-plus"></i> Quick Create
                        </li>
                        <!--  <li (click)="changeFieldStatus(f,'mass_edit')" class="btn ui-lg-6 ui-g-12"
                              [class.highlight]="f.mass_edit"><i
                                  class="fa fa-pencil"></i> Mass Edit
                          </li>-->
                        <li (click)="changeFieldStatus(f,'header_view')" class="btn-sm ui-lg-6 ui-g-12"
                            [class.highlight]="f.header_view"><i
                                class="fa fa-header"></i> Header
                        </li>
                        <li (click)="changeFieldStatus(f,'record_identifier')"
                            class="btn-sm ui-lg-6 ui-g-12" [class.highlight]="f.record_identifier"><i
                                class="fa fa-key"></i> Row Identifier
                        </li>
                        <li (click)="changeFieldStatus(f,'display_in_list_view')"
                            class="btn-sm ui-lg-6 ui-g-12" [class.highlight]="f.display_in_list_view"><i
                                class="fa fa-table"></i> Add To List
                        </li>
                        <li (click)="changeFieldStatus(f,'show_in_mobile')"
                            class="btn-sm ui-lg-6 ui-g-12" [class.highlight]="f.show_in_mobile"><i
                                class="fa fa-mobile"></i> Mobile
                        </li>

                        <li (click)="changeFieldStatus(f,'is_hidden')"
                            class="btn-sm ui-lg-6 ui-g-12 ellipsis" [class.highlight]="f.is_hidden"><i
                                class="fa fa-eye-slash"></i> Hidden
                        </li>
                      <!--  <li (click)="changeFieldStatus(f,'is_unique_index_field')"
                            class="btn-sm ui-lg-6 ui-g-12 ellipsis" [class.highlight]="f.is_unique_index_field"><i
                                class="fa fa-star"></i> Unique Index
                        </li>-->

                        <li *ngIf="f.more" (click)="changeFieldStatus(f,'can_create')"
                            class="btn-sm ui-lg-6 ui-g-12 ellipsis" [class.highlight]="f.can_create"><i
                                class="fa fa-plus"></i> Can Create
                        </li>
                        <li *ngIf="f.more" (click)="changeFieldStatus(f,'can_delete')"
                            class="btn-sm ui-lg-6 ui-g-12 ellipsis" [class.highlight]="f.can_delete"><i
                                class="fa fa-trash"></i> Can Delete
                        </li>
                        <li *ngIf="f.more" (click)="changeFieldStatus(f,'can_add')"
                            class="btn-sm ui-lg-6 ui-g-12 ellipsis" [class.highlight]="f.can_add"><i
                                class="fa fa-plus"></i> Can Add
                        </li>

                        <li *ngIf="f.more" (click)="changeFieldStatus(f,'can_export')" title="Excel Download"
                            class="btn-sm ui-lg-6 ui-g-12 ellipsis" [class.highlight]="f.can_export"><i
                                class="fa fa-download"></i> Excel Download
                        </li>
                        <li *ngIf="f.more" (click)="changeFieldStatus(f,'can_import')" title="Excel Import"
                            class="btn-sm ui-lg-6 ui-g-12 ellipsis" [class.highlight]="f.can_import"><i
                                class="fa fa-upload"></i> Excel Import
                        </li>
                        <li *ngIf="f.more" (click)="changeFieldStatus(f,'show_in_details')"
                            class="btn-sm ui-lg-6 ui-g-12 ellipsis" [class.highlight]="f.show_in_details"><i
                                class="fa fa-wpforms"></i> Details
                        </li>
                        <li *ngIf="f.more" (click)="changeFieldStatus(f,'get_count_at_list')"
                            class="btn-sm ui-lg-6 ui-g-12 ellipsis" [class.highlight]="f.get_count_at_list"><i
                                class="fa fa-list"></i> Count @ list
                        </li>
                        <li *ngIf="f.more" (click)="changeFieldStatus(f,'get_object_at_list')"
                            class="btn-sm ui-lg-6 ui-g-12 ellipsis" [class.highlight]="f.get_object_at_list"><i
                                class="fa fa-list"></i> Object @ list
                        </li>
                        <li *ngIf="f.rel==0" class="btn-sm ui-lg-6 ui-g-12" style="color: #00a6dd" (click)="f.more =! f.more">
                            <span *ngIf="f.more">-</span>
                            <span *ngIf="!f.more">+</span>
                            More
                        </li>
                        <!--    <li (click)="changeFieldStatu(f,'is_mandatory')" class="btn ui-lg-6 ui-g-12" [class.highlight]="f.summary"><i
                                    class="fa fa-file-text-o"></i> Summary View
                            </li>-->
                    </ul>
                </p-panel>
            </div>
        </div>
    </p-panel>
</div>


<ng-template #addFieldModalTemplate let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="ui-header-title">Create Field</span>
        <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
           <span aria-hidden="true">&times;</span>
         </button>-->
    </div>
    <form #bf="ngForm" novalidate>
        <div class="modal-body">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Select Field Type *:
                    </div>
                    <div class="ui-grid-col-6">
                        <p-dropdown [options]="fieldTypeList" name="FieldType" [(ngModel)]="field.selectedFieldType"
                                    filter="true" [autoWidth]="false" required></p-dropdown>
                    </div>
                    <!--   <small class="text-danger"
                              *ngIf="afmSubmittedForm && addFieldModalForm.get('FieldType').errors">
                         This field is required
                       </small>-->
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Display Name *:
                    </div>
                    <div class="ui-grid-col-6">
                        <input (blur)="onBlurDisplayLabel($event.target.value)" pInputText type="text" required name="display_label" [(ngModel)]="field.display_label "
                               placeholder="Display Name"/>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Field Name *:
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text" required name="Name" [(ngModel)]="field.Name"
                               placeholder="Label Name"/>
                    </div>

                    <!-- <small class="text-danger"
                            *ngIf="afmSubmittedForm && addFieldModalForm.get('Name').errors">
                       This field is required
                     </small>-->
                </div>

                <!--Length-->
                <div *ngIf="checkDropDownFieldType(['Text','Decimal','Integer'])" class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Length :
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text" name="Length" [(ngModel)]="field.Length" placeholder="Length"/>
                    </div>
                    <!-- <small class="text-danger"
                            *ngIf="afmSubmittedForm && !strLength.errors.required">
                       This field is required
                     </small>-->
                </div>
                <!--Decimal-->
                <div *ngIf="checkDropDownFieldType(['Decimal'])" class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Decimals *:
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text" name="Precision" [(ngModel)]="field.Precision"
                               placeholder="Decimals"/>
                    </div>
                </div>

                <!--Default Value-->
                <div class="ui-grid-row"
                     *ngIf="checkDropDownFieldType(['Text','Decimal','Integer','Email','Phone'])">
                    <div class="ui-grid-col-4">
                        Default Value :
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text" name="Default" [(ngModel)]="field.Default"
                               placeholder="Default Value"/>
                    </div>
                </div>

                <!--Pick List-->
                <div *ngIf="checkDropDownFieldType(['Pick List'])"  class="p5 ui-grid ui-grid-responsive ui-grid-pad">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Pick Name :
                        </div>
                        <div class="ui-grid-col-6">
                            <p-autoComplete name="PickListName" [(ngModel)]="field.PickListName" [size]="30" (onSelect)="pickListSelected(field,$event)" (onBlur)="onBlurName(field.PickListName)"
                                            [suggestions]="filteredPickList" (completeMethod)="filterPickList($event)"
                                            field="name"
                                            [minLength]="1">
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Pick list Values :
                        </div>
                        <div class="ui-grid-col-6">
                            <p-chips *ngIf="prePickListValues.length>0" name="prePickListValues"
                                     [(ngModel)]="prePickListValues" disabled="true"></p-chips>
                            <p-chips name="PickListValues" [(ngModel)]="field.PickListValues" (onAdd)="managePickList()" (onRemove)="managePickList()"></p-chips>
                        </div>
                    </div>

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Default Value :
                        </div>
                        <div class="ui-grid-col-6">
                            <p-dropdown [options]="defaultPicklist"
                                        name="defaultPickListValues"
                                        [(ngModel)]="field.defaultPickListValues" filter="true"
                                       ></p-dropdown>
                            <!--  <select class="form-control">
                                  <option value="">Select Default value</option>
                                  <option *ngFor="let p of pickListValue" value="{{p}}">{{p}}</option>
                              </select>-->
                        </div>
                    </div>
                </div>
                <!--Multi-Select Combo Box List-->
                <div *ngIf="checkDropDownFieldType(['Multi-Select Combo Box'])"
                     class="p5 ui-grid ui-grid-responsive ui-grid-pad">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Pick Name :
                        </div>
                        <div class="ui-grid-col-6">
                            <p-autoComplete name="PickListName" [(ngModel)]="field.PickListName" [size]="30" (onSelect)="pickListSelected(field,$event)" (onBlur)="onBlurName(field.PickListName)"
                                            [suggestions]="filteredPickList" (completeMethod)="filterPickList($event)"
                                            field="name"
                                            [minLength]="1">
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Pick list Values :
                        </div>
                        <div class="ui-grid-col-6">
                            <p-chips *ngIf="prePickListValues.length>0" name="prePickListValues"
                                     [(ngModel)]="prePickListValues" disabled="true"></p-chips>
                            <p-chips name="PickListValues" [(ngModel)]="field.PickListValues"></p-chips>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Default Value :
                        </div>
                        <div class="ui-grid-col-6">
                            <p-multiSelect [options]="multiplePickList(field.PickListValues,false)"></p-multiSelect>
                        </div>
                    </div>
                </div>

                <!--Percent Default Value-->
                <div *ngIf="checkDropDownFieldType(['Percent'])" class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Default Value :
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text" placeholder="Default Value"/>
                    </div>
                </div>
                <!--Date Default Value-->
                <div *ngIf="checkDropDownFieldType(['Date'])" class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Default Value :
                    </div>
                    <div class="ui-grid-col-6">
                        <p-calendar name="Default" [showIcon]="true"></p-calendar>
                    </div>
                </div>

                <!--file and Image-->
                <div *ngIf="checkDropDownFieldType(['File','Image'])" class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Size :
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text" name="Length" [(ngModel)]="field.Length"  placeholder="Length"/>
                    </div>
                </div>
                <div *ngIf="checkDropDownFieldType(['File','Image'])" class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Allowed File Types :
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text" name="AllowedFileTypes" [(ngModel)]="field.AllowedFileTypes"  placeholder="Allowed File Types"/>
                    </div>
                </div>

            </div>
            <div class="ui-g-12 pl0">
                <ul class="ui-grid ui-grid-pad ui-grid-responsive field-highlight">
                    <li class="ui-lg-6 ui-g-12 highlight" [class.highlight]="field.IsMandatory">
                        <p-checkbox binary="true" label="Mandatory" name="IsMandatory"
                                    [(ngModel)]="field.IsMandatory"></p-checkbox>
                        <i class="fa fa-info-circle"></i>
                    </li>
                    <li class="ui-lg-6 ui-g-12" [class.highlight]="field.QuickCreate">

                        <p-checkbox binary="true" label="Quick Create" name="QuickCreate"
                                    [(ngModel)]="field.QuickCreate"></p-checkbox>
                        <i class="fa fa-plus"></i>
                    </li>

                    <li class="ui-lg-6 ui-g-12" [class.highlight]="field.HeaderView">
                        <p-checkbox binary="true" label="Header" name="HeaderView"
                                    [(ngModel)]="field.HeaderView"></p-checkbox>
                        <i class="fa fa-header"></i>
                    </li>
                    <!--   <li class="ui-lg-6 ui-g-12" [class.highlight]="field.MassEdit">
                           <i class="fa fa-pencil"></i> Mass Edit <input type="checkbox" name="MassEdit"
                                                                         [(ngModel)]="field.MassEdit">
                       </li>-->
                    <li class="ui-lg-6 ui-g-12" [class.highlight]="field.RecordIdentifier">

                        <p-checkbox binary="true" label="Row Identifier" name="RecordIdentifier"
                                    [(ngModel)]="field.RecordIdentifier"></p-checkbox>
                        <i class="fa fa-key"></i>
                    </li>
                 <!--   <li class="ui-lg-6 ui-g-12" [class.highlight]="field.display_in_list_view">

                        <p-checkbox binary="true" label="Add To List"
                                    name="display_in_list_view" [(ngModel)]="field.display_in_list_view">

                        </p-checkbox>
                        <i class="fa fa-table"></i>
                    </li>-->

                    <li class="ui-lg-6 ui-g-12" [class.highlight]="field.ShowInMobile">
                        <p-checkbox binary="true" label="Mobile" name="ShowInMobile"
                                    [(ngModel)]="field.ShowInMobile"></p-checkbox>
                        <i class="fa fa-mobile"></i>
                    </li>

                  <!--  <li class="ui-lg-6 ui-g-12" [class.highlight]="field.show_in_details">
                        <p-checkbox binary="true" [(ngModel)]="field.show_in_details" name="show_in_details"
                                    label="Details">
                        </p-checkbox>
                        <i class="fa fa-wpforms"></i>
                    </li>-->

                    <li class="ui-lg-6 ui-g-12" [class.highlight]="field.IsHidden">
                        <p-checkbox [(ngModel)]="field.IsHidden" name="IsHidden" label="Hidden" binary="true">
                        </p-checkbox>
                        <i class="fa fa-eye-slash"></i>
                    </li>
                    <!-- <li class="ui-lg-6 ui-g-12" [class.highlight]="is_mandatory">
                         <i class="fa fa-file-text-o"></i> Summary View <input type="checkbox" formControlName="record_identifier" [(ngModel)]="record_identifier">
                     </li>-->
                </ul>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" pButton label="Cancel" icon="fa-close" class="ui-button-secondary"
                    (click)="c('Close click')"></button>
            <button type="button" (click)="addFieldFormSubmit(bf)" pButton label="Save" icon="fa-check"
                    class="ui-button-primary" [disabled]="bf.invalid"></button>
        </div>
    </form>

</ng-template>
<ng-template #addBlockModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="ui-header-title">Create Block</span>
        <!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>-->
    </div>
    <div class="modal-body">
        <form [formGroup]="blockMF" (ngSubmit)="blockModalFormSubmit(blockMF.value,blockMF.valid)" novalidate>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Block Name *:
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText formControlName="Name">
                        <small class="text-danger"
                               *ngIf="bmSubmittedForm && blockMF.get('Name').errors">
                            This field is required
                        </small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" pButton icon="fa-close" class="ui-button-secondary" label="Cancel"
                        (click)="c('Close click')"
                ></button>
                <button pButton icon="fa-check" class="ui-button-primary" label="Save"></button>
            </div>
        </form>
    </div>

</ng-template>
