ul.field-highlight{
    padding:5px;
li{
    color: #a6a6a6;
    list-style: none;
    padding: 1px;
&.highlight{
     color: #000000;
 }
}
}
ul[ngui-sortable] {
  padding: 10px;
  border: 1px solid #ccc;
  list-style: none;
  display: block
}
ul[ngui-sortable] li {
  padding: 10px 5px;
  background: #4986e7;
  color: #fff;
  border: 1px solid #fff;
  display: block;
  position: relative
}
ul[ngui-sortable] li.drag-enter {
  border-top: 2px solid yellow;
}

.dnd-drag-start {
  -moz-transform:scale(0.8);
  -webkit-transform:scale(0.8);
  transform:scale(0.8);
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-enter {
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-over {
  border: 2px dashed #000;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}

.small-field-name{
  position: absolute;
  font-style: italic;
  font-size: 10px;
  padding-top: 16px;
  padding-left: 22px;
  width: 137px;
}
