<div class="ui-grid-row">
    <form [formGroup]="moduleForm" (ngSubmit)="moduleFormSave(moduleForm.value, moduleForm.valid)">
        <div class="ui-grid ui-grid-responsive ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-6 pl0">
                    <div class="ui-grid-col-4">
                        Module Label *:
                    </div>
                    <div class="ui-grid-col-8">
                        <input (blur)="onBlurModuleLabel()" pInputText type="text" formControlName="ModuleLabel" placeholder="Module Label"/>
                    <span *ngIf="moduleForm.controls['ModuleLabel'].errors">
                        <small class="text-danger ui-grid-col-12"
                               *ngIf="submittedForm && moduleForm.controls['ModuleLabel'].errors['required']"> Module
                            Label is required
                        </small>
                        <small class="text-danger ui-grid-col-12"
                               *ngIf="submittedForm && moduleForm.controls['ModuleLabel'].errors['pattern']"> Special
                            characters not allowed
                        </small>
                    </span>
                    </div>
                </div>
                <div class="ui-grid-col-6 pl0">
                    <div class="ui-grid-col-4">
                        Singular Module Label *:
                    </div>
                    <div class="ui-grid-col-8">
                        <input pInputText type="text" formControlName="SingularModuleLabel"
                               placeholder="Singular Module Label"/>

                    <span *ngIf="moduleForm.controls['SingularModuleLabel'].errors">
                        <small class="text-danger ui-grid-col-12"
                               *ngIf="submittedForm && moduleForm.controls['SingularModuleLabel'].errors['required']">
                            Singular Module
                            Label is required
                        </small>
                        <small class="text-danger ui-grid-col-12"
                               *ngIf="submittedForm && moduleForm.controls['SingularModuleLabel'].errors['pattern']">
                            Special characters not allowed
                        </small>
                    </span>

                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-6 pl0">
                    <div class="ui-grid-col-4">
                        Stage Applicable :
                    </div>
                    <div class="ui-grid-col-8">
                        <p-checkbox name="stage_applicable" binary="true"
                                    formControlName="stage_applicable"></p-checkbox>
                    </div>
                </div>

                <div class="ui-grid-col-6 pl0" *ngIf="moduleForm.value.stage_applicable">
                    <div class="ui-grid-col-4">
                        Stage Pick List Name :
                    </div>
                    <div class="ui-grid-col-8">
                        <input pInputText type="text" name="StagePickListName" formControlName="StagePickListName"/>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row" *ngIf="moduleForm.value.stage_applicable">
                <div class="ui-grid-col-6 pl0">
                    <div class="ui-grid-col-4">
                        Status Applicable :
                    </div>
                    <div class="ui-grid-col-8">
                        <p-checkbox name="group2" binary="true" formControlName="status_applicable"></p-checkbox>
                    </div>
                </div>
                <div class="ui-grid-col-6 pl0" *ngIf="moduleForm.value.status_applicable">
                    <div class="ui-grid-col-4">
                        Status Pick List Name :
                    </div>
                    <div class="ui-grid-col-8">
                        <input pInputText type="text" formControlName="StatusPickListName"/>
                    </div>
                </div>
            </div>


            <div class="ui-grid-row">
                <div class="ui-grid-col-6 pl0">
                    <div class="ui-grid-col-4">
                        Module Icon *:
                    </div>
                    <div class="ui-grid-col-8">
                        <icon-picker formControlName="module_icon" [(ngModel)]="module_icon"></icon-picker>
                        <small class="text-danger ui-grid-col-12"
                               *ngIf="submittedForm && moduleForm.get('module_icon').errors">
                            Module Icon is required
                        </small>
                    </div>
                </div>

            </div>
            <div class="ui-grid-row ui-grid-col-6 pl0">
                <div class="ui-grid-col-4"></div>
                <div class="ui-grid-col-8 pl0">
                    <div class="ui-grid-col-12">
                        <p-checkbox label="Is User" name="group2" binary="true" formControlName="is_user"
                                    [disabled]="moduleId"></p-checkbox>
                    </div>
                    <div class="ui-grid-col-12">
                        <p-checkbox label="Export" name="group2" binary="true"
                                    formControlName="can_export"></p-checkbox>
                    </div>
                    <div class="ui-grid-col-12">
                        <p-checkbox label="Import" name="group2" binary="true"
                                    formControlName="can_import"></p-checkbox>
                    </div>
                    <div class="ui-grid-col-12">
                        <p-checkbox label="Show Full Form" name="group2" binary="true"
                                    formControlName="show_full_form"></p-checkbox>
                    </div>
                    <div class="ui-grid-col-12">
                        <p-checkbox label="Show Quick Form" name="group2" binary="true"
                                    formControlName="show_quick_form"></p-checkbox>
                    </div>
                </div>
            </div>


            <div class="ui-grid-row">
                <div class="ui-grid-col-2 pl0">
                    Conditions :
                </div>
                <div class="ui-grid-col-8 pl0">
                    <textarea pInputTextarea formControlName="conditions" placeholder="Conditions">
                    </textarea>
                </div>
            </div>
            <!-- <div class="">
                <icon-picker></icon-picker>
             </div>-->
            <div class="ui-helper-clearfix">
                <div class="f-r">
                    <button pButton type="submit" icon="fa-save" label="Save"></button>
                </div>
            </div>
        </div>
    </form>
</div>
<p>&nbsp;</p>
<div class="ui-helper-clearfix">

    <p-dataTable [value]="dataRows" *ngIf="refreshTable"
                 [rows]="10" [totalRecords]="totalRecords"
                 [paginator]="true"
                 [pageLinks]="3"
                 (onLazyLoad)="loadDataLazy($event)"
                 [lazy]="true"
                 [responsive]="true"
                 [rowsPerPageOptions]="[5,10,20,50,100,500,1000]"
                 [tableStyleClass]="'table-x-scroll'" scrollable="true" #dt>

        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-header-title" style="text-align: left">Module Numbering</span>
                <span class="f-r">
                    <button type="button"
                            pButton icon="fa-plus"
                            (click)="openItemModal(itemModal)"
                            label="Add"></button>
                </span>
            </div>
        </p-header>
        <p-column field="prefix" [sortable]="true" header="Prefix"></p-column>
        <p-column field="seq" [sortable]="true" header="Sequence">

            <ng-template let-row="rowData" pTemplate="item">
                <div *ngIf="row.is_active" class="ui-button ui-button-danger">{{row.seq}}</div>
                <div *ngIf="!row.is_active">{{row.seq}}</div>
            </ng-template>

        </p-column>
        <p-footer>
            <span class="ui-sub-header-title">Total Rows : {{totalRecords}}</span>
            <i class="btn btn-sm fa fa-refresh" (click)="tableReload()" style="float: right"></i>
        </p-footer>
    </p-dataTable>

    <ng-template #itemModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <span class="ui-header-title">Add New Numbering</span>
            <!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>-->
        </div>
        <form [formGroup]="itemFG" (ngSubmit)="itemModalFormSubmit(itemFG.value,itemFG.valid)" novalidate>
            <div class="modal-body">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Prefix :
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText formControlName="prefix">
                            <small class="text-danger"
                                   *ngIf="itemSubmittedForm && itemFG.get('prefix').errors">
                                This field is required
                            </small>
                        </div>
                    </div>


                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Sequence :
                        </div>
                        <div class="ui-grid-col-6">
                            <p-spinner formControlName="seq"></p-spinner>
                            <small class="text-danger"
                                   *ngIf="itemSubmittedForm && itemFG.get('seq').errors">
                                This field is required
                            </small>
                        </div>
                    </div>


                </div>


        </div>
            <div class="modal-footer">
            <button type="button" pButton icon="fa-close" class="ui-button-secondary" label="Cancel"
                    (click)="c('Close click')"></button>
            <button pButton icon="fa-check" class="ui-button-primary" label="Save"></button>
        </div>
        </form>
    </ng-template>

</div>

