<div class="ui-helper-clearfix">
    <p-dataTable [value]="dataRows" *ngIf="refreshTable"
                 [rows]="10" [totalRecords]="totalRecords"
                 [paginator]="true"
                 [pageLinks]="3"
                 (onLazyLoad)="loadDataLazy($event)"
                 [lazy]="true"
                 [responsive]="true"
                 [rowsPerPageOptions]="[5,10,20,50,100,500,1000]"
                 [tableStyleClass]="'table-x-scroll'" scrollable="true" #dt>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-header-title" style="text-align: left">Pick List</span>
                <div style="float: right" class="ui-helper-clearfix">
                    <button type="button" pButton icon="fa-plus" (click)="openPlModal(plModal)"
                            label="Add"></button>
                </div>
            </div>
        </p-header>
        <p-column field="name" [sortable]="true" header="Name">
            <ng-template let-row="rowData" pTemplate="item">
                <a [routerLink]="[row.pk_id+'/'+row.name]">{{row.name}}</a>
            </ng-template>
        </p-column>
        <p-column field="Count" [sortable]="true" header="Values Count"></p-column>
        <p-column>
            <ng-template let-row="rowData" pTemplate="item">
                 <!--<a [routerLink]="[row.pk_id+'/'+row.name]"><i class="btn fa fa-eye"></i></a>-->
                 <i class="btn fa fa-pencil" (click)="openPlModal(plModal,row)"></i>
            </ng-template>
        </p-column>
        <p-footer>
            <span class="ui-sub-header-title">Total Rows : {{totalRecords}}</span>
            <i class="btn btn-sm fa fa-refresh" (click)="tableReload()" style="float: right"></i>
        </p-footer>
    </p-dataTable>
</div>


<ng-template #plModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="ui-header-title">Add New Picklist</span>
      <!--  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>-->
    </div>
    <form [formGroup]="plMF" (ngSubmit)="plModalFormSubmit(plMF.value,plMF.valid)" novalidate>
        <div class="modal-body">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Pick List Name *:
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText formControlName="Name">
                            <small class="text-danger"
                                   *ngIf="plSubmittedForm && plMF.get('Name').errors">
                                This field is required
                            </small>
                        </div>
                    </div>
                        <!--<div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                Parent Pick List *:
                            </div>
                            <div class="ui-grid-col-6">
                                <p-dropdown [options]="parentPickList" formControlName="ParentId" [filter]="true"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"></div>
                            <p-checkbox class="ui-grid-col-4"
                                        formControlName="CodeFlag"
                                        label="Code Flag" binary="true" [(ngModel)]="CodeFlag">
                            </p-checkbox>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"></div>
                            <p-checkbox class="ui-grid-col-4"
                                        formControlName="ColorFlag"
                                        label="Color Flag" binary="true" [(ngModel)]="ColorFlag">
                            </p-checkbox>
                        </div>-->
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" pButton icon="fa-close" class="ui-button-secondary" label="Cancel"
                    (click)="c('Close click')"
            ></button>
            <button pButton icon="fa-check" class="ui-button-primary" label="Save"></button>
        </div>
    </form>

</ng-template>

