<div class="content-section">
    <p-panel>
        <p-header>
            <div class="ui-grid ui-grid-responsive ui-grid-col-6 ui-grid-pad">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-3">
                        User Name :
                    </div>
                    <div class="ui-grid-col-6">
                       {{userGroupDetail.name}}
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-3">
                        User Type :
                    </div>
                    <div class="ui-grid-col-6">
                        {{userGroupDetail.user_type}}
                    </div>
                </div>
            </div>
        </p-header>
        <div class="ui-helper-clearfix">
          <p-dataTable [value]="dataRows" [rows]="10" [totalRecords]="totalRecords" [paginator]="true" [pageLinks]="3"
                       (onLazyLoad)="loadDataLazy($event)" [lazy]="true" [responsive]="true"   [(selection)]="selectedUserGroupMembers"
                       [rowsPerPageOptions]="[1,2,5,10,20,50,100,500,1000]" *ngIf="refreshTable">
            <p-header>
              <div class="ui-helper-clearfix">
                <span class="ui-header-title">User Group Members</span>
            <span class="f-r">
                <button type="button" [disabled]="selectedUserGroupMembers.length==0" pButton icon="fa-trash" class="ui-button-danger" (click)="removeUserGroupMembers(selectedUserGroupMembers)" label="Delete"></button>
                <button type="button" pButton icon="fa-plus" (click)="addUserGroupMembers()" label="Add"></button>
            </span>
              </div>
            </p-header>
            <p-column [style]="{'width':'38px'}" selectionMode="multiple">
            </p-column>

            <p-column field="name" [sortable]="true" header="Name" [filter]="true">
            </p-column>
            <p-column field="object_type" [sortable]="true" header="User Type" [filter]="true">
            </p-column>
            <p-footer>
              <span class="ui-sub-header-title">Total Rows : {{totalRecords}}</span>
              <i class="btn btn-sm fa fa-refresh" (click)="tableReload()" style="float: right"></i>
            </p-footer>
          </p-dataTable>
        </div>
    </p-panel>
</div>

<p-dialog header="Add User Members" appendTo="body" responsive="true" [draggable]="false" [resizable]="false" [(visible)]="umDialog" [modal]="true" width="700" >

    <form  #f="ngForm"  novalidate>
    <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="dataRow">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">User Type *</div>
            <div class="ui-grid-col-8">
                <p-dropdown appendTo="body" (onChange)="usergroupChange(ugMember.user_group_id)" required [filter]="true" [options]="usergroupsList" name="user_group_id" [(ngModel)]="ugMember.user_group_id"></p-dropdown>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">Users *</div>
            <div class="ui-grid-col-8">

                <p-multiSelect appendTo="body"  [style]="{width :'100%'}"  required  [options]="groupMembersList" name="list" [(ngModel)]="ugMember.list"></p-multiSelect>

            </div>
        </div>
    </div>

    </form>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="saveUserGroupMember()" [disabled]="f.invalid" label="Save"></button>
            <button type="button"  class="ui-button-secondary" pButton icon="fa-close" (click)="umDialog=false" label="Cancel"></button>
        </div>
    </p-footer>
</p-dialog>
<p-confirmDialog width="425"></p-confirmDialog>
