<div class="content-section ">
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="ui-grid ui-grid-responsive ui-grid-col-12 ui-grid-pad">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Name *
                        </div>
                        <div class="ui-grid-col-4">
                            <input pInputText [(ngModel)]="roleDetail.app_role"/>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Reports To *
                        </div>
                        <div class="ui-grid-col-4">
                            <input pInputText [(ngModel)]="roleDetail.parent_role_name" readonly/>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Menu *
                        </div>
                        <div class="ui-grid-col-4">
                            <p-dropdown appendTo="body" [filter]="true" [options]="menuDropdownList" name="menu_id"
                                        [(ngModel)]="roleDetail.app_menu_id" required></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Can Assign Records To
                        </div>
                        <div class="ui-grid-col-8">
                            <div class="ui-grid-col-12">
                                <p-radioButton name="can_assign_records_to" value="1" label="All Users"
                                               [(ngModel)]="roleDetail.can_assign_records_to"></p-radioButton>
                            </div>
                            <div class="ui-grid-col-12">
                                <p-radioButton name="can_assign_records_to" value="2"
                                               label="Users having Same Role or Same Hierarchy or Subordinance Role"
                                               [(ngModel)]="roleDetail.can_assign_records_to"></p-radioButton>
                            </div>
                            <div class="ui-grid-col-12">
                                <p-radioButton name="can_assign_records_to" value="3"
                                               label="Users having Subordinace Role"
                                               [(ngModel)]="roleDetail.can_assign_records_to"></p-radioButton>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Privileges
                        </div>
                        <div class="ui-grid-col-8">
                            <div class="ui-grid-col-12">
                                <p-radioButton name="privileges" value="1" label="Assign privileges directly to Role"
                                               [(ngModel)]="roleDetail.privileges"></p-radioButton>
                            </div>
                            <div class="ui-grid-col-12">
                                <p-radioButton name="privileges" value="2"
                                               label="Assign privileges from existing profiles"
                                               [(ngModel)]="roleDetail.privileges"></p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-header>
        <div class="ui-helper-clearfix" *ngIf="roleDetail.privileges==2">
            <div class="ui-grid ui-grid-responsive ui-grid-col-12 ui-grid-pad">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                       Profile Access
                    </div>
                    <div class="ui-grid-col-4">
                        <p-multiSelect [options]="profileDropdownList2" [(ngModel)]="roleDetail.profiles"> </p-multiSelect>
                    </div>
             <!--       <div class="ui-grid-col-2"> <button pButton label="view" icon="fa-eye" (click)="showProfileaccessTable(roleDetail.profiles)"></button></div>
              -->  </div>
            </div>
        </div>
        <div class="ui-helper-clearfix"  *ngIf="roleDetail.privileges==1">
            <div class="ui-grid ui-grid-responsive ui-grid-col-12 ui-grid-pad">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Copy Profile Access
                    </div>
                    <div class="ui-grid-col-4">
                        <p-dropdown  appendTo="body" [filter]="true" [options]="profileDropdownList" name="menu_id"
                                     [(ngModel)]="copy_profile_id" (onChange)="getModulePermission(copy_profile_id)"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-helper-clearfix" *ngIf="roleDetail.privileges==1">
            <p-dataTable [value]="roleDetail.Permissions" [responsive]="true">
                <p-column field="module_label" [filter]="true"  header="Module"></p-column>
                <p-column field="View" header="View" styleClass="text-center">
                    <ng-template pTemplate="header" let-header="col">

                        <p-checkbox binary="false" [value]="false" (onChange)="allChecked($event,'View')"></p-checkbox>
                        View
                    </ng-template>
                    <ng-template let-col let-row="rowData" pTemplate="body">

                        <p-checkbox binary="false" [value]="false" (onChange)="changeCheckBox(row,'View')"
                                    [(ngModel)]="row.View" *ngIf="row.ViewId"></p-checkbox>
                    </ng-template>
                </p-column>
                <p-column field="Create" header="Create" styleClass="text-center">
                    <ng-template pTemplate="header" let-header="col">
                        <p-checkbox binary="false" [value]="false" (onChange)="allChecked($event,'Create')"></p-checkbox>
                        Create
                    </ng-template>
                    <ng-template let-col let-row="rowData" pTemplate="body">
                        <p-checkbox binary="true" [value]="true" (onChange)="changeCheckBox(row,'Create')"
                                    [(ngModel)]="row.Create" *ngIf="row.CreateId"></p-checkbox>
                    </ng-template>
                </p-column>
                <p-column field="Edit" header="Edit" styleClass="text-center">
                    <ng-template pTemplate="header" let-header="col">
                        <p-checkbox binary="false" [value]="false" (onChange)="allChecked($event,'Edit')"></p-checkbox>
                        Edit
                    </ng-template>
                    <ng-template let-col let-row="rowData" pTemplate="body">
                        <p-checkbox binary="false" [value]="false" (onChange)="changeCheckBox(row,'Edit')"
                                    [(ngModel)]="row.Edit" *ngIf="row.EditId"></p-checkbox>
                    </ng-template>
                </p-column>
                <p-column field="Delete" header="Delete" styleClass="text-center">
                    <ng-template pTemplate="header" let-header="col">
                         <p-checkbox binary="false" [value]="false" (onChange)="allChecked($event,'Delete')"></p-checkbox>
                        Delete
                    </ng-template>
                    <ng-template let-col let-row="rowData" pTemplate="body">
                        <p-checkbox binary="false" [value]="false" (onChange)="changeCheckBox(row,'Delete')"
                                    [(ngModel)]="row.Delete" *ngIf="row.DeleteId"></p-checkbox>
                    </ng-template>
                </p-column>
                <p-column field="Import" header="Import" styleClass="text-center">
                    <ng-template pTemplate="header" let-header="col">
                        <p-checkbox binary="false" [value]="false"
                                    (onChange)="allChecked($event,'Import')"></p-checkbox>

                        Import
                    </ng-template>
                    <ng-template let-col let-row="rowData" pTemplate="body" >

                        <p-checkbox binary="false" [value]="false" (onChange)="changeCheckBox(row,'Import')"
                                    [(ngModel)]="row.Import" *ngIf="row.ImportId"></p-checkbox>

                    </ng-template>
                </p-column>
                <p-column field="Export" header="Export" styleClass="text-center">
                    <ng-template pTemplate="header" let-header="col">
                        <p-checkbox binary="false" [value]="false"
                                    (onChange)="allChecked($event,'Export')"></p-checkbox>

                        Export
                    </ng-template>
                    <ng-template let-col let-row="rowData" pTemplate="body" >

                        <p-checkbox binary="false" [value]="false" (onChange)="changeCheckBox(row,'Export')"
                                    [(ngModel)]="row.Export" *ngIf="row.ExportId"></p-checkbox>

                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
        <div class="ui-toolbar ui-helper-clearfix">
            <div class="f-r pr-0">
                <button pButton icon="fa-check" label="Submit" (click)="saveUpdateRole()"></button>
            </div>
        </div>
    </p-panel>
</div>
