<div class="ui-g-12 pl-0 pr-0">
    <div class="kanban-content clearfix">
        <div class="kanban-content-left">
            <div class="kanban-widget" *ngFor="let s of stageList" dnd-sortable-container [dropZones]="['boxers-zone']"  [sortableData]="s.data">
                <h3>{{s.value}}
                    <a href="#" class="fa fa-ellipsis-v f-r"></a>
                </h3>
                <ul [ngStyle]="setStyles()"  >
                    <li *ngFor="let row of s.data; let i = index" dnd-sortable [sortableIndex]="i">
                       <!-- <div>
                            <p><span class="list-card bg-red"></span></p>
                            <p class="font-weight-bold">{{item.label}}</p>
                            <p class="sky-text">{{item.title}}</p>
                            <p>{{item.phone}}</p>
                            <p class="foot-date">
                                <span>{{item.date}}</span>
                                <span>{{item.time}}</span>
                            </p>
                        </div>-->
                        <div class="ui-grid-row item-row">
                            <div class="ui-grid-col-2 ui-sm-12" *ngIf="tc.cols[0].type == 'Image'" style="text-align:center">
                                <img *ngIf="row.Image"
                                     src="{{tc.baseUrl}}resources/{{tc.module}}?file_name={{row.Image | imagePath}}"
                                     onError="this.src='assets/img/no-image.jpg';"
                                     class="img-alignment">
                                <img *ngIf="!row.Image" src="assets/img/no-image.jpg"
                                     onError="this.src='assets/img/no-image.jpg';"
                                     class="img-alignment">
                            </div>
                            <div class="ui-sm-12 pr5 resp-pad"
                                 [ngClass]="tc.cols[0].type == 'Image'?'ui-grid-col-10':'ui-grid-col-12'">
                                <div class="ui-g ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-col-12 pb-5 ellipsis icon-pos"
                                         style="padding-right: 130px;">
                                    <span title="{{row[tc.showCols[0].name]}}"
                                          class="label-tag">{{row[tc.showCols[0].name]}}</span>

                                        <!-- <i *ngIf="this.permission.Edit" [routerLink]="['/'+currentUrl+'/'+row.pk_id]" class="btn fa fa-pencil p0" ></i>-->
                                        <a title="{{row[tc.showCols[1]?.name]}}"
                                           [routerLink]="['/'+tc.currentUrl+'/view/'+row.pk_id]" class="Datatabel_head">{{row[tc.showCols[1]?.name]}}</a>
                                    </div>
                                    <div class="ui-g ui-sm-6 ui-lg-4 ui-md-6 item-field"
                                         *ngFor="let col of tc.showCols.slice(2);let ndx = index">
                                        <div class="ui-grid-col-12 item-row-label">{{col.header_name}}:</div>
                                        <div class="ui-grid-col-12 item-row-value">
                                            <tss-table-col-field-view [row]="row" [col]="col"
                                                                      [module]="tc.module"></tss-table-col-field-view>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
