.kanban-content{
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  .kanban-content-left {
    display: table-cell;
    .kanban-widget {
      width: 265px;
      margin: 0px 15px 0px 0px;
      background: #ededed;
      border: 1px solid #d8d8d8;
      padding: 0px;
      display: inline-block;
      h3 {
        border-bottom: 1px solid #d8d8d8;
        padding: 10px;
        margin-bottom: 0px;
        a {
          padding-top: 4px;
        }
      }
      ul {
        padding: 7px;
        list-style: none;
        -webkit-transition: all 0.5s;
        background-color: #EEE;
        overflow-y: hidden;
        position: relative;
        &:hover {
          overflow-y: auto;
        }
        li {
          background-color: #fff;
          border: 1px solid #d8d8d8;
          padding: 5px;
          margin-bottom: 5px;
          p {
            margin-bottom: 0px;
            line-height: 18px;
            .list-card {
              width: 32px;
              height: 6px;
              border-radius: 6px;
              display: inline-block;
            }
            &.sky-text {
              color: #2196f3;
            }
            &.foot-date {
              border-top: 1px solid #d8d8d8;
              margin: 5px -5px 0px;
              padding: 0px 5px;
              span {
                &:last-child {
                  float: right;
                }
              }
            }
          }
        }
      }
      .kanban-footer {
        background: #d8d8d8;
        text-align: center;
        padding: 10px 5px;
      }

    }
  }
  .kanban-content-right{
    display: table-cell;
    vertical-align: top;
    .add-stage{
      display: inline-block;
    }
  }
}
.kanban-widget ul::-webkit-scrollbar {
  width: 4px;
  background-color: #FFF;
}
/*.kanban-content::-webkit-scrollbar {
  height: 4px;
  background-color: #FFF;
}*/
.kanban-widget ul::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}

.kanban-widget ul::-webkit-scrollbar-thumb{
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
