
.detailview-table tr td{
  border: 1px solid #ececec;
}

.detailview-table tr {
  border-bottom: 1px solid #fff;
}
.details-item{
  border:1px solid #ececec;
}
.details-item .details-item-label{
  padding: 0;
  color: #0e6498;
  background: #fbfbfb;
}
.details-item .details-item-value{
  padding: 0 5px;
}
.details-item .details-item-value.Text.Area{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.ui-tag-list{padding: 0; margin: 0px; display: inline-block;}
.ui-tag-list li{display: inline-block; list-style-type: none; position: relative; margin-left: 20px;}
.ui-tag-list li span{background-color: #E8E6E8;padding: 0.25rem 0.5rem;vertical-align: middle}
.ui-tag-list li span:before{
  display: block;
  content: "";
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-right: 20px solid #E8E6E8;
  position: absolute;
  top: -2px;
  left: -20px;
  z-index: 2;
}
.ui-tag-list.more li{
  padding-bottom: 13px !important;
}
/*.ui-tag-list li a{font-size: 12px;padding-right: 3px;
@media (min-width: 1366px) {
  font-size: 13px;
}
}*/
.ui-tag-list li .fa{color: #CCC;padding: 0px 3px;}
.ui-tag-list li .fa:hover{color: #2196F3}

.ui-tag-list .btn-sm{padding: 0;}
.f12{font-size: 12px;}
.pt-10{padding-top: 10px;}
.pb-20{padding-bottom: 20px;}
/*
.font-szz{font-size: 12px;
@media (min-width: 1367px) {
  font-size: 13px;
}
}*/
.view-page-image{width: 100px; float: left;}

.edit-button{
  position: absolute;
  right: 0;
  margin-top: 10px;
}