<tss-sub-head>
    <ul class="f-r next-prev-heart-widget">
        <!--   <li>
               <button class="ui-button-secondary" pButton
                       icon="fa-heart"></button>
               &lt;!&ndash;<a href="javascript:;"><span class="fa fa-heart"></span></a>&ndash;&gt;
           </li>-->
        <!--        <li class="next-previous-buttons"><a href="javascript:;"><span class="icon-arrow-left"></span></a></li>
                <li class="next-previous-buttons"><a ><span class="icon-arrow-right"></span></a></li>-->
        <li>
            <!--<div class="">
                <button [disabled]="!prevLink" [routerLink]="[prevLink]" class="ui-button-secondary p0" pButton
                        icon="fa-angle-left" style="border-radius: 0;"></button>
                <button [disabled]="!nextLink" [routerLink]="[nextLink]" class="ui-button-secondary" pButton
                        icon="fa-angle-right"
                        style="margin: 0 0 0 -5px; border-radius: 0;"></button>
            </div>-->
            <button [disabled]="!prevLink" [routerLink]="[prevLink]" class="ui-button-secondary p0" pButton
                    icon="fa-angle-left"></button>
            <span>Prev</span>
            <!--<a [routerLink]="[prevLink]"><span class="fa fa-angle-left"></span></a>-->
        </li>
        <li><!--<a href="javascript:;"><span class="fa fa-angle-right"></span></a>-->

            <button [disabled]="!nextLink" [routerLink]="[nextLink]" class="ui-button-secondary" pButton
                    icon="fa-angle-right"></button>
            <span>Next</span>
        </li>
        <li *ngIf="this.permission.Delete">
            <button class="ui-button-danger" pButton (click)="delete(pkId)"
                    icon="fa-trash"></button>
        </li>
        <!-- <li>&lt;!&ndash;<a href="javascript:;"><span class="fa fa-angle-right"></span></a>&ndash;&gt;

             <button *ngIf="permission.Edit" [routerLink]="['/' + moduleListLink +'/' + pkId]"
                     class="ui-button-secondary" pButton
                     icon="fa-pencil"></button>
             <span>Update</span>
         </li>-->
        <!--  <li>
              <button (click)="getMenuForActions(menu,$event)" class="ui-button-secondary" pButton
                      icon="fa-ellipsis-v"></button>
              <span>Details</span>
              &lt;!&ndash;<a (click)="getMenuForActions(menu,$event)"><span class="fa fa-ellipsis-v" ></span></a>&ndash;&gt;
          </li>-->
    </ul>
</tss-sub-head>

<app-view-templates [rowData]="dynamicFormFieldFormat" [params]="paramData" *ngIf="moduleData.extra_options && showViewPage"></app-view-templates>
<app-create-meeting></app-create-meeting>

<div *ngIf="!moduleData.extra_options && showViewPage">
    <!--if stage_applicable-->

    <div class="ui-helper-clearfix" *ngIf="moduleData.stage_applicable ">
        <div class="ui-g ui-grid-responsive grid-border">
            <div class="ui-lg-3 ui-md-6 ui-sm-6" *ngFor="let f of headerFields; let i = index">
                <div class="ui-sub-header-title label-grey weight-none">{{f.name}}</div>
                <form-field [field]="f" viewType="view"></form-field>
            </div>
        </div>
        <div class="ui-helper-clearfix" *ngIf="showViewPage">
            <div class="ui-grid-row ui-grid-responsive">
                <div class="ui-grid-col-12 ui-helper-clearfix">
                    <tss-stage-view-template [activeStages]="appStagesHistory" [stages]="stages"
                                             moreInfo="true"></tss-stage-view-template>
                </div>
            </div>
        </div>
    </div>
    <!--#End if stage_applicable-->
    <div class="ui-helper-clearfix pb10" *ngIf="!moduleData.stage_applicable">
        <div class="ui-grid-col-12 ui-helper-clearfix">
            <div class="view-page-image">
                <div style="background-color: #ffffff;margin-right: 10px;">
                    <img *ngIf="featuredImage"
                         src="{{baseUrl}}resources/{{module}}?file_name={{featuredImage| imagePath}}"
                         onError="this.src='assets/img/no-image.jpg';"
                         style="width:100%; padding: 0px 0px; border: 2px solid #000;">
                    <img *ngIf="!featuredImage" src="assets/img/no-image.jpg"
                         onError="this.src='assets/img/no-image.jpg';"
                         style="width:100%; padding: 0px 10px;">
                </div>
            </div>

            <div class="ui-grid-col-8">
                <div class="ui-grid-12" *ngFor="let f of headerFields; let i = index">
                    <div class="ui-sub-header-title">{{f.name}}</div>
                    <form-field [field]="f" viewType="view"></form-field>
                </div>
            </div>
        </div>
    </div>
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix panel_head">
                <ul class="ui-tag-list" *ngIf="tagList.length>0">
                    <li *ngFor="let tag of tagList | slice:0:displayTag; let i=index">
                <span> <a>{{tag.name}}</a>
                <i class="btn-sm fa fa-pencil" (click)="openUpdateTagPopover(op2,$event,tag)"></i>
                <i (click)="removeTag(tag)" class="btn-sm fa fa-times"></i></span>
                    </li>
                </ul>
                <a class="btn" *ngIf="tagList.length>displayTag" (click)="moreTag.show($event)">+ More
                    ({{tagList.length-displayTag}})</a>
                <a class="btn btn-sm" (click)="openAddTagPopover(addTagPO,$event)">+ Add Tag</a>
            </div>

        </p-header>
        <!--    (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)"-->
        <div class="ui-helper-clearfix">
            <md-tab-group [(selectedIndex)]="selectedIndex" (selectChange)="onTabChange($event)">
                <md-tab>
                    <ng-template md-tab-label>
                        <span mdTooltip="Details">Details</span>
                    </ng-template>
                    <div class="ui-helper-clearfix edit-button">
                        <button *ngIf="permission.Edit && !showEditForm" (click)="showEditForm =! showEditForm"
                                class="ui-button-secondary"
                                pButton
                                icon="fa-pencil"></button>

                        <i *ngIf="showEditForm" class="btn-sm iconmoon-close1"
                           (click)="showEditForm =! showEditForm"></i>
                    </div>

                    <div class="ui-helper-clearfix pt10" *ngIf="showEditForm">
                        <dynamic-form showBlogTitle="true" [submitLabel]="'Update'" [exParams]="{parent_pk_id:pkId}"
                                      [module]="module" [pkId]="pkId"
                                      [col]="4" formType="full" autoSave="true"
                                      (afterSave)="afterUpdateForm($event)"></dynamic-form>
                    </div>

                    <div class="ui-helper-clearfix" *ngIf="!showEditForm">
                        <div class="ui-g p10 panel-body" *ngFor="let b of blocks|filterBy:filterField">
                            <div class="ui-grid-col-12">
                                <div class="ui-header-title">{{b.block.name}}</div>
                            </div>
                            <div class="ui-sm-{{f.extra_options.sm}} ui-lg-{{f.extra_options.lg}} ui-md-{{f.extra_options.md}} pl0 pb0"
                                 *ngFor="let f of b.showFields |filterBy:filterField; let i = index">
                                <div class="ui-grid-col-12 f12 label-grey ellipsis" title="{{f.display_label}}">
                                    {{f.display_label}}
                                </div>
                                <div class="ui-grid-col-12">
                                    <form-field [field]="f" viewType="view" [module]="module"
                                                [baseUrl]="baseUrl"></form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                </md-tab>

                <md-tab *ngFor="let r of relationFields | filterBy:filterField">
                    <ng-template md-tab-label>
                <span class="ellipsis" mdTooltip="{{r.name}}">
               <i class="fa {{r.data?.to_module_icon}}"></i>
                {{r.name}}</span><!--.substring(0,2)-->
                    </ng-template>
                    <div class="p5" *ngIf="r.showTable">
                        <relation-table [formData]="dynamicFormFieldFormat" [relData]="r"
                                        [pkId]="pkId"></relation-table>
                    </div>
                </md-tab>
            </md-tab-group>
        </div>
        <!--<p-tabView (onChange)="onTabChange($event)" placeholder="top">
            <p-tabPanel header="Details">
                <div class="ui-g" *ngFor="let b of this.blocks">
                    <div class="ui-grid-col-12">
                        <div class="ui-header-title">{{b.block.name}}</div>
                    </div>
                    <div class="ui-lg-{{f.col || '4'}} ui-md-{{f.col || '4'}} ui-sm-12" *ngFor="let f of b.showFields; let i = index">
                        <div class="ui-grid-col-12 f12">
                            {{f.name}}
                        </div>
                        <div class="ui-grid-col-12">
                            <form-field [field]="f" viewType="view" [module]="module" [baseUrl]="baseUrl"></form-field>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel lazy="true"  header="{{r.name.substring(0,2)}}"  leftIcon="{{r.data.to_module_icon}}" *ngFor="let r of relationFields">
                <div *ngIf="r.showTable"  >
                    <relation-table [relData]="r" [pkId]="pkId"></relation-table>
                </div>
            </p-tabPanel>
        </p-tabView>-->
    </p-panel>
    <div *ngIf="showRelationDiv">
        <div style="padding-top: 10px" *ngFor="let r of showRelationDetails | filterBy:filterField">
            <relation-table [relData]="r" [pkId]="pkId" [formData]="dynamicFormFieldFormat"></relation-table>
        </div>
    </div>
</div>


<!--moreTagpopover-->
<p-overlayPanel #moreTag appendTo="body" [showCloseIcon]="true" [dismissable]="false">
    <div style="width: 300px;overflow: auto;">
        <ul class="ui-tag-list more" *ngIf="tagList.length>displayTag">
            <li *ngFor="let tag of tagList | slice:displayTag; let i=index">
                <span> <a>{{tag.name}}</a>
                <i class="btn-sm fa fa-pencil" (click)="openUpdateTagPopover(op2,$event,tag)"></i>
                <i (click)="removeTag(tag)" class="btn-sm fa fa-times"></i></span>
            </li>
        </ul>
    </div>
</p-overlayPanel>
<!--addTagPO-->
<p-overlayPanel #addTagPO appendTo="body" [showCloseIcon]="true" [dismissable]="false">
    <div style="width: 250px">
        <p-chips [(ngModel)]="tags" styleClass="tag-chips">
        </p-chips>
        <p-autoComplete *ngIf="showAutoComplete" placeholder="Enter Tag" [(ngModel)]="chip"
                        (onSelect)="selectedSuggestion($event)" [size]="30" [suggestions]="filteredTags"
                        (completeMethod)="filterTags($event)" field="name"
                        [minLength]="1" (keyup.enter)="addChip(chip)">
        </p-autoComplete>
    </div>
    <div class="ui-toolbar ui-helper-clearfix pl0">
        <div class="ui-float-right">
            <!--      <button class="ui-button-secondary" pButton label="Cancel" (click)="addTagPO.hide($event)"
                          icon="fa-close"></button>-->
            <button class="ui-button-success" pButton label="OK" icon="fa-check"
                    (click)="addTags(tags,addTagPO)" [disabled]="tags.length == 0"></button>

        </div>
    </div>
</p-overlayPanel>
<!--update tag popover-->
<p-overlayPanel #op2 appendTo="body" [showCloseIcon]="true" [dismissable]="false" styleClass="pos-left">
    <div style="width: 250px">
        <input pInputText [(ngModel)]="tag.name" required>
    </div>
    <div class="ui-toolbar ui-helper-clearfix pr-0 pl-0">
        <div class="ui-float-right f-r">
            <button class="ui-button-success" pButton label="OK" icon="fa-check"
                    (click)="updateTag(tag,op2)" [disabled]="!tag.name"></button>

        </div>
    </div>
</p-overlayPanel>
<div #container></div>
<p-menu [appendTo]="container" #menu popup="popup" label="..."
        [model]="actionItem">
</p-menu>
<p-confirmDialog width="425"></p-confirmDialog>
