<!--<div class="ui-grid-col-12 ui-helper-clearfix">
    <tss-stage-view-template [activeStages]="appStagesHistory" [stages]="stages" moreInfo="true"></tss-stage-view-template>
</div>-->
<div class="ui-helper-clearfix">
   <!-- <div class="form-steps ui-steps ui-widget ui-helper-clearfix ui-steps-readonly"
         *ngIf="(updateRelationFields | filterBy:stepFilter).length>0">
        <ul role="tablist">
            &lt;!&ndash;&ndash;&gt;
            <li class="ui-steps-item" [ngClass]="(activeIndex==0)?'ui-state-highlight':'ui-state-default'">
                <a class="ui-menuitem-link" (click)="stageClick(null,0)">
                    <span class="ui-steps-number">1</span>
                    <span class="ui-steps-title">Details Form</span>
                </a>
            </li>
            <li class="ui-steps-item "
                [ngClass]="[(stepsReadonly)?'ui-state-default ui-state-disabled':'',((inx+1)==activeIndex)?'ui-state-highlight':'ui-state-default']"
                *ngFor="let s of updateRelationFields | filterBy:stepFilter;let inx=index">
                <a class="ui-menuitem-link" (click)="stageClick(s,inx+1)">
                    <span class="ui-steps-number">{{inx+2}}</span>
                    <span class="ui-steps-title">{{s.name}}</span>
                </a>
            </li>
            &lt;!&ndash;  <li class="ui-steps-item ui-state-default ui-state-disabled">
              <a class="ui-menuitem-link">
                  <span class="ui-steps-number">3</span>
                  <span class="ui-steps-title">Attachments </span>
              </a>
          </li><li class="ui-steps-item ui-state-default ui-state-disabled">
              <a class="ui-menuitem-link">
                  <span class="ui-steps-number">4</span>
                  <span class="ui-steps-title">Touch Points </span>
              </a>
          </li><li class="ui-steps-item ui-state-default ui-state-disabled">
              <a class="ui-menuitem-link">
                  <span class="ui-steps-number">5</span>
                  <span class="ui-steps-title">Products</span>
              </a>
          </li>&ndash;&gt;
        </ul>
    </div>-->
    <div class="ui-helper-clearfix custom_tabs">
        <md-tab-group [(selectedIndex)]="activeIndex"  (selectChange)="onTabChange($event)">
            <md-tab>
                <ng-template md-tab-label>
                    <span mdTooltip="Details" class="ellipsis">Details</span>
                </ng-template>
                <p-panel *ngIf="showForm">
                    <p-header>
                        <div class="ui-helper-clearfix">
                            <span class="ui-header-title ">
                               {{module}} Update / Create
                            </span>
                            <!-- <span class="f-r">
                                 <button class="ui-button-secondary" pButton icon="fa-arrow-left" label="Back" [routerLink]="['/'+moduleListLink]"  ></button>
                             </span>-->
                        </div>

                    </p-header>
                    <dynamic-form [submitLabel]="submitLabel" [exParams]="{parent_pk_id:pkId}" (loadData)="getFormFields($event)" [module]="module"
                                  [pkId]="pkId"
                                  [col]="4" formType="full" autoSave="true"
                                  (afterSave)="submitForm($event)"></dynamic-form>

                </p-panel>

            </md-tab>

            <md-tab [disabled]="stepsReadonly" *ngFor="let r of updateRelationFields | filterBy:stepFilter;let inx=index">
                <ng-template md-tab-label>
                <span class="ellipsis" mdTooltip="{{r.name}}">
               <i class="fa {{r.data?.to_module_icon}}"></i>
                {{r.name}}</span><!--.substring(0,2)-->
                </ng-template>
                <div *ngIf="r.showTable">
                    <relation-table [formData]="formFields" [relData]="r" [pkId]="pkId"></relation-table>
                </div>
            </md-tab>

        </md-tab-group>
    </div>


    <!--  <p-steps *ngIf="showStepDiv" [model]="steps" [(activeIndex)]="activeIndex" styleClass="form-steps" [readonly]="stepsReadonly"></p-steps>

    -->


</div>
<!--<div class="p5" *ngIf="relTableShow && activeIndex > 0">
    <relation-table [formData]="formFields" [relData]="currentRel" [pkId]="pkId"></relation-table>
</div>-->


<p-confirmDialog width="425"></p-confirmDialog>
