<div class="" *ngIf="refreshTable">
    <p-dataTable [value]="dataRows" [rows]="10" [totalRecords]="totalRecords" [paginator]="true" [pageLinks]="3"
                 (onLazyLoad)="loadDataLazy($event)" [lazy]="true"
                 [responsive]="true" expandableRows="true"
                 [rowsPerPageOptions]="[10,20,50,100,500,1000]">
        <p-header>
            <div class="ui-toolbar ui-helper-clearfix">
                <div class="ui-toolbar-group-left">
                    <span class="ui-header-title">Access Log </span>
                </div>
                <div class="ui-toolbar-group-right">
                    <p-dropdown [options]="logDateList" (onChange)="tableReload()"
                                [(ngModel)]="selectedDate"></p-dropdown>
                </div>
            </div>
        </p-header>
        <p-column expander="true" styleClass="col-icon" [style]="{'width':'30px'}"></p-column>
        <p-column field="created_date" [sortable]="true" header="Date" [filter]="true">
            <ng-template let-row="rowData" pTemplate="body">
                {{row.created_date | datex:'datetime'}}
            </ng-template>
        </p-column>
        <p-column field="user" [sortable]="true" header="User" [filter]="true">
        </p-column>
        <p-column field="method" [sortable]="true" header="Method" [filter]="true">
        </p-column>
        <p-column field="url" [sortable]="true" header="Url" [filter]="true">
        </p-column>
        <p-column field="host" [sortable]="true" header="IP Address" [filter]="true">
        </p-column>
        <p-footer>
            <span class="ui-sub-header-title">Total Rows : {{totalRecords}}</span>
            <i class="btn btn-sm fa fa-refresh" (click)="tableReload()" style="float: right"></i>
        </p-footer>
        <ng-template let-row pTemplate="rowexpansion" colspan="6">
            <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:13px;padding:20px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad">
                          <!--{{row | json}}-->
                            <div class="ui-g expansion-content">
                              <div class="ui-g-12">
                                <div class="ui-grid-col-2 label">Date :</div>
                                <div class="ui-grid-col-10">{{row.created_date}}</div>
                              </div>
                              <div class="ui-g-12">
                                <div class="ui-grid-col-2 label">Uri :</div>
                                <div class="ui-grid-col-10">{{row.uri}}</div>
                              </div>
                              <div class="ui-g-12">
                                <div class="ui-grid-col-2 label">Url :</div>
                                <div class="ui-grid-col-10">{{row.url}}</div>
                              </div>
                              <div class="ui-g-12">
                                <div class="ui-grid-col-2 label">IP Address :</div>
                                <div class="ui-grid-col-10">{{row.host}}</div>
                              </div>
                              <div class="ui-g-12">
                                <div class="ui-grid-col-2 label">Port :</div>
                                <div class="ui-grid-col-10">{{row.port}}</div>
                              </div>
                              <div class="ui-g-12">
                                <div class="ui-grid-col-2 label">Method :</div>
                                <div class="ui-grid-col-10">{{row.method}}</div>
                              </div>
                              <div class="ui-g-12">
                                <div class="ui-grid-col-2 label">Agent :</div>
                                <div class="ui-grid-col-10">{{row.agent}}</div>
                              </div>
                              <div class="ui-g-12">
                                <div class="ui-grid-col-2 label">Params :</div>
                                <div class="ui-grid-col-10">{{row.params}}</div>
                              </div>
                              <div class="ui-g-12">
                                <div class="ui-grid-col-2 label">User :</div>
                                <div class="ui-grid-col-10">{{row.user}}</div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataTable>
</div>
