<button *ngIf="bType=='add'" type="button" pButton label="Add" icon="fa-plus"
        (click)="relationDialogOpen(relContent)"></button>
<div class="ui-grid-col-12" *ngIf="bType=='search'">
    <div class="ui-inputtext ui-corner-all ui-state-default ui-widget ellipsis" (click)="relationDialogOpen(relContent)">
        <span *ngIf="!currentFieldRelation.displayName && currentFieldRelation.displayName !='0'" style="width: 75%;padding-right: 20px;float: left" class="ellipsis">{{'Select '+currentFieldRelation.name}}</span>
        <span *ngIf="currentFieldRelation.displayName || currentFieldRelation.displayName=='0'">{{currentFieldRelation.displayName}}</span>
                                <span style="float: right;">
                                <button pButton type="button"
                                        icon="fa fa-search" style="height: 22px"></button>
                                </span>
    </div>
</div>


<ng-template #relContent let-c="close" let-d="dismiss">
    <div class="modal-body">
        <p-dataTable *ngIf="tableShow" [value]="dataRows"
                     [rows]="10" [totalRecords]="totalRecords"
                     [paginator]="true"
                     [pageLinks]="3"
                     (onLazyLoad)="loadDataLazy($event)"
                     [lazy]="true"
                     [responsive]="true"
                     [rowsPerPageOptions]="[5,10,20,50,100,500,1000]"
                     (onRowSelect)="onRelationRowSelect($event)"
                     [tableStyleClass]="'table-x-scroll'"
                     scrollable="true"
                     [(selection)]="selectedRows" #dt>
            <p-header>
                <div class="ui-helper-clearfix">
                    <span class="ui-header-title" style="text-align: left">{{moduleName}} List</span>
                </div>
            </p-header>
            <p-column [style]="{'width':'38px'}" selectionMode="{{selectRelation}}">
            </p-column>
            <p-column *ngFor="let col of showCols" [field]="col.name"
                      [style]="{'width': col.width+'px'}" [filter]="true" [sortable]="true"
                      [header]="col.header_name" styleClass="t1Table">
                <ng-template pTemplate="header" let-cold="col">
                    <span class="ellipsis" title="{{col.header_name}}" style="padding-right: 34px">{{col.header_name}}</span>
                </ng-template>
                <ng-template pTemplate="filter" let-cold="col">
                    <i class="btn fa fa-search" (click)="filter.hidden = !filter.hidden"></i>
                    <div class="ui-grid-row" hidden="true" #filter>
                        <input [(ngModel)]="col.search" type="text"
                               pInputText style="width: 70% !important;"
                               (keyup.enter)="dt.filter(col.search,col.name,col.filterMatchMode)"/>
                        <button pButton icon="fa-search"
                                (click)="dt.filter(col.search,col.name,col.filterMatchMode)"></button>
                    </div>
                </ng-template>
                <ng-template let-row="rowData" pTemplate="body">
                    <tss-table-col-field-view [row]="row" [col]="col"></tss-table-col-field-view>
                </ng-template>
            </p-column>
            <p-footer>
                <span class="ui-sub-header-title">Total Rows : {{totalRecords}}</span>
                <i class="btn btn-sm fa fa-refresh" (click)="tableReload()" style="float: right"></i>
            </p-footer>
        </p-dataTable>
    </div>
    <div class="modal-footer">
        <div class="ui-helper-clearfix">
            <button type="button" pButton
                    icon="fa fa-close"
                    label="Cancel" class="ui-button-secondary" (click)="d('Cross click')"></button>
            <button [disabled]="!this.selectedRows" type="button" pButton icon="fa fa-check" label="OK" class="ui-button-success"
                    (click)="saveRelationRows()"></button>


        </div>
    </div>
</ng-template>
