<!--    <div class="form-steps ui-steps ui-widget ui-helper-clearfix ui-steps-readonly">
        <ul role="tablist">
            &lt;!&ndash;&ndash;&gt;

            <li class="ui-steps-item ui-state-default ui-state-disabled">
                <a class="ui-menuitem-link">
                    <span class="ui-steps-number">1</span>
                    <span class="ui-steps-title">Attachments </span>
                </a>
            </li>
            <li class="ui-steps-item ui-state-default ui-state-disabled">
                <a class="ui-menuitem-link">
                    <span class="ui-steps-number">2</span>
                    <span class="ui-steps-title">Touch Points </span>
                </a>
            </li>
            <li class="ui-steps-item ui-state-default ui-state-disabled">
                <a class="ui-menuitem-link">
                    <span class="ui-steps-number">3</span>
                    <span class="ui-steps-title">Products</span>
                </a>
            </li>
        </ul>
    </div>-->


<p-panel styleClass="no-header">
    <div class="ui-helper-clearfix pb5">
        <div class="ui-grid-row ui-grid-responsive ui-grid-pad ui-grid-col-6">
            <div class="ui-grid-col-6">
                <p-fileUpload name="uploadedFiles" (onBeforeUpload)="onBeforeUpload($event)"
                              accept=".xls,.xlsx" [url]="uploadUrl" auto="auto" withCredentials="true"
                              (onUpload)="onUpload($event)">
                </p-fileUpload>
        <span class="ellipsis uploadedfile-text"
              *ngIf="uploadResData">{{uploadResData[0].Name}}</span>
            </div>
            <div class="ui-grid-col-2 upload-btn" *ngIf="uploadResData">
                <button pButton class="ui-button-success" label="Upload" (click)="uploadFile()"></button>
            </div>

        </div>
    </div>
    <div class="ui-helper-clearfix" *ngIf="uploadResult && uploadResult.fileInfo">
        <div class="ui-helper-clearfix">
            <span>REPORT OF THE EXCEL</span>
        </div>
        <div class="ui-hlper-clearfix ui-g progressbar-main">
            <div class="ui-g-12 ui-md-8 progressbar ui-g-nopad">
                <div class="ui-helper-clearfix">
                    <div class="custom-progressbar">
                        <span class="currect-data green-bg" [style.width]="successCountP +'%'" >{{successCountP}}</span>
                        <span class="wrong-data red-bg" [style.width]="errorCountP +'%'">{{errorCountP}}</span>
                        <span class="duplicate-data yellow-bg" [style.width]="duplicateCountP +'%'">{{duplicateCountP}}</span>
                    </div>
                </div>
               <!-- <p-progressBar [value]="successCountP"></p-progressBar>
                <span class="remain-percent" *ngIf="errorCountP > 0">{{errorCountP}}%</span>-->
            </div>
            <div class="ui-g-12 ui-md-4 ui-g-nopad">
                <div class="ui-g-2 ui-g-nopad" style="padding-left: 10px">
                    <a href="{{baseUrl}}resources/-1?file_name={{uploadResult.fileInfo.UUID}}&file_org_name={{uploadResult.fileInfo.Name}}"
                       target="_blank" class="report-download" download>
                        <span class="fa fa-download"></span>
                    </a>
                </div>
                <div class="ui-g-10 ui-g-nopad">
                    <p>
                        <span class="square green-bg"></span>
                        <span>CURRECT DATA({{uploadResult.succesCount}})</span>
                    </p>
                    <p>
                        <span class="square red-bg"></span>
                        <span>WRONG DATA({{uploadResult.errorCount}})</span>
                    </p>
                    <p>
                        <span class="square yellow-bg"></span>
                        <span>Duplicate DATA({{uploadResult.duplicateCount}})</span>
                    </p>
                </div>
            </div>

        </div>
        <p-dataTable *ngIf="tableShow" [value]="dataRows"
                     [rows]="10" [totalRecords]="totalRecords"
                     [paginator]="true"
                     [pageLinks]="3"
                     (onLazyLoad)="loadDataLazy($event)"
                     [lazy]="true"
                     [responsive]="true"
                     [rowsPerPageOptions]="[5,10,20,50,100,500,1000]"
                     [tableStyleClass]="'table-x-scroll'" scrollable="true" #dt>
            <p-header>
                <div class="ui-helper-clearfix">
                    <span class="ui-header-title">{{module}} List</span>
                    <div style="float: right" class="ui-helper-clearfix">
                    </div>
                </div>
            </p-header>
            <!--  <p-column [header]="Actions" [style]="{'width':'20px'}">
                  <ng-template let-row="rowData" pTemplate="body">
                      <i class="btn fa fa-ellipsis-v" (click)="getMenuForActions(menu,$event,row)"></i>
                  </ng-template>
              </p-column>
-->
            <p-column *ngFor="let col of showCols" [field]="col.name"
                      [style]="{'width': col.width+'px'}"
                      [filter]="true" [sortable]="true" [header]="col.header_name">
                <ng-template pTemplate="filter" let-cold="col">
                    <i class="btn fa fa-search" (click)="filter.hidden = !filter.hidden"></i>
                    <div class="ui-grid-row" hidden="true" #filter>
                        <input [(ngModel)]="col.search" type="text"
                               pInputText style="width: 80% !important;"
                               (keyup.enter)="dt.filter(col.search,col.name,col.filterMatchMode)"/>
                        <button pButton icon="fa-search"
                                (click)="dt.filter(col.search,col.name,col.filterMatchMode)"></button>
                    </div>
                </ng-template>
                <ng-template let-row="rowData" pTemplate="body">
                    <tss-table-col-field-view [row]="row" [col]="col" [module]="module"></tss-table-col-field-view>
                </ng-template>

            </p-column>
            <p-footer>
                <span class="ui-sub-header-title">Total Rows : {{totalRecords}}</span>
                <i class="btn btn-sm fa fa-refresh" (click)="tableReload()" style="float: right"></i>
            </p-footer>
        </p-dataTable>
    </div>
</p-panel>
