<div class="ui-helper-clearfix content-section">
    <div class="f-r ">
        <p-toggleButton *ngIf="menuMappedGroupList.length>1" [(ngModel)]="collapsed" onLabel="Open" offLabel="Close"
                        onIcon="fa-plus" offIcon="fa-minus"></p-toggleButton>
        <button pButton icon="fa-plus" label="Add Menu Group"
                (click)="openMenuGroupModal(menuGroupModalcontent)"></button>
    </div>
</div>
<div class="ui-helper-clearfix content-section">
    <div class="pb10" *ngFor="let mg of menuMappedGroupList">
        <p-panel header="{{mg.name}}" [toggleable]="true" [collapsed]="collapsed">
            <p-header>
                <i class="btn-sm fa fa-trash" (click)="removeMenuGroup(mg)"></i>
            </p-header>
            <div class="ui-grid ui-grid-pad">
                <div class="ui-grid-col-12">
                    <div class="ui-grid-col-12">
                        <button pButton (click)="openMenuPopover(addMenuPopover,$event,mg)" icon="fa-plus"
                                label="Add Menu"></button>
                    </div>
                    <div class="ui-grid-col-12" *ngIf="mg.MenuItems && mg.MenuItems.length>0 ">
                        <div class="ui-grid-col-2 pt10">
                            <div class="ui-listbox ui-widget-content" style="width: 100%">
                                <ul class="ui-listbox-list">
                                    <li class="ui-listbox-item ui-corner-all"
                                        [class.ui-state-highlight]="menuItem == mg.selectedMenuItem"
                                        *ngFor="let menuItem of mg.MenuItems;  let last=first"
                                        [isLast]="last" (lastDone)="getModulesByMenuItem(mg,menuItem)"
                                        (click)="getModulesByMenuItem(mg,menuItem)">

                                        <div class="ui-helper-clearfix">
                                            <i class="fa {{menuItem.icon_class || 'fa-cubes'}}"></i>
                                            <span title="{{menuItem.app_menu_item }}" class="ellipsis"
                                                  style="display: inline-block !important;max-width:85px;vertical-align: middle">{{menuItem.app_menu_item }}</span>
                                            <span class="f-r"
                                            >
                                                <i class="btn-sm fa fa-pencil"
                                                   (click)="openMenuPopover(addMenuPopover,$event,mg,menuItem)"></i>
                                                <i class="btn-sm fa fa-trash" (click)="RemoveMenuItem(mg,menuItem)"></i>
                                            </span>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ui-grid-col-10 p10" *ngIf="mg.selectedMenuItemModules">
                            <p-panel header="{{mg.selectedMenuItem.app_menu_item}} Module list">
                                <p-header>
                                    <div class="ui-helper-clearfix f-r">
                                        <button pButton label="Add Module"
                                                (click)="openAttachedModuleModal(mg.selectedMenuItem,attachedModuleModalContent)"
                                                icon="fa-plus"></button>
                                    </div>
                                </p-header>
                                <div class="ui-grid ui-helper-clearfix ui-grid-pad">
                                    <div class="ui-helper-clearfix text-center"
                                         *ngIf="mg.selectedMenuItem.selectedMenuItemModules.length ==0">
                                        <i (click)="openAttachedModuleModal(mg.selectedMenuItem,attachedModuleModalContent)" class="fa fa-plus"
                                           style="font-size: 75px;color: #cccccc"></i>
                                    </div>
                                    <div class="ui-grid-col-4 ui-grid-col-4 p10 "
                                         *ngFor="let md of mg.selectedMenuItem.selectedMenuItemModules">
                                        <div class="ui-widget-content ui-helper-clearfix">
                                            <div class="ui-lg-1 ui-md-1 ui-g-1"><i
                                                    class="fa {{md.module_icon || 'fa-dropbox'}}"></i></div>
                                            <div class="ui-lg-11 ui-md-11 ui-g-11"> {{md.module_label}}
                                                <span class="f-r"><i class="btn-sm fa fa-trash"
                                                                     (click)="RemoveMenuItemModule(mg,md)"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p-panel>
                        </div>
                    </div>
                </div>
            </div>

        </p-panel>
    </div>
</div>


<ng-template #menuGroupModalcontent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="ui-header-title">Add Menu Group</span>
        <span class="f-r">
            <i class="btn-sm fa fa-close" (click)="d('Cross click')"></i>
        </span>
    </div>
    <div class="modal-body">
        <div class="ui-grid ui-grid-responsive ui-grid-pand">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">Select Menu Group</div>
                <div class="ui-grid-col-12">
                    <p-multiSelect [options]="menuGroupList"
                                   [(ngModel)]="attachedMenuGroup"></p-multiSelect>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" class="ui-button-secondary" (click)="d('Cross click')"
                    label="Cancel"></button>
            <button [disabled]="attachedMenuGroup.length==0" type="button" pButton icon="fa-check" (click)="saveMenuGroup(attachedMenuGroup)"
                    label="Save"></button>

        </div>
    </div>
</ng-template>


<ng-template #attachedModuleModalContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="ui-header-title">Add Modules</span>
        <span class="f-r">
            <i class="btn-sm fa fa-close" (click)="d('Cross click')"></i>
        </span>
    </div>
    <div class="modal-body">
        <div class="ui-grid ui-grid-responsive ui-grid-pand">
            <div class="ui-grid-col-12" style="max-height: 340px">
                <div class="ui-grid-col-12">Select Module</div>
                <div class="ui-grid-col-12">
                    <p-multiSelect [options]="menuItemModuleList"
                                   [(ngModel)]="selectedMenuItem.attachedModules"></p-multiSelect>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" class="ui-button-secondary"
                    (click)="d('Cross click')"
                    label="Cancel"></button>
            <button [disabled]="selectedMenuItem.attachedModules.length==0"  type="button" pButton icon="fa-check" (click)="saveMenuItemModules(selectedMenuItem)"
                    label="Save"></button>
        </div>
    </div>
</ng-template>

<!--<p-dialog header="Add Menu Group" [(visible)]="addMenuGroupModal" modal="modal" width="700"
          responsive="true" draggable="false" [appendTo]="menuDialog">
    <div class="ui-grid ui-grid-responsive ui-grid-pand">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">Select Menu Group</div>
            <div class="ui-grid-col-12">
                <p-multiSelect [options]="menuGroupList"
                               [(ngModel)]="attachedMenuGroup"></p-multiSelect>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="saveMenuGroup(attachedMenuGroup)"
                    label="Save"></button>
            <button type="button" pButton icon="fa-close" class="ui-button-secondary" (click)="addMenuGroupModal=false"
                    label="Cancel"></button>
        </div>
    </p-footer>

</p-dialog>-->


<div #menuDialog></div>
<!--<p-dialog header="Add Modules"
          [(visible)]="attachedModuleModal"
          appendTo="body"
          responsive="true"
          [draggable]="false"
          [resizable]="false"
          [modal]="true"
          width="550">
    <div class="ui-grid ui-grid-responsive ui-grid-pand">
        <div class="ui-grid-col-12" style="max-height: 340px">
            <div class="ui-grid-col-12">Select Module</div>
            <div class="ui-grid-col-12">
                <p-multiSelect [options]="menuItemModuleList"
                               [(ngModel)]="selectedMenuItem.attachedModules"></p-multiSelect>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="saveMenuItemModules(selectedMenuItem)"
                    label="Save"></button>
            <button type="button" pButton icon="fa-close" class="ui-button-secondary"
                    (click)="attachedModuleModal=false"
                    label="Cancel"></button>
        </div>
    </p-footer>
</p-dialog>-->
<p-overlayPanel #addMenuPopover [showCloseIcon]="true" [appendTo]="body" [dismissable]="false">
    <form #f="ngForm" (ngSubmit)="saveMenuItem(addMenuPopover,$event,selectedMenuGroup)" novalidate>
        <div class="ui-grid ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">Name *</div>
                <div class="ui-grid-col-8"><input pInputText name="app_menu_item"
                                                  [(ngModel)]="selectedMenuGroup.menuItem.app_menu_item"
                                                  required></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">Icon *</div>
                <div class="ui-grid-col-8">
                    <icon-picker name="icon_class" [(ngModel)]="selectedMenuGroup.menuItem.icon_class"
                                 required></icon-picker>
                    <!--   <input name="icon_class" pInputText [(ngModel)]="selectedMenuGroup.menuItem.icon_class"
                                                     required>-->
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">Order</div>
                <div class="ui-grid-col-8">
                    <p-spinner size="30" name="seq_order" [(ngModel)]="selectedMenuGroup.menuItem.seq_order" [min]="0"
                               [max]="100"></p-spinner>
                </div>
            </div>
        </div>
        <div class="ui-toolbar ui-helper-clearfix pr-0 pl-0">
            <div class="ui-float-right f-r">
                <button class="ui-button-success" pButton label="OK" icon="fa-check"
                        [disabled]="f.invalid"></button>

            </div>
        </div>
    </form>
</p-overlayPanel>
<p-confirmDialog width="425"></p-confirmDialog>