<div class="" *ngIf="refreshTable">
    <p-dataTable [value]="dataRows" [rows]="10" [totalRecords]="totalRecords" [paginator]="true" [pageLinks]="3"
                 (onLazyLoad)="loadDataLazy($event)" [lazy]="true"
                 [responsive]="true"
                 [rowsPerPageOptions]="[10,20,50,100,500,1000]">
        <p-header>
            <div class="ui-toolbar ui-helper-clearfix">
                <div class="ui-toolbar-group-left">
                    <span class="ui-header-title">Login History </span>
                </div>
               <!-- <div class="ui-toolbar-group-right">
                    <p-dropdown [options]="logDateList" (onChange)="tableReload()"
                                [(ngModel)]="selectedDate"></p-dropdown>
                </div>-->
            </div>
        </p-header>
        <p-column field="user" [sortable]="true" header="User" [filter]="true">
        </p-column>
        <p-column field="in_time" [sortable]="true" header="Login Time" [filter]="true">
            <ng-template let-row="rowData" pTemplate="body">
                {{row.in_time | datex:'datetime'}}
            </ng-template>
        </p-column>
        <p-column field="out_time" [sortable]="true" header="Logout Time" [filter]="true">
            <ng-template let-row="rowData" pTemplate="body">
                {{row.out_time | datex:'datetime'}}
            </ng-template>
        </p-column>
        <p-column field="ip" [sortable]="true" header="IP Address" [filter]="true">
        </p-column>
        <p-column field="browser" [sortable]="true" header="Browser" [filter]="true">
        </p-column>
        <p-column field="device" [sortable]="true" header="Device" [filter]="true">
        </p-column>
        <p-footer>
            <span class="ui-sub-header-title">Total Rows : {{totalRecords}}</span>
            <i class="btn btn-sm fa fa-refresh" (click)="tableReload()" style="float: right"></i>
        </p-footer>
    </p-dataTable>

</div>
