<div class="d-table login_background">
  <div class="d-100vh-va-middle login">
    <div class="ui-g">
      <div class="ui-lg-4 ui-md-4 ui-sm-12 ui-12"></div>
      <div class="ui-lg-4 ui-md-4 ui-sm-12 ui-12">
        <p-panel styleClass="ui-panel-purple" header="Forgot Password">
          <p-header>
            <span class="f-r" [routerLink]="['/login']"><i class="btn-sm fa fa-close"></i></span>
          </p-header>
          <form (ngSubmit)="f.form.valid && sendMail()" #f="ngForm" novalidate>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  Email *:
                </div>
                <div class="ui-grid-col-9">
                  <input name="email"  [(ngModel)]="fp.MailId"  pInputText type="text" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                         placeholder="Email" required/>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                </div>
                <div class="ui-grid-col-9">
                  <button [disabled]="f.invalid" pButton label="Send"></button>
                </div>
              </div>
            </div>
          </form>
        </p-panel>
      </div>
      <div class="ui-lg-4 ui-md-4 ui-sm-12 ui-12"></div>
    </div>
  </div>
</div>
