<p-dataTable [value]="dataRows" [lazy]="true" [rows]="10" [paginator]="true"
             [pageLinks]="3" [rowsPerPageOptions]="[1,2,10,20]"
             [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)">
  <p-column field="created_time" [sortable]="true" header="Vin"></p-column>
  <p-column field="created_by" header="Year"></p-column>
  <p-column field="user_type" header="Brand"></p-column>
</p-dataTable>
