<p-dataTable

        [value]="tc.dataRows"
        [paginator]="true"
        [rows]="10"
        [lazy]="true"
        (onLazyLoad)="tc.loadDataLazy($event)"
        [totalRecords]="totalRecords"
        class="data-list"
        [stacked]="true"
        [rowsPerPageOptions]="[5,10,20,50,100,500,1000]"
        selectionMode="single"
        (onRowSelect)="tc.onView($event.data)"
        [globalFilter]="gb" #dt>
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g-12 ui-md-8 ui-lg-7 ui-sm-12 pl0 pb0 pt-0 pad-right-mob">
                        <span class="f-l ui-helper-clearfix search-dropdown" style="">
                            <p-multiSelect (onChange)="tc.dbFilter($event,gbs,'multiSelect')"
                                           [style]="{'white-space':'nowrap'}" [options]="tc.columnOptions"
                                           defaultLabel="All"
                                           [(ngModel)]="tc.selectedFilters"></p-multiSelect>
                        </span>
                    <span style="" class="ui-helper-clearfix icon-place search-delete" [class.active]="tc.gbs">
                        <input (keyup.enter)="tc.dbFilter($event,tc.gbs,'test')" [(ngModel)]="tc.gbs" type="text"
                               placeholder="Search"
                               pInputText style="width: 100% !important;padding-right: 25px"/>
                        <span class="icon-magnifier"></span>
                      <!--<button pButton icon="fa-search" (click)="dt.filter()"></button>-->
                    </span>
        <span class="fa fa-trash-o trash-icon f-l" *ngIf="tc.gbs" (click)="tc.clearFilter();"></span>
      </div>

      <div class="ui-g-12 ui-md-4 ui-lg-5 ui-sm-12 p0">
                        <span style="" class="sortingList">
                        <span *ngIf="tc.datableEvent.sortOrder==1" class="fa fa-sort-alpha-asc sortIcon" style=""></span>
                        <span *ngIf="tc.datableEvent.sortOrder==-1" class="fa fa-sort-alpha-desc sortIcon" style=""></span>
                          <!--  <p-multiSelect [options]="columnOptions" (onChange)="loadDataLazy(datableEvent)"
                                           [(ngModel)]="cols"></p-multiSelect>-->
                            <p-dropdown [options]="tc.columnOptions" (onChange)="tc.changeSortOrder($event)"
                                        [(ngModel)]="tc.selectedCar2" filter="true">
                              <ng-template let-car pTemplate="item">
                                <div class="ui-helper-clearfix sortingText"
                                     style="position: relative;height: 25px;">
                                        <span style="width: 25px; float: left; margin-top: 4px;"><i
                                                class="fa fa-long-arrow-up"></i> <i
                                                class="fa fa-long-arrow-down"></i></span>
                                  <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                                </div>
                              </ng-template>
                            </p-dropdown>
                    </span>
      </div>
    </div>
  </p-header>
  <p-column>
    <ng-template let-row="rowData" pTemplate="item">
      <div class="ui-grid-row item-row">
        <div class="ui-grid-col-2 ui-sm-12" style="text-align:center">
          <img *ngIf="row.Image"
               src="{{tc.baseUrl}}resources/{{tc.module}}?file_name={{row.Image | imagePath}}"
               onError="this.src='assets/img/no-image.jpg';"
               class="img-alignment">
          <img *ngIf="!row.Image" src="assets/img/no-image.jpg"
               onError="this.src='assets/img/no-image.jpg';"
               class="img-alignment">
        </div>
        <div class="ui-grid-col-10 ui-sm-12" style="position: relative">
          <div class="ui-g ui-grid-responsive ui-fluid">
            <div class="ui-grid-col-12">
              <a [routerLink]="['/'+tc.currentUrl+'/view/'+row.pk_id]" class="Datatabel_head">{{row[tc.showCols[0].name]}}</a>
            </div>
            <div class="ui-g ui-sm-6 ui-lg-4 ui-md-6 item-field"
                 *ngFor="let col of tc.showCols.slice(1);let ndx = index">
              <div class="ui-grid-col-12 item-row-label">{{col.header_name}}:</div>
              <div class="ui-grid-col-12 item-row-value">
                <tss-table-col-field-view [row]="row" [col]="col"
                                          [module]="tc.module"></tss-table-col-field-view>
              </div>
            </div>
          </div>
          <div style="width: 20px; float: left; display: inline-block; position: absolute; top: 0; right: 0;">
            <i class="btn fa fa-ellipsis-v f-r" (click)="tc.getMenuForActions(tc.actionMenuContain,$event,row)"></i>
          </div>
        </div>
      </div>
    </ng-template>
  </p-column>
  <p-footer>
    <span class="ui-sub-header-title">Total Rows : {{tc.totalRecords}}</span>
    <i class="btn btn-sm fa fa-refresh" (click)="tc.tableReload()" style="float: right"></i>
  </p-footer>
</p-dataTable>