.data-list .ui-datalist .ui-datalist-data>li  {
  padding: 10px;
}
.data-list ul li:last-child .item-row{
  border-bottom: 0px #ccc solid;
}
.data-list .item-row{
  border-bottom: 0px #ccc solid;
  padding: 7px 0px;
}

.data-list .item-row .item-row-label{
  color: #968d8d;
  font-size: 12px;
}
.data-list .item-row .item-field{
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 8px;
}