<span  [ngSwitch]="col.type" class="ellipsis">
    <span title="{{ row[col.name] | datex}}"  *ngSwitchCase="'Date'">{{ (row[col.name] | datex) || defaultValue}}</span>
    <span title="{{row[col.name] | datex:'time'}}" *ngSwitchCase="'Time'">{{(row[col.name] | datex:'time') || defaultValue}}</span>
    <span title="{{row[col.name] | datex:'datetime'}}" *ngSwitchCase="'Time Stamp'">{{(row[col.name] | datex:'datetime') || defaultValue}}</span>
    <span *ngSwitchCase="'File'">
        <a *ngIf="row[col.name]" target="_blank"
           href="{{baseUrl}}resources/{{module}}?file_name={{row[col.name] | imagePath}}&file_org_name={{row[col.name] | imagePath:'download'}}"
                                                         download>
            <i class="btn fa fa-download"></i>
        </a> {{(row[col.name] | imagePath:'download') || defaultValue}}
    </span>
    <span title="{{row[col.name] | multiSelectView:col}}" *ngSwitchCase="'Multi-Select Combo Box'">{{row[col.name] | multiSelectView:col}} </span>
    <span *ngSwitchCase="'Image'">
        <a *ngIf="row[col.name]" target="_blank" href="{{baseUrl}}resources/{{module}}?file_name={{row[col.name] | imagePath}}&file_org_name={{row[col.name] | imagePath:'download'}}"
                                                          download>
            <i class="btn fa fa-download"></i>
        </a> {{(row[col.name] | imagePath:'download') || defaultValue}}
    </span>
    <span title=" {{row[col.name] | moduleViewPath:col}}" *ngSwitchCase="'Relation'"> {{row[col.name] | moduleViewPath:col}}</span>
    <span *ngSwitchCase="'Check Box'">
        <span *ngIf="row[col.name] == '1' || row[col.name]=='true'">Yes</span>
        <span *ngIf="row[col.name] == '0' || row[col.name]=='false'">No</span>
    </span>
    <div *ngSwitchCase="'Html/Text Editor'" class="form-group" [outerHTML] = 'row[col.name]'>

    </div>
<!--     <span *ngSwitchCase="'Integer'">
        {{row[col.name]}}
    </span>-->

    <span *ngSwitchDefault title="{{row[col.name]}}">
        <span *ngIf="row[col.name]==null">{{defaultValue}}</span>
        <span *ngIf="row[col.name]!==null">{{row[col.name]}}</span>
    </span>
</span>
