<div class="ui-grid-col-12" >
  <div class="ui-inputtext ui-corner-all ui-state-default ui-widget ellipsis" (click)="openAssignModal(assignModal)">
    <span *ngIf="!displayName" style="width: 75%;padding-right: 20px;float: left" class="ellipsis">{{'Select User'}}</span>
    <span *ngIf="displayName">{{displayName}}</span>
                                <span style="float: right;">
                                <button pButton type="button"
                                        icon="fa fa-search" style="height: 22px"></button>
                                </span>
  </div>
</div>


<ng-template #assignModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="ui-header-title">Assign To</span>
        <span class="f-r">
            <i class="btn-sm fa fa-close" (click)="d('Cross click')"></i>
        </span>
    </div>
    <div class="modal-body">
        <p-dropdown [options]="userList" name="assignTo"  [(ngModel)]="assignTo" [filter]="true" inputId="pk_id" dataKey="pk_id"></p-dropdown>
    </div>
    <div class="modal-footer">
        <div class="ui-helper-clearfix">
            <button type="button" pButton
                    icon="fa fa-close"
                    label="Cancel" class="ui-button-secondary" (click)="d('Cross click')"></button>
            <button [disabled]="!assignTo" type="button" pButton icon="fa fa-check" label="Ok" class="ui-button-success"
                    (click)="saveAssignUser()"></button>


        </div>
    </div>
</ng-template>
