<div class="ui-helper-clearfix">
  <p-dataTable [value]="dataRows"
               [responsive]="true"
               expandableRows="true"
               (onRowExpand)="getDependencyConditions($event.data)"
               scrollable="true" #dt>

    <p-header>
      <div class="ui-helper-clearfix">
        <span class="ui-header-title" style="text-align: left"></span>
                <span class="f-r">
                    <button type="button"
                            pButton icon="fa-plus"
                            (click)="openItemModal(itemModal,null)"
                            label="New Dependency"></button>
                </span>
      </div>
    </p-header>
    <p-column field="object_type_name" header="Type"></p-column>
    <p-column field="object_name"  header="Name"></p-column>
    <p-column field="access"  header="Access">
      <ng-template let-row="rowData" pTemplate="item">
        <div *ngIf="row.access && row.object_type==2">Show (Read + Write)</div>
        <div *ngIf="!row.access && row.object_type==2">Show (Read only)</div>
        <div *ngIf="row.object_type==1">Show</div>
      </ng-template>
    </p-column>
    <p-column expander="true" header="Advanced Conditions" styleClass="col-icon"></p-column>

    <ng-template let-row pTemplate="rowexpansion">
      <p-panel>
        <p-header>
                        <span class="ui-sub-header-title">
                           Conditions :
                        </span>
          <div class="ui-helper-clearfix f-r">
            <button pButton label="Add Condition" (click)="openSubItemModal(subItemModal,row)"
                    icon="fa-plus"></button>
          </div>
        </p-header>

        <p-dataTable [value]="row.data" styleClass="sub-table-header" emptyMessage="No conditions defined.">
         <!-- <p-column header="Condition Number">
            <ng-template  let-ri="rowIndex"  pTemplate="body">
              {{ri+1}}
            </ng-template>
          </p-column>-->
          <p-column field="field_type" header="Type"></p-column>
          <p-column field="field_name" header="Name"></p-column>
          <p-column field="equals" header="Condition">
            <ng-template  let-prow="rowData"  pTemplate="body">
              <span *ngIf="!prow.equals">Not Equals</span>
              <span *ngIf="prow.equals">Equals</span>
            <!--  <div class="f-r">
                <i class="btn-sm fa fa-trash" (click)="removeCustomModuleSharingRule(row,prow)"></i>
              </div>-->
            </ng-template>
          </p-column>

          <p-column field="value" header="Value">
            <ng-template  let-prow="rowData"  pTemplate="body">
             <span *ngFor="let item of prow.value; let isLast=last">
             {{item.value}}{{isLast ? '' : ', '}}
            </span>
            </ng-template>
          </p-column>

          <p-column>
            <ng-template  let-prow="rowData"  pTemplate="body">
              <div class="f-r">
                <i class="btn-sm fa fa-pencil" (click)="openSubItemModal(subItemModal,row,prow)"></i>
                <i class="btn-sm fa fa-trash" (click)="removeCondition(row,prow)"></i>
              </div>
            </ng-template>
          </p-column>

        </p-dataTable>

      </p-panel>
    </ng-template>

    <p-column>
      <ng-template let-row="rowData" pTemplate="item">
        <!--<a [routerLink]="[row.pk_id+'/'+row.name]"><i class="btn fa fa-eye"></i></a>-->
        <i class="btn-sm fa fa-pencil" (click)="openItemModal(itemModal,row)"></i>
        <i class="btn-sm fa fa-trash" (click)="removeSelectedItem(row)"></i>
      </ng-template>
    </p-column>
    <p-footer>
      <i class="btn btn-sm fa fa-refresh" (click)="tableReload()" style="float: right"></i>
    </p-footer>
  </p-dataTable>


  <ng-template #itemModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <span class="ui-header-title">Add Dependency</span>
    </div>
    <form [formGroup]="itemFG" (ngSubmit)="itemModalFormSubmit(itemFG.value,itemFG.valid)" novalidate>
      <div class="modal-body">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                Fields/Block *:
              </div>
              <div class="ui-grid-col-6">
                <p-dropdown [disabled]="itemFG.get('pk_id').value" [options]="blockFields"  formControlName="dependency_field" (onChange)="dependencyFieldChange($event.value)">
                  <ng-template let-field pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                      <div style="font-size:12px;" *ngIf="field.value.object_type==2">{{field.label}}</div>
                      <div style="font-size:14px;font-weight: bold;" *ngIf="field.value.object_type==1">{{field.label}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
                <small class="text-danger"
                       *ngIf="itemSubmittedForm && itemFG.get('dependency_field').errors">
                  This field is required
                </small>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                Access :
              </div>
              <div class="ui-grid-col-6">
                <p-dropdown [options]="accessTypes" formControlName="access"></p-dropdown>
              </div>
            </div>

            <div class="ui-grid-row" *ngIf="itemFG.get('access').value">
              <div class="ui-grid-col-4">Mandatory Field</div>
              <div class="ui-grid-col-4">
                <p-checkbox class="ui-grid-col-4"
                            formControlName="is_mandatory"
                            label="" binary="true">
                </p-checkbox>
              </div>
            </div>

          </div>
      </div>
      <div class="modal-footer">
        <button type="button" pButton icon="fa-close" class="ui-button-secondary" label="Cancel"
                (click)="c('Close click')"></button>
        <button pButton icon="fa-check" class="ui-button-primary" label="Save"></button>
      </div>
    </form>
  </ng-template>

  <ng-template #subItemModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <span class="ui-header-title">Add Condition</span>
    </div>
    <div class="modal-body">
      <form [formGroup]="subItemFG" (ngSubmit)="subItemModalFormSubmit(subItemFG.value,subItemFG.valid)" novalidate>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              Field *:
            </div>
            <div class="ui-grid-col-6">
              <p-dropdown [disabled]="subItemFG.get('pk_id').value" [options]="conditionFields" formControlName="app_module_field" (onChange)="moduleFieldChange($event.value)">
              </p-dropdown>

              <small class="text-danger"
                     *ngIf="itemSubmittedForm && subItemFG.get('app_module_field').errors">
                This field is required
              </small>

            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              Condition *:
            </div>
            <div class="ui-grid-col-6">
              <p-dropdown [options]="conditionValues" formControlName="equals"></p-dropdown>
            </div>
          </div>

          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              Value *:
            </div>
            <div class="ui-grid-col-6" *ngIf="!isCheckBox">
              <p-multiSelect [options]="picklistValues" [(ngModel)]="selectedValues" formControlName="selectedValues"></p-multiSelect>
              <small class="text-danger"
                     *ngIf="itemSubmittedForm && subItemFG.get('selectedValues').errors">
                This field is required
              </small>
            </div>

            <div class="ui-grid-col-6" *ngIf="isCheckBox">
              <p-dropdown [options]="picklistValues" [(ngModel)]="selectedValues" formControlName="selectedValues"></p-dropdown>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" pButton icon="fa-close" class="ui-button-secondary" label="Cancel"
                  (click)="c('Close click')"
          ></button>
          <button pButton icon="fa-check" class="ui-button-primary" label="Save"></button>
        </div>
      </form>
    </div>
  </ng-template>

</div>