.mb0{
  margin-bottom: 0px;
}
.p0{
  padding: 0px;
}
.m0{
  margin: 0px;
}
.p5{
  padding: 5px;
}
.Relation_f{

}
.dynamic-form.full {
  .dynamic-field{
    padding: 0px 10px;
    .checkbox{
      padding-top:20px;
    }
  }
}



