<form *ngIf="formShow" [formGroup]="myForm" novalidate (ngSubmit)="dynamicFormSave(myForm.valid)">
    <div class="ui-helper-clearfix ui-grid-responsive dynamic-form {{formType}}">
        <div *ngFor="let block of formFields.blocks">
            <div class="ui-g" *ngIf="block.cnd_show">
                <div style="padding-left: 13px;" class="ui-helper-clearfix ui-grid-col-12"
                     *ngIf="(formType=='full' && formFields.blocks.length > 1) || showBlogTitle">
                    <span class="ui-header-title">{{block.block.name}}</span>
                </div>
                <div *ngFor="let field of block.showFields | filterBy:filterField "
                     class="ui-sm-{{field.extra_options.sm}} ui-lg-{{field.extra_options.lg}} ui-md-{{field.extra_options.md}}"
                     style="padding: 4px">

                    <div [ngSwitch]="field.type" class="dynamic-field">
                        <div *ngSwitchCase="'Text'" class="ui-grid">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12">
                                <input type="text"
                                       style="width: 100%"
                                       [name]="field.db_field_name"
                                       [required]="field.is_mandatory"
                                       pInputText
                                       [(ngModel)]="field.value"
                                       [formControlName]="field.db_field_name"
                                       [placeholder]="field.display_label"/>
                            </div>
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>
                        </div>
                        <div *ngSwitchCase="'Email'" class="ui-grid">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12">
                                <input type="email"
                                       [name]="field.db_field_name"
                                       [required]="field.is_mandatory"
                                       style="width: 100%"
                                       pInputText
                                       [(ngModel)]="field.value"
                                       [formControlName]="field.db_field_name"
                                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                       [placeholder]="field.display_label"/>
                            </div>
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>
                        </div>
                        <div *ngSwitchCase="'URL'" class="ui-grid">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12">
                                <input type="url"
                                       [name]="field.db_field_name"
                                       style="width: 100%"
                                       [required]="field.is_mandatory"
                                       pInputText
                                       [(ngModel)]="field.value"
                                       [formControlName]="field.db_field_name"
                                       [placeholder]="field.display_label"/>
                            </div>
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>
                        </div>
                        <div *ngSwitchCase="'Integer'" class="ui-grid">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12">
                                <p-spinner style="width: 100%"
                                           [formControlName]="field.db_field_name"
                                           [(ngModel)]="field.value"></p-spinner>
                            </div>
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>
                            <!-- <input
                                     [(ngModel)]="field.value"
                                     formControlName="{{field.db_field_name}}"
                                     [name]="field.db_field_name"
                                     [(ngModel)]="field.value"
                                     [id]="field.db_field_name"
                                     type="number"
                                     class="form-control"
                                     [placeholder]="field.display_label">
                             <small class="text-danger" *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                 {{field.display_label}} is required
                             </small>
         -->
                        </div>
                        <div *ngSwitchCase="'Text Area'" class="ui-grid">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12">
                    <textarea
                            [(ngModel)]="field.value"
                            formControlName="{{field.db_field_name}}"
                            [name]="field.db_field_name"
                            [id]="field.db_field_name"
                            pInputTextarea
                            [placeholder]="field.display_label" [required]="field.is_mandatory"></textarea>
                            </div>
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>
                        </div>
                        <div *ngSwitchCase="'Check Box'" class="ui-grid checkbox">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                <p-checkbox
                                        formControlName="{{field.db_field_name}}"
                                        (ngModelChange)="onCheckConditions($event,field)"
                                        label="{{field.display_label}}" binary="true" [(ngModel)]="field.value">
                                </p-checkbox>
                            </div>
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>
                            <!-- <div class="checkbox">

                                 <label class="mb0">
                                     <input
                                             formControlName="{{field.db_field_name}}"
                                             [name]="field.db_field_name"
                                             [(ngModel)]="field.value"
                                             [id]="field.db_field_name"
                                             type="checkbox"
                                             [placeholder]="field.display_label" [required]="field.is_mandatory">
                                     {{field.display_label}} </label>



                             </div>-->
                        </div>
                        <div *ngSwitchCase="'Pick List'" class="ui-g">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12" *ngIf="field.name=='Role'">
                                <p-dropdown appendTo="body"
                                            [required]="field.is_mandatory"
                                            [style]="{'width':'100%'}" [options]="field.data"
                                            (ngModelChange)="roleChange($event,field)"
                                            formControlName="{{field.db_field_name}}"
                                            [(ngModel)]="field.value"></p-dropdown>
                            </div>
                            <div class="ui-grid-col-12" *ngIf="field.name!='Role'">
                                <p-dropdown appendTo="body"
                                            [filter]="field.data.length > 5"
                                            [required]="field.is_mandatory"
                                            [style]="{'width':'100%'}" [options]="field.data"
                                            (ngModelChange)="checkDependency($event,field)"
                                            formControlName="{{field.db_field_name}}"
                                            [(ngModel)]="field.value"></p-dropdown>
                            </div>
                            <!-- <select class="form-control" [name]="field.db_field_name" [id]="field.db_field_name"
                                     [(ngModel)]="field.value" formControlName="{{field.db_field_name}}">
                                 <option *ngFor="let m of field.data" [ngValue]="m.value">{{m.label}}</option>
                             </select>-->
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>

                        </div>
                        <div *ngSwitchCase="'Multi-Select Combo Box'" class="ui-g">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12">
                                <p-multiSelect appendTo="body" [style]="{'width':'100%'}"
                                               formControlName="{{field.db_field_name}}"
                                               [options]="field.data"
                                               [(ngModel)]='field.value'></p-multiSelect>
                            </div>
                            <!--  <select class="form-control" [name]="field.db_field_name" [id]="field.db_field_name"
                                      [(ngModel)]="field.value" formControlName="{{field.db_field_name}}">
                                  <option *ngFor="let m of getPickListData(field)" [ngValue]="m.pk_id">{{m.value}}</option>
                              </select>-->
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>

                        </div>
                        <div *ngSwitchCase="'Relation'" class="ui-g Relation_f">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12" *ngIf="field.rel==1">
                                <relation-modal-content [subRel]="subRel" [exParams]="exParams" bType="search" type="oneRel"
                                                        [field]="field"></relation-modal-content>
                                <input value="Selected {{field.relationData}}"
                                       [required]="field.is_mandatory"
                                       [(ngModel)]="field.value"
                                       [formControlName]="field.db_field_name"
                                       type="hidden"
                                       class="form-control" readonly
                                       [placeholder]="field.display_label">

                            </div>
                            <!--<div class="ui-grid-col-12" *ngIf="field.rel==0">
                                <relation-table  [relData]="field" [pkId]="pkId" [showAddBtn]="false"></relation-table>
                            </div>-->
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>
                        </div>
                        <div *ngSwitchCase="'Image'" class="ui-g">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12" style="height: 25px;">
                                <p-fileUpload withCredentials="true" name="uploadedFiles"
                                              (onBeforeUpload)="onBeforeUpload($event,field)"
                                              accept="image/*" [url]="uploadUrl" auto="auto"
                                              (onUpload)="onUpload($event,field)">
                                </p-fileUpload>
                                <small class="ui-grid-col-12 text-danger"
                                       *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                    {{field.display_label}} is required
                                </small>

                                <input [required]="field.is_mandatory"
                                       [(ngModel)]="field.value"
                                       [formControlName]="field.db_field_name"
                                       type="hidden" readonly>
                                <span class="ellipsis uploadedfile-text"
                                      *ngIf="field.value">{{field.value[0].Name}}</span>
                            </div>

                            <!--<small class="text-danger" *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>-->
                        </div>
                        <div *ngSwitchCase="'File'" class="ui-g">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12" style="height: 25px;">
                                <p-fileUpload withCredentials="true" name="uploadedFiles"
                                              multiple="true" (onBeforeUpload)="onBeforeUpload($event,field)"
                                              [url]="uploadUrl" auto="auto" (onUpload)="onUpload($event,field)">

                                </p-fileUpload>

                                <small class="ui-grid-col-12 text-danger"
                                       *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                    {{field.display_label}} is required
                                </small>
                                <input [required]="field.is_mandatory"
                                       [(ngModel)]="field.value"
                                       [formControlName]="field.db_field_name"
                                       type="hidden" readonly>
                                <span class="ellipsis uploadedfile-text"
                                      *ngIf="field.value">{{field.value[0].Name}}</span>
                            </div>
                            <!-- <small class="text-danger" *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                 {{field.display_label}} is required
                             </small>-->
                        </div>
                        <div *ngSwitchCase="'Date'" class="ui-g">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12">
                                <p-calendar appendTo="body"
                                            [required]="field.is_mandatory"
                                            [formControlName]="field.db_field_name"
                                            [(ngModel)]="field.value"
                                            [showIcon]="true"></p-calendar>
                            </div>
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>

                        </div>
                        <div *ngSwitchCase="'Time'" class="ui-g">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12">
                                <p-calendar [required]="field.is_mandatory" [timeOnly]="true" [icon]="'fa-clock-o'"
                                            [(ngModel)]="field.value"
                                            [formControlName]="field.db_field_name"
                                            [showIcon]="true"></p-calendar>
                            </div>
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>
                        </div>
                        <div *ngSwitchCase="'Time Stamp'" class="ui-g">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12">
                                <p-calendar [required]="field.is_mandatory" appendTo="body" [showTime]="true"
                                            [icon]="'fa-clock-o'"
                                            [(ngModel)]="field.value"
                                            [formControlName]="field.db_field_name"
                                            [showIcon]="true"></p-calendar>
                            </div>
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>
                        </div>
                        <div *ngSwitchCase="'Date Range'" class="ui-g">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12">
                                <div class="ui-inputtext ui-corner-all ui-state-default ui-widget" daterangepicker
                                     [options]="daterangeOptions"
                                     (selected)="selectedDateRange($event,field)">
                                       <span>
                                            {{ field.value?.start | datex:'date' }} - {{ field.value?.end| datex:'date' }}
                                        </span>
                                        <span class="adjustButton">
                                            <button type="button" pButton icon="fa-calendar"
                                                    class="ui-button-icon-only"></button>
                                        </span>

                                </div>

                            </div>
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>

                        </div>
                        <div *ngSwitchCase="'Date Time Range'" class="ui-g">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12">
                                <div class="ui-inputtext ui-corner-all ui-state-default ui-widget" daterangepicker
                                     [options]="datetimerangeOptions"
                                     (selected)="selectedDateRange($event,field)">
                                       <span>
                                            {{ field.value?.start | datex:'datetime' }} - {{ field.value?.end| datex:'datetime' }}
                                        </span>
                                        <span style="float: right;">
                                            <button type="button" pButton icon="fa-calendar"
                                                    class="ui-button-icon-only"></button>
                                        </span>

                                </div>

                            </div>
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>

                        </div>
                        <div *ngSwitchCase="'Time Range'" class="ui-g">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12">
                                <div class="ui-inputtext ui-corner-all ui-state-default ui-widget" daterangepicker
                                     [options]="datetimerangeOptions"
                                     (selected)="selectedDateRange($event,field)">
                                       <span>
                                            {{ field.value?.start | datex:'datetime' }} - {{ field.value?.end| datex:'datetime' }}
                                        </span>
                                        <span class="adjustButton">
                                            <button type="button" pButton icon="fa-calendar"
                                                    class="ui-button-icon-only"></button>
                                        </span>

                                </div>

                            </div>
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>

                        </div>
                        <div *ngSwitchCase="'Html/Text Editor'" class="ui-grid">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12">
                                <p-editor
                                        [(ngModel)]="field.value"
                                        formControlName="{{field.db_field_name}}"
                                        [placeholder]="field.display_label"
                                        [required]="field.is_mandatory"
                                >
                                    <!-- <p-header>
                                         <span class="ql-formats">
                                             <button class="ql-bold"></button>
                                             <button class="ql-italic"></button>
                                             <button class="ql-underline"></button>
                                         </span>
                                     </p-header>-->

                                </p-editor>
                            </div>
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>
                        </div>
                        <div *ngSwitchCase="'Geo Coordinates'" class="ui-g">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12">
                                <tss-geo
                                        [(ngModel)]="field.value"
                                        [formControlName]="field.db_field_name"
                                ></tss-geo>
                            </div>
                        </div>
                        <div *ngSwitchCase="'Owner'" class="ui-g">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>
                            <div class="ui-grid-col-12">
                                <owner-field [field]="field"></owner-field>
                                <input value="Selected {{field.relationData}}"
                                       [required]="field.is_mandatory"
                                       [(ngModel)]="field.value"
                                       [formControlName]="field.db_field_name"
                                       type="hidden"
                                       class="form-control" readonly
                                       [placeholder]="field.display_label">
                            </div>
                            <small class="ui-grid-col-12 text-danger"
                                   *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>
                        </div>
                        <div *ngSwitchDefault class="ui-g">
                            <div class="ui-grid-col-12 ellipsis" title="{{field.display_label}}">
                                {{field.display_label}} <span *ngIf="field.is_mandatory">*</span>
                            </div>

                            <div class="ui-grid-col-12">
                                <input
                                        [required]="field.is_mandatory"
                                        [(ngModel)]="field.value"
                                        [formControlName]="field.db_field_name"
                                        type="text"
                                        pInputText
                                        [placeholder]="field.display_label">

                            </div>
                            <small class="text-danger" *ngIf="submittedForm && myForm.get(field.db_field_name).errors">
                                {{field.display_label}} is required
                            </small>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-panel-footer ui-helper-clearfix" style="padding: 4px;">
        <div class="ui-g-12 pr-0">
            <button *ngIf="addMoreField" type="button" class="ui-button-secondary f-r pr-0" (click)="gotoAddMoreFields()"
                    pButton icon="fa fa-list" label="Add More Fields"></button>
            <button pButton icon="fa fa-save" class="ui-button-primary f-r" label="{{submitLabel}}"
                    [disabled]="saveButtonDisable"></button>
        </div>
    </div>
</form>


