@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?msjp0p');
  src:  url('../fonts/icomoon.eot?msjp0p#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?msjp0p') format('truetype'),
    url('../fonts/icomoon.woff?msjp0p') format('woff'),
    url('../fonts/icomoon.svg?msjp0p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconmoon-"], [class*=" iconmoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconmoon-close1:before {
  content: "\e900";
}
.iconmoon-close2:before {
  content: "\e901";
}
.iconmoon-close3:before {
  content: "\e902";
}

