@font-face {
  font-family: 'sevi-font';
  src:  url('../fonts/sevi/sevi-font.eot?ax6p46');
  src:  url('../fonts/sevi/sevi-font.eot?ax6p46#iefix') format('embedded-opentype'),
    url('../fonts/sevi/sevi-font.ttf?ax6p46') format('truetype'),
    url('../fonts/sevi/sevi-font.woff?ax6p46') format('woff'),
    url('../fonts/sevi/sevi-font.svg?ax6p46#sevi-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sevi-"], [class*=" sevi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sevi-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sevi-geographical-area:before {
  content: "\e91e";
}
.sevi-farmer:before {
  content: "\e900";
}
.sevi-labour:before {
  content: "\e901";
}
.sevi-fisher:before {
  content: "\e902";
}
.sevi-food:before {
  content: "\e903";
}
.sevi-mortality:before {
  content: "\e904";
}
.sevi-population:before {
  content: "\e905";
}
.sevi-sc-st-population:before {
  content: "\e906";
}
.sevi-women:before {
  content: "\e907";
}
.sevi-sown-area:before {
  content: "\e908";
}
.sevi-waste-land:before {
  content: "\e909";
}
.sevi-rainfall:before {
  content: "\e90a";
}
.sevi-aquaculture:before {
  content: "\e90b";
}
.sevi-natural-resource:before {
  content: "\e90c";
}
.sevi-nearest-town:before {
  content: "\e90d";
}
.sevi-nearest-hospital:before {
  content: "\e90e";
}
.sevi-education:before {
  content: "\e90f";
}
.sevi-household:before {
  content: "\e910";
}
.sevi-house-ownership:before {
  content: "\e911";
}
.sevi-infrastructure:before {
  content: "\e912";
}
.sevi-transport:before {
  content: "\e913";
}
.sevi-growth-rate:before {
  content: "\e914";
}
.sevi-gender-gap:before {
  content: "\e915";
}
.sevi-economic-ratio:before {
  content: "\e916";
}
.sevi-market:before {
  content: "\e917";
}
.sevi-irrigated-area:before {
  content: "\e918";
}
.sevi-ground-water:before {
  content: "\e919";
}
.sevi-fertilizer:before {
  content: "\e91a";
}
.sevi-livestock:before {
  content: "\e91b";
}
.sevi-road:before {
  content: "\e91c";
}
.sevi-district-agriculture:before {
  content: "\e91d";
}
