<div class="ui-helper-clearfix content-section">
    <p-panel>
        <p-header>
            <div class="ui-grid ui-grid-responsive ui-grid-col-6 ui-grid-pad">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-3">
                        Profile Name *
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText [(ngModel)]="profile.Name" name="Name" required>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-3">
                        Profile Description
                    </div>
                    <div class="ui-grid-col-6">
                        <textarea pInputTextarea [(ngModel)]="profile.Description" name="Description"></textarea>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-3">User Type *</div>
                    <div class="ui-grid-col-6">
                        <p-dropdown appendTo="body" required [filter]="true" [options]="userTypeList"
                                    name="user_type_id" [(ngModel)]="profile.user_type_id" required></p-dropdown>
                    </div>
                </div>
            </div>
        </p-header>

        <div class="ui-helper-clearfix">
            <p-dataTable [value]="profileAccessList">
                <p-column field="module_label" header="Module"></p-column>
                <p-column field="View" header="View" styleClass="text-center">
                    <ng-template pTemplate="header" let-header="col">
                        <p-checkbox binary="false" [value]="false" (onChange)="allChecked($event,'View')"></p-checkbox>
                        View
                    </ng-template>
                    <ng-template let-col let-row="rowData" pTemplate="body">

                        <p-checkbox binary="false" [value]="false" (onChange)="changeCheckBox(row,'View')"
                                    [(ngModel)]="row.View" *ngIf="row.ViewId"></p-checkbox>
                    </ng-template>
                </p-column>
                <p-column field="Create" header="Create" styleClass="text-center">
                    <ng-template pTemplate="header" let-header="col">
                        <p-checkbox binary="false" [value]="false"
                                    (onChange)="allChecked($event,'Create')"></p-checkbox>
                        Create
                    </ng-template>
                    <ng-template let-col let-row="rowData" pTemplate="body">
                        <p-checkbox binary="true" [value]="true" (onChange)="changeCheckBox(row,'Create')"
                                    [(ngModel)]="row.Create" *ngIf="row.CreateId"></p-checkbox>
                    </ng-template>
                </p-column>
                <p-column field="Edit" header="Edit" styleClass="text-center">
                    <ng-template pTemplate="header" let-header="col">
                        <p-checkbox binary="false" [value]="false" (onChange)="allChecked($event,'Edit')"></p-checkbox>
                        Edit
                    </ng-template>
                    <ng-template let-col let-row="rowData" pTemplate="body">
                        <p-checkbox binary="false" [value]="false" (onChange)="changeCheckBox(row,'Edit')"
                                    [(ngModel)]="row.Edit" *ngIf="row.EditId"></p-checkbox>
                    </ng-template>
                </p-column>
                <p-column field="Delete" header="Delete" styleClass="text-center">
                    <ng-template pTemplate="header" let-header="col">
                        <p-checkbox binary="false" [value]="false"
                                    (onChange)="allChecked($event,'Delete')"></p-checkbox>

                        Delete
                    </ng-template>
                    <ng-template let-col let-row="rowData" pTemplate="body" >

                            <p-checkbox binary="false" [value]="false" (onChange)="changeCheckBox(row,'Delete')"
                                        [(ngModel)]="row.Delete" *ngIf="row.DeleteId"></p-checkbox>

                    </ng-template>
                </p-column>
                <p-column field="Import" header="Import" styleClass="text-center">
                    <ng-template pTemplate="header" let-header="col">
                        <p-checkbox binary="false" [value]="false"
                                    (onChange)="allChecked($event,'Import')"></p-checkbox>

                        Import
                    </ng-template>
                    <ng-template let-col let-row="rowData" pTemplate="body" >

                        <p-checkbox binary="false" [value]="false" (onChange)="changeCheckBox(row,'Import')"
                                    [(ngModel)]="row.Import" *ngIf="row.ImportId"></p-checkbox>

                    </ng-template>
                </p-column>
                <p-column field="Export" header="Export" styleClass="text-center">
                    <ng-template pTemplate="header" let-header="col">
                        <p-checkbox binary="false" [value]="false"
                                    (onChange)="allChecked($event,'Export')"></p-checkbox>

                        Export
                    </ng-template>
                    <ng-template let-col let-row="rowData" pTemplate="body" >

                        <p-checkbox binary="false" [value]="false" (onChange)="changeCheckBox(row,'Export')"
                                    [(ngModel)]="row.Export" *ngIf="row.ExportId"></p-checkbox>

                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
        <p-footer>
            <div class="ui-helper-clearfix ui-toolbar pr-0">
                <div class="f-r">
                    <button pButton label="Save" (click)="saveProfile()"></button>
                </div>

            </div>

        </p-footer>


    </p-panel>
</div>
