<div [ngSwitch]="f.type">
    <div *ngSwitchCase="'Text'">
        <p-inplace closable="closable" *ngIf="viewType=='inPlace'" #pInplace>
            <span pInplaceDisplay>
                <label class="ui-grid-col-12 details-item-value {{f.type}}">
                    {{f.value}} <i class="fa fa-pencil"></i>
                </label>
            </span>
            <span pInplaceContent>
                <input type="text" value="{{f.value}}" pInputText>
                <button class="ui-button-success" (click)="saveField(f,$event)" pButton type="text"
                        icon="fa-check"></button>
            </span>
        </p-inplace>
        <div *ngIf="viewType=='view'">
            <label class="ui-grid-col-12 ellipsis details-item-value {{f.type}}" title="{{f.value}}">
                <span *ngIf="f.value == null">{{defaultValue}}</span>
                <span *ngIf="f.value !== null">{{f.value}}</span>
            </label>
        </div>
    </div>
    <div *ngSwitchCase="'Text Area'">
        <p-inplace closable="closable" *ngIf="viewType=='inPlace'">
            <span pInplaceDisplay>
                <label class="ui-grid-col-12 details-item-value {{f.type}}">
                    {{f.value}} <i class="fa fa-pencil"></i>
                </label>
            </span>
            <span pInplaceContent>
                <textarea [(ngModel)]="f.value"></textarea>
                <div class="ui-helper-clearfix f-r">
                    <button class="ui-button-success" pButton type="text" icon="fa-check"></button>
                </div>
            </span>
        </p-inplace>
        <div *ngIf="viewType=='view'">
            <div class="ui-grid-col-12 details-item-value {{f.type}}">
                {{f.value || defaultValue}}
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'Pick List'" class="form-group">
        <label class="ui-grid-col-12 ellipsis details-item-value {{f.type}}" *ngIf="f.value">{{f.value.value ||
            defaultValue}}</label>
    </div>
    <div *ngSwitchCase="'Multi-Select Combo Box'" class="form-group">
        <label class="ui-grid-col-12 ellipsis details-item-value {{f.type}}">
            {{f.displayName || '---'}}
        </label>
    </div>
    <div *ngSwitchCase="'Relation'" class="form-group">
        <p-inplace closable="closable" *ngIf="viewType=='inPlace'">
            <span pInplaceDisplay>
                <label class="ui-grid-col-12 details-item-value {{f.type}}">
                    {{f.displayName}} <i class="fa fa-pencil"></i>
                </label>
            </span>
            <span pInplaceContent>
                <relation-modal-content bType="search" type="oneRel" [field]="f"></relation-modal-content>
                <button class="ui-button-success" pButton type="text" icon="fa-check"></button>
            </span>
        </p-inplace>
        <div *ngIf="viewType=='view'">
            <label class="ui-grid-col-12 details-item-value {{f.type}}">
                {{f.displayName || defaultValue}}
            </label>
        </div>
    </div>
    <div *ngSwitchCase="'Time'" class="form-group">
        <p-inplace closable="closable" *ngIf="viewType=='inPlace'">
            <span pInplaceDisplay>
                <label class="ui-grid-col-12 details-item-value {{f.type}}">
                    {{f.displayName}} <i class="fa fa-pencil"></i>
                </label>
            </span>
            <span pInplaceContent>
            </span>
        </p-inplace>
        <div *ngIf="viewType=='view'">
            <label class="ui-grid-col-12 details-item-value {{f.type}}">
                {{f.displayName || defaultValue}}
            </label>
        </div>

    </div>
    <div *ngSwitchCase="'Date'" class="form-group">
        <p-inplace closable="closable" *ngIf="viewType=='inPlace'">
            <span pInplaceDisplay>
                <label class="ui-grid-col-12 details-item-value {{f.type}}">
                    {{f.displayName}} <i class="fa fa-pencil"></i>
                </label>
            </span>
            <span pInplaceContent>
                   <p-calendar [(ngModel)]="f.value"
                               [showIcon]="true"></p-calendar>
                <button class="ui-button-success" pButton type="text" icon="fa-check"></button>
            </span>
        </p-inplace>
        <div *ngIf="viewType=='view'">
            <label class="ui-grid-col-12 details-item-value {{f.type}}">
                {{f.displayName || defaultValue}}
            </label>
        </div>
    </div>
    <div *ngSwitchCase="'Time Stamp'" class="form-group">
        <p-inplace closable="closable" *ngIf="viewType=='inPlace'">
            <span pInplaceDisplay>
                <label class="ui-grid-col-12 details-item-value {{f.type}}">
                    {{f.displayName}} <i class="fa fa-pencil"></i>
                </label>
            </span>
            <span pInplaceContent>
                     <p-calendar [showTime]="true" [icon]="'fa-clock-o'" [(ngModel)]="f.value"
                                 [showIcon]="true">

                     </p-calendar>
                <button class="ui-button-success" pButton type="text" icon="fa-check"></button>
            </span>
        </p-inplace>
        <div *ngIf="viewType=='view'">
            <label class="ui-grid-col-12 details-item-value {{f.type}}">
                {{f.displayName || defaultValue}}
            </label>
        </div>
    </div>

    <div *ngSwitchCase="'File'" class="form-group">
        <a *ngIf="f.value" target="_blank"
           href="{{baseUrl}}resources/{{module}}?file_name={{f.value | imagePath}}&file_org_name={{f.value | imagePath:'download'}}"
           download>
            <i class="btn fa fa-download"></i>
        </a>
    </div>
    <div *ngSwitchCase="'Image'" class="form-group">
        <a *ngIf="f.value" target="_blank"
           href="{{baseUrl}}resources/{{module}}?file_name={{f.value | imagePath}}&file_org_name={{f.value | imagePath:'download'}}"
           download>
            <i class="btn-sm fa fa-download"></i>
        </a>
    </div>
    <div *ngSwitchCase="'Check Box'" class="form-group">
        <span *ngIf="f.value == '1' || f.value=='true'">Yes</span>
        <span *ngIf="f.value == '0' || f.value=='false'">No</span>
    </div>
    <div *ngSwitchCase="'Owner'" class="form-group">
        <span *ngIf="f.value">{{f.value.display_name}}</span>
    </div>
    <div *ngSwitchCase="'Html/Text Editor'" class="form-group" [outerHTML]='f.value'>

    </div>
    <div *ngSwitchDefault class="form-group" title="{{f.value}}">
        <label class="ui-grid-col-12 details-item-value {{f.type}}">
            <span *ngIf="f.value == null">{{defaultValue}}</span>
            <span *ngIf="f.value !== null">{{f.value}}</span>
        </label>
    </div>
</div>


