<div class="modal-body">
    <p-dataTable *ngIf="tableShow" [value]="dataRows"
                 [rows]="10" [totalRecords]="totalRecords"
                 [paginator]="true"
                 [pageLinks]="3"
                 (onLazyLoad)="loadDataLazy($event)"
                 [lazy]="true"
                 [responsive]="true"
                 [rowsPerPageOptions]="[5,10,20,50,100,500,1000]"
                 scrollable="true"
                 [(selection)]="currentFieldRelation.value">
        <p-column [style]="{'width':'38px'}" selectionMode="{{selectRelation}}">
        </p-column>
        <p-column *ngFor="let col of showCols" [field]="col.name"
                  [style]="{'width': col.width+'px','white-space': 'nowrap'}" [filter]="true" [sortable]="true"
                  [header]="col.header_name">
        </p-column>
    </p-dataTable>
</div>
<div class="modal-footer">
    <button type="button" pButton icon="fa fa-check" label="OK" class="ui-button-success" ></button>
</div>