<ul>
  <li>
    <a [routerLink]="['curd']">Curd</a>
  </li>
  <li>
    <a [routerLink]="['forms']">Forms</a>
  </li>
  <li>
    <a [routerLink]="['primeng-form']">Primeng Form</a>
  </li>
  <li>
    <a [routerLink]="['input']">Input</a>
  </li>
</ul>