<ul class="emp-list ui-helper-clearfix" *ngIf="!moreInfo">
    <li title="{{s.value}}" [class.active-item]="stageInfo[i].active"
        [style.background-color]="stageInfo[i].backGroundColor"
        *ngFor="let s of stages;let i=index">
        <span *ngIf="stageInfo[i].active && stageInfo[i].status"><i class="fa fa-play"></i></span>
        <span *ngIf="stageInfo[i].status!='---' && !stageInfo[i].active"><i class="fa fa-check"></i></span>
        <span *ngIf="stageInfo[i].status=='---' && !stageInfo[i].active"><i class="fa fa-exclamation"></i></span>
        <p class="status-name" [style.color]="stageInfo[i].fontColor">
            <span class="ellipsis">{{s.value}}</span>
            <span class="status ellipsis">{{stageInfo[i].status}}</span>
            <span class="date ellipsis"  style="display: block;font-size: 10px;font-weight: normal;line-height: 10px;">{{stageInfo[i].happened_on | datex:'date'}}</span>
        </p>
    </li>
</ul>
<ul class="emp-list-details ui-helper-clearfix"  *ngIf="moreInfo">
    <li title="{{s.value}}" [class.active-item]="stageInfo[i].active"
        [style.background-color]="stageInfo[i].backGroundColor"
        *ngFor="let s of stages;let i=index">
        <span *ngIf="stageInfo[i].active && stageInfo[i].status" class="level"><i class="fa fa-play"></i></span>
        <span *ngIf="stageInfo[i].status!='---' && !stageInfo[i].active" class="level"><i class="fa fa-check"></i></span>
        <span *ngIf="stageInfo[i].status=='---' && !stageInfo[i].active" class="level"><i class="fa fa-exclamation"></i></span>
        <span class="detail" [style.color]="stageInfo[i].fontColor">
            <p class="status-name"><span class="ellipsis">{{s.value}}</span></p>
            <p class="status ellipsis">{{stageInfo[i].status}}</p>
            <p class="date ellipsis">{{stageInfo[i].happened_on | datex:'date'}}</p>
        </span>
    </li>
</ul>
