<div class="ui-g-12 p-0">
  <div class="create-meeting">
    <div class="meeting-tabs">
      <md-tab-group>
        <md-tab>
          <ng-template md-tab-label>NEW MEETING</ng-template>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>FOLLOW-UP MEETING</ng-template>
        </md-tab>
      </md-tab-group>
    </div>
    <div class="ui-g-12 p-0">
      <div class="ui-g-8 p-0">
        <div class="meeting-table">
          <table>
            <tr>
              <td>
                <span>NAME</span>
              </td>
              <td>
                <div class="meetingTable-rightContent clearfix">
                  <span class="text-span">
                    Meeting wall weekly Update
                  </span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <span>WHEN</span>
              </td>
              <td>
                <div class="meetingTable-rightContent clearfix">
                  <span class="first-span">
                    <i class="fa fa-calendar"></i>
                    <label >11 Jul 2017</label> to <label >11 Aug 2017</label>
                  </span>
                  <span class="second-span">
                    <p-checkbox name="groupname" value="val1" label="Repeat"></p-checkbox>
                    <span style="width: 150px;display: inline-block;"><p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown></span>
                  </span>
                </div>
                <div class="meetingTable-rightContent clearfix">
                  <span class="first-span">
                    <i class="fa fa-clock-o"></i>
                    <label >05:00 PM</label> to <label >05:30 PM</label>
                  </span>
                  <span class="second-span">
                    <p-checkbox name="groupname" value="val1" label="All Day"></p-checkbox>
                  </span>
                </div>
                <div class="meetingTable-rightContent clearfix">
                  <a href="#" class="grey-clr"><i class="fa fa-plus"></i>Add another time slot</a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <span>WHERE</span>
              </td>
              <td>
                <div class="meetingTable-rightContent clearfix">
                  <span class="search-meeting grey-clr">
                    <input type="text" pInputText placeholder="Select Location"/>
                    <span class="search-meeting-icons">
                      <a href="#" class="fa fa-search grey-clr f12"></a>
                      <a href="#" class="fa fa-book grey-clr f12"></a>
                  </span>
                  </span>
                </div>
                <div class="meetingTable-rightContent clearfix">
                  <i class="fa fa-male red"></i>
                  <span >Golden Threshold,Tuk-Tuk Station</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <span>WHO</span>
              </td>
              <td>
                <div class="meetingTable-rightContent clearfix">
                  <span class="search-meeting grey-clr">
                    <input type="text" pInputText placeholder="Select Participants"/>
                    <span class="search-meeting-icons">
                      <a href="#" class="fa fa-search grey-clr f12"></a>
                      <a href="#" class="fa fa-book grey-clr f12"></a>
                    </span>
                  </span>
                </div>
                <div class="meetingTable-rightContent clearfix">
                  <div class="participants-list">
                    <div class="participant">
                      <img src="../assets/img/avatars/default-user.png" alt="">
                      <label >Vasuki</label>
                    </div>
                    <div class="participant">
                      <img src="../assets/img/avatars/default-user.png" alt="">
                      <label >Sophia</label>
                    </div>
                  </div>
                  <div class="custom-checks" >Participants can
                    <label class="checkbox-label"><p-checkbox name="groupname" value="val1" label="Modify meeting"></p-checkbox></label>
                    <label class="checkbox-label"><p-checkbox name="groupname" value="val1" label="Invite Others"></p-checkbox></label>
                    <label class="checkbox-label"><p-checkbox name="groupname" value="val1" label="Collaborate  on Agenda"></p-checkbox></label>

                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <span>DIAL</span>
              </td>
              <td>
                <div class="meetingTable-rightContent clearfix">
                  <span class="search-meeting grey-clr">
                    <input type="text" pInputText placeholder="Add conferance information"/>
                    <span class="search-meeting-icons">
                      <button class="green-btn" pButton type="button" icon="fa-plus" label="ADD"></button>
                    </span>
                  </span>
                </div>
                <div class="meetingTable-rightContent clearfix">
                  <span class="add-info">
                    <i class="fa fa-video-camera red"></i>
                    <span >Zoom 521346</span>
                  </span>
                  <span class="add-info">
                    <i class="fa fa-mobile-phone red"></i>
                    <span >Dial  0800774012</span>
                  </span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <span>AGENDA</span>
              </td>
              <td>
                <div class="meetingTable-rightContent clearfix">
                  <div class="search-meeting grey-clr">
                    <input type="text" pInputText placeholder="Agenda Title"/>
                    <span class="search-meeting-icons">
                      <a href="#" class="fa fa-search grey-clr f12 mr-h"></a>
                      <a href="#" class="fa fa-book grey-clr f12 mr-h"></a>
                    </span>
                  </div>
                  <div class="search-meeting grey-clr">
                    <input type="text" pInputText placeholder="Select Presenters"/>
                    <span class="search-meeting-icons">
                      <a href="#" class="fa fa-search grey-clr f12 mr-h"></a>
                      <a href="#" class="fa fa-book grey-clr f12 mr-h"></a>
                      <button class="green-btn" pButton type="button" icon="fa-plus" label="ADD"></button>
                    </span>
                  </div>
                </div>
                <div class="inner-ul">
                  <ul>
                    <li>
                      <div class="inner-left">
                        <span>05:00AM</span>
                      </div>
                      <div class="inner-right">
                        <div class="content-right">
                          <h4>Welcome Note</h4>
                          <label>John Doe</label>
                          <span><i class="fa fa-clock-o"></i> 2 mins</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>

          </table>
          <!--<div class="ui-g-12 cal-dataList">
            <ul class="clearfix">
              <li class="clearfix">
                <div class="cal-dataList-Left"><span>8:30 <small>AM</small></span></div>
                <div class="cal-dataList-Right">
                  <table width="100%">
                    <tr>
                      <td>
                        <div class="meeting-desc">
                          <p>Meeting wall Standup meeting <a href="#">YOU</a></p>
                          <span class="sub-text">Golden Threshold</span>
                        </div>
                        <div class="iconWith-text">
                    <span>
                    <i class="fa fa-clock-o skyBlue"></i>
                    10
                  </span>
                  <span>
                    <i class="fa fa-user yellow"></i>
                    03/05
                  </span>
                  <span>
                    <i class="fa fa-flag orange"></i>
                    10
                  </span>
                        </div>
                      </td>
                      <td>
                        <span class="meeting-status orange">A</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </li>
              <li class="clearfix">
                <div class="cal-dataList-Left"><span>8:30 <small>AM</small></span></div>
                <div class="cal-dataList-Right">
                  <table width="100%">
                    <tr>
                      <td>
                        <div class="meeting-desc">
                          <div style="display: inline-block">
                            <p>Meeting wall Standup meeting <a href="#">YOU</a></p>
                            <span class="sub-text">Golden Threshold</span>
                          </div>
                        </div>
                        <div class="iconWith-text">
                          <button class="btn btn-sm bg-lightgreen f12 mr-1" type="button">Join Now</button>
                    <span>
                    <i class="fa fa-clock-o skyBlue"></i>
                    10
                  </span>
                  <span>
                    <i class="fa fa-user yellow"></i>
                    03/05
                  </span>
                  <span>
                    <i class="fa fa-flag orange"></i>
                    10
                  </span>
                        </div>
                      </td>
                      <td>
                        <span class="meeting-status orange">A</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </li>
              <li class="clearfix">
                <div class="cal-dataList-Left"><span>8:30 <small>AM</small></span></div>
                <div class="cal-dataList-Right">
                  <table width="100%">
                    <tr>
                      <td>
                        <div class="meeting-desc">
                          <p>Meeting wall Standup meeting <a href="#">YOU</a></p>
                          <span class="sub-text">Golden Threshold</span>
                        </div>
                        <div class="iconWith-text">
                    <span>
                    <i class="fa fa-clock-o skyBlue"></i>
                    10
                  </span>
                  <span>
                    <i class="fa fa-user yellow"></i>
                    03/05
                  </span>
                  <span>
                    <i class="fa fa-flag orange"></i>
                    10
                  </span>
                        </div>
                      </td>
                      <td>
                        <span class="meeting-status orange">A</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </li>
            </ul>
          </div>-->
        </div>
      </div>
      <div class="ui-g-4 pt-0 pr-0">
        <div class="drag-meetings">
          <p>
            <i class="fa fa-info-circle red"></i>
            Good going. Make your meetings more effective by following the instructions below:
          </p>
          <ul>
            <li>
              <h4>Change the time slot to 11 am</h4>
              <span>Mornings are good for active listening</span>
            </li>
            <li>
              <h4>Add detailed agenda of items</h4>
              <span>Agenda helps in organised meetings</span>
            </li>
            <li>
              <h4>Define purpose and outcome</h4>
              <span>Helps in communication and evaluation</span>
            </li>
            <li>
              <h4>Add video/audio calling information</h4>
              <span>Helps to join externally</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
