<div class="ui-datatable ui-widget ui-datatable-reflow ui-datatable-scrollable">
  <table width="100%">
    <thead class="ui-datatable-thead">
    <tr class="ui-state-default">
      <th class="ui-state-default" *ngFor="let th of sourcePicklist" style="min-width: 250px !important;">
       <span class="ui-header-title">{{th.source_picklist_value}}</span>
      </th>
    </tr>
    </thead>
    <tbody class="ui-datatable-data ui-widget-content">
    <tr *ngFor="let tr of targetPicklist;let tpIndx = index">
      <td *ngFor="let td of sourcePicklist" [class.active]="td.targetPicklist[tpIndx].is_checked">
        <p-checkbox class="custome_check" binary="true" [label]="tr.target_picklist_value" [(ngModel)]="td.targetPicklist[tpIndx].is_checked"></p-checkbox>
      </td>
    </tr>
    </tbody>

  </table>

  <!--<div class="ui-g">
    <div class="ui-g" *ngFor="let tr of sourcePicklist">
      <span class="ui-header-title">{{tr.source_picklist_value}}</span>
      <ul>
        <li *ngFor="let td of tr.targetPicklist"  [class.active]="td.is_checked">
          <p-checkbox binary="true" [label]="td.target_picklist_value" [(ngModel)]="td.is_checked"></p-checkbox>
        </li>
      </ul>
    </div>

  </div>-->

  <div class="save-button" *ngIf="sourcePicklist">
    <button pButton icon="fa-check" class="ui-button-primary" label="Save" (click)="savePicklistDependency();"></button>
  </div>

  </div>
