<div class="module-list">
  <ul class="ui-g">
    <li (click)="setMenuList(m)" *ngFor="let m of moduleList; let sndx = index" class="ui-g-col-3">

      <div class="module-circle">
        <i class="fa fa-user {{m.icon_class}}"></i>
        <p>{{m.group_name}}</p>
      </div>
    </li>
  </ul>
</div>

