.module-list{
  margin: 5% 20%;
}
.module-list ul li{
  list-style: none;
  padding:5px;
  cursor: pointer;
}
.module-list .module-circle:hover{
  background: white;
  color: darkcyan;
}
.module-list .module-circle{
  padding-top: 29px;
  text-align: center;
  width: 100px;
  height:100px;
  border-radius: 50% 50%;
  background: darkcyan;
  color: white;
}
.module-list .module-circle i{
  font-size: 20px;

}