<div class="">
  <div class="ui-toolbar ui-helper-clearfix pl-0 pt-0">
    <div class="ui-grid-col-4">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">User Type</div>
        <div class="ui-grid-col-8">
          <p-dropdown appendTo="body" required [filter]="true" (onChange)="getRoles(user_type_id)"
                      [options]="userTypeList" name="user_type_id" [(ngModel)]="user_type_id"></p-dropdown>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showBranches" class="customTree" [ngStyle]="setStyles()">
    <p-organizationChart [value]="roles" selectionMode="single" *ngIf="user_type_id">
      <ng-template let-node pTemplate="default">
        <div class="node-header ui-corner-top">{{node.app_role}}</div>
        <div class="node-content">
          <i class="btn-sm fa fa-pencil" *ngIf="node.parent_role"
             [routerLink]="[node.pk_id,user_type_id,node.parent_role]"></i>
          <i class="btn-sm fa fa-pencil" *ngIf="!node.parent_role" [routerLink]="[node.pk_id,user_type_id,0]"></i>
          <i class="btn-sm fa fa-plus" [routerLink]="[0,user_type_id,node.pk_id]"></i>
        </div>
      </ng-template>
    </p-organizationChart>
  </div>


</div>
