<div class="ui-helper-clearfix" *ngIf="showForm">
    <div class="ui-helper-clearfix pb10">
        <p-panel header="Basic Information" [toggleable]="true">
            <div class="ui-helper-clearfix">
                <div class="ui-grid ui-grid-responsive ui-grid-col-6 ui-grid-pad">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6 pl0">
                            Workflow Name *
                        </div>
                        <div class="ui-grid-col-6 pl0">
                            <input type="text" pInputText required>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6 pl0">
                            Description
                        </div>
                        <div class="ui-grid-col-6 pl0">
                            <textarea pInputTextarea></textarea>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6 pl0">
                            Status
                        </div>
                        <div class="ui-grid-col-6 pl0">
                            <p-radioButton name="status" value="1" label="Active">
                            </p-radioButton>
                            <p-radioButton name="status" value="0" label="InActive">
                            </p-radioButton>
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="ui-helper-clearfix pb10">
        <p-panel header="Workflow Trigger" [toggleable]="true">
            <div class="ui-helper-clearfix">
                <div class="ui-grid ui-grid-responsive ui-grid-col-8 ui-grid-pad">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4 pl0">
                            Trigger Workflow On
                        </div>
                        <div class="ui-grid-col-8 pl0">
                            <div class="ui-grid-col-12">
                                <p-radioButton name="trigger" value="1" label="{{moduleId}} creation">
                                </p-radioButton>
                            </div>
                            <div class="ui-grid-col-12">
                                <p-radioButton name="trigger" value="0" label="{{moduleId}} updated  (Includes Creation)">
                                </p-radioButton>
                            </div>
                            <!--<div class="ui-grid-col-12">
                                <p-radioButton name="trigger" value="0" label="Time Interval">
                                </p-radioButton>
                            </div>-->
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4 pl0">
                            Recurrence
                        </div>
                        <div class="ui-grid-col-8 pl0">
                            <div class="ui-grid-col-12">
                                <p-radioButton name="recurrence" value="1" label="Only first time conditions are met">
                                </p-radioButton>
                            </div>
                            <div class="ui-grid-col-12">
                                <p-radioButton name="recurrence" value="0" label="Every time conditions are met">
                                </p-radioButton>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </p-panel>
    </div>
    <div class="ui-helper-clearfix pb10">
        <p-panel header="Workflow Condition" [toggleable]="true">
           <!-- <div class="ui-helper-clearfix">
                <div class="ui-grid ui-grid-responsive ui-grid-col-12 ui-grid-pad">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">
                            <p-radioButton name="Condition" [(ngModel)]="condition" value="1"
                                           label="Use existing conditions">
                            </p-radioButton>
                        </div>
                        <div class="ui-grid-col-6">
                            <p-radioButton name="Condition" [(ngModel)]="condition" value="0" label="Recreate Conditions">
                            </p-radioButton>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="ui-helper-clearfix p10 pl0">
                <div class="ui-grid ui-grid-responsive ui-grid-col-12 ui-grid-pad">
                    <div class="ui-grid-col-12 ui-sub-header-title">
                        All Conditions (All conditions must be met)
                    </div>
                    <div class="ui-grid-row" *ngFor="let c of orConditions;let inx=index">
                        <div class="ui-grid-col-4 pl0">
                            <p-dropdown [options]="fieldList" (ngModelChange)="onChangeCondition($event,c)" dataKey="group" [(ngModel)]="c.fieldLista" filter="true">
                                <ng-template let-item pTemplate="item">
                                    {{item.label}}

                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="ui-grid-col-3 pl0">
                            <p-dropdown [options]="c.data" [(ngModel)]="optionConditons" filter="true"></p-dropdown>
                        </div>
                        <div class="ui-grid-col-4 pl0">
                            <input pInputText>
                        </div>
                        <div class="ui-grid-col-1 pl0">
                            <i class="btn-sm fa fa-trash" (click)="deleteCondition(orConditions,inx)"></i>
                        </div>
                    </div>
                    <div class="ui-toolbar pl0">
                        <button pButton icon="fa-plus" label="Add Condition" (click)="addCondition(orConditions)"></button>
                    </div>

                </div>
                <div class="ui-grid ui-grid-responsive ui-grid-col-12 ui-grid-pad">
                    <div class="ui-grid-col-12 ui-sub-header-title">
                        Any Conditions (At least one of the conditions must be met)
                    </div>
                    <div class="ui-grid-row" *ngFor="let c of andConditions;let inx=index">
                        <div class="ui-grid-col-4 pl0">
                            <p-dropdown [options]="fieldList" [(ngModel)]="andFieldLista" filter="true"></p-dropdown>
                        </div>
                        <div class="ui-grid-col-3 pl0">
                            <p-dropdown [options]="conditionList" [(ngModel)]="andOptionConditons" filter="true"></p-dropdown>
                        </div>
                        <div class="ui-grid-col-4 pl0">
                            <input pInputText>
                        </div>
                        <div class="ui-grid-col-1 pl0">
                            <i class="btn-sm fa fa-trash" (click)="deleteCondition(andConditions,inx)"></i>
                        </div>
                    </div>
                    <div class="ui-toolbar pl0">
                        <button pButton icon="fa-plus" label="Add Condition" (click)="addCondition(andConditions)"></button>
                    </div>
                </div>
            </div>
        </p-panel>

    </div>
    <div class="ui-helper-clearfix pb10">
        <p-panel header="Workflow Actions" [toggleable]="true">

            <div class="ui-helper-clearfix ui-toolbar pl0">
                <p-menu #menu popup="popup" [model]="actionItems"></p-menu>
                <button type="button" pButton icon="fa fa-list" label="Add Actions" (click)="menu.toggle($event)"></button>
            </div>
            <div class="ui-helper-clearfix">
                <p-dataTable [value]="cars">
                    <p-column field="vin" header="Active"></p-column>
                    <p-column field="year" header="Action Type"></p-column>
                    <p-column field="brand" header="Action Title"></p-column>
                </p-dataTable>
            </div>
        </p-panel>
    </div>
    <div class="ui-helper-clearfix ui-toolbar">
        <div class="f-r">
            <button type="button" class="ui-button-secondary" pButton icon="fa-close" (click)="showForm=false" label="Cancel"></button>
            <button type="button" pButton icon="fa-plus" label="Save"></button>
        </div>
    </div>
</div>
<p-dataTable [value]="dataRows" [rows]="10" [totalRecords]="totalRecords" [paginator]="true" [pageLinks]="3"
             (onLazyLoad)="loadDataLazy($event)" [lazy]="true" [responsive]="true"
             [rowsPerPageOptions]="[1,2,5,10,20,50,100,500,1000]" *ngIf="refreshTable && !showForm">
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-header-title">List of User Groups</span>
            <span class="f-r">
                <button type="button" pButton icon="fa-plus" (click)="onCreate()" label="New Workflow"></button>
            </span>
        </div>
    </p-header>
    <p-column field="name">
    </p-column>
    <p-column field="user_type" header="Module">
    </p-column>
    <p-column field="user_type" header="Workflow Name">
    </p-column>
    <p-column field="user_type" header="Trigger">
    </p-column>
    <p-column field="user_type" header="Conditions">
    </p-column>
    <p-column header="Action">
    </p-column>
    <p-footer>
        <span class="ui-sub-header-title">Total Rows : {{totalRecords}}</span>
        <i class="btn btn-sm fa fa-refresh" (click)="tableReload()" style="float: right"></i>
    </p-footer>
</p-dataTable>

