<!--<button *ngIf="WarehouseProcessDiv" class="ui-button-success" icon="fa-check" pButton label="Verify"
        (click)="openVerified(verifiedContent,'verify')"></button>
<button *ngIf="qaProcessDiv" class="ui-button-success"
        icon="fa-check" pButton
        label="QA Verify"
        (click)="openVerified(verifiedContent,'qaVerify')"></button>
<button *ngIf="qaProcessDiv"
        class="ui-button-warning"
        icon="fa-arrow-forward"
        pButton label="Move To inventory"
        (click)="moveToInventory()"></button>-->
<button *ngIf="buttons.Verify" class="ui-button-success" icon="fa-check" pButton label="{{buttons.Verify?.Name}}"
        (click)="openVerified(verifiedContent,'verify')"></button>
<button *ngIf="buttons.QaStatus" class="ui-button-success"
        icon="fa-check" pButton
        label="{{buttons.QaStatus?.Name}}"
        (click)="openVerified(verifiedContent,'qaVerify')"></button>
<button *ngIf="buttons.MoveToInventory"
        class="ui-button-warning"
        icon="fa-arrow-forward"
        pButton
        label="{{buttons.MoveToInventory?.Name}}"
        (click)="moveToInventory()"></button>

<ng-template #verifiedContent let-c="close" let-d="dismiss" size="lg">
    <div class="modal-header">
        <span class="ui-header-title">{{modalTitle}}</span>
        <span class="f-r">
            <i class="btn-sm fa fa-close" (click)="d('Cross click')"></i>
        </span>
    </div>
    <div class="modal-body">
        <div class="ui-g ui-grid-responsive ui-helper-clearfix pb10">
            <div class="ui-grid-row">
                <input [(ngModel)]="search" type="text"
                       pInputText style="width: 80% !important;"
                       (keyup.enter)="searchMacId(search)"/>
                <button pButton icon="fa-search"
                        (click)="searchMacId(search)"></button>
            </div>
        </div>
        <div class="ui-helper-clearfix">
            <p-dataTable
                    *ngIf="tableShow"
                    [value]="dataRows"
                    [responsive]="true"
                    [tableStyleClass]="'table-x-scroll'"
                    [rows]="10"
                    [paginator]="true"
                    [pageLinks]="3"
                    [rowsPerPageOptions]="[5,10,20,100,1000]"
                    scrollable="true">
                <p-column [header]="Actions" [style]="{'width':'40px'}">
                    <ng-template let-row="rowData" pTemplate="body">
                        <i class="btn-sm fa fa-trash" (click)="deleteRow(row)"></i>
                    </ng-template>
                </p-column>
                <p-column *ngFor="let col of showCols" [field]="col.name"
                          [style]="{'width': col.width+'px','white-space': 'nowrap'}"
                          [filter]="true" [sortable]="true" [header]="col.header_name">
                </p-column>
                <p-footer>
                    <span class="ui-sub-header-title">Total Rows : {{dataRows.length}}</span>
                    <i class="btn btn-sm fa fa-refresh" (click)="reloadTable()" style="float: right"></i>
                </p-footer>
            </p-dataTable>
        </div>

        <form name="form"  #qaForm="ngForm" novalidate>
            <div class="ui-helper-clearfix pt10" >
                <div class="ui-grid-12">
                    Status *:
                </div>
                <div class="ui-grid-12">
                    <p-dropdown [style]="{'width':'100%'}" [options]="qaStatusOptions" required name="qaStatusOptions"
                                [(ngModel)]="qa_status"></p-dropdown>
                </div>
                <div class="ui-grid-12" *ngIf="type=='qaVerify'">
                    Comments :
                </div>
                <div class="ui-grid-12 pt10" *ngIf="type=='qaVerify'">
                    <textarea name="qa_comments" pInputTextarea  placeholder="Enter comments" [(ngModel)]="qa_comments"></textarea>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="ui-helper-clearfix">
            <button type="button" pButton
                    icon="fa fa-close"
                    label="Cancel" class="ui-button-secondary" (click)="d('Cross click')"></button>
            <button [disabled]="this.dataRows.length ==0 || qaForm.invalid" type="button" pButton icon="fa fa-check" label="Verified"
                    class="ui-button-success"
                    (click)="saveVerifyRows()"></button>
        </div>
    </div>
</ng-template>