<div class="ui-helper-clearfix ui-toolbar">
    <div class="f-r">
        <button pButton icon="fa-plus" label="Add Menu Group" (click)="showDialog(null)"></button>
    </div>
</div>
<div class="ui-helper-clearfix">
    <div class="ui-grid-responsive ui-g">
        <div class="ui-g-3 ui-sm-12 ui-md-4 ui-lg-3 " *ngFor="let mg of menuGroupList">
            <p-panel styleClass="ui-panel-purple" >
                <p-header>
                    <div class="ui-helper-clearfix">
                        <span class="ui-header-title"><i class="fa {{mg.icon_class}}"></i> {{mg.name}}</span>
                        <span class="f-r">
                            <i class="btn-sm fa fa-pencil" (click)="showDialog(mg)"></i>
                            <i class="btn-sm fa fa-trash" (click)="removeGroupMenu(mg)"></i>
                        </span>
                    </div>
                </p-header>
                <div style="height: 100px;overflow: auto;">
                    {{mg.description}}
                </div>

            </p-panel>
        </div>
    </div>
</div>
<p-dialog header="Menu Group"  [(visible)]="display" [modal]="true" width="500" [resizable]="false" responsive="true" [draggable]="false">
    <div *ngIf="display">
        <form [formGroup]="mg"  novalidate >
            <div class="ui-grid ui-grid-responsive ui-grid-pad">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                       Name *
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text"
                               pInputText formControlName="name">
                        <small class="text-danger"
                               *ngIf="SubmittedForm && mg.get('name').errors">
                            This field is required
                        </small>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Short Name
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText formControlName="short_name">
                        <small class="text-danger"
                               *ngIf="SubmittedForm && mg.get('short_name').errors">
                            This field is required
                        </small>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Description
                    </div>
                    <div class="ui-grid-col-6">
                        <textarea rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
                        <small class="text-danger"
                               *ngIf="SubmittedForm && mg.get('short_name').errors">
                            This field is required
                        </small>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">Icon
                    </div>
                    <div class="ui-grid-col-8">
                        <icon-picker  formControlName="icon_class" [(ngModel)]="icon_class" ></icon-picker>
                    </div>
                </div>
            </div>


        </form>

    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" (click)="mgModalFormSubmit(mg)" class="ui-button-success" pButton icon="fa-check"  label="Submit"></button>
        <button type="button" class="ui-button-secondary" pButton icon="fa-close" (click)="display=false" label="No"></button>
      </div>
    </p-footer>
</p-dialog>
<p-confirmDialog width="425"></p-confirmDialog>
