.relation
{
  display: inline-block;
  vertical-align: middle;
  width: 68px;
  height: 38px;
}
.one-one,.r-1-1 {
  background: url(../../../assets/img/relation-img/1-1.png) no-repeat;
  background-size: 100%;
}
.one-many,.r-1-0 {
  background: url(../../../assets/img/relation-img/1-0.png) no-repeat;
  background-size: 100%;
}
.many-one,.r-0-1 {
  background: url(../../../assets/img/relation-img/0-1.png) no-repeat;
  background-size: 100%;
}
.many-many,.r-0-0 {
  background: url(../../../assets/img/relation-img/0-0.png) no-repeat;
  background-size: 100%;
}
.reverse{
  transform: rotate(180deg);
}