<div class="ui-grid-col-12">
                <span class="ui-header-title">Relationships <i class="btn fa fa-plus-circle btn-lg"
                                                               (click)="openAddRelationModal(addRelationModalTemplate)"></i></span>
  <div class="f-r">
    <span><i class="fa fa-square" style="color: #FB5050;"></i> {{moduleId}}</span>
    <span><i class="fa fa-circle" style="color: #60D033;"></i> Related Module</span>
  </div>
</div>

<div class="ui-grid ui-grid-pad ui-grid-row ui-grid-responsive">
  <div class="ui-g-6 pl0">
    <div class="ui-sub-header-title ui-helper-clearfix">One-one & Many-one Relationships</div>
    <div class="ui-g" *ngFor="let mrd of ModuleRelationData">
      <div class="ui-g-12 pl0"
           *ngIf="(mrd.from_relation==1 && mrd.to_relation==1) || (mrd.from_relation==0 && mrd.to_relation==1)">
        <p-panel styleClass="no-header">
          <div class="ui-g ui-grid-row">
            <div class="ui-g-8">
              <h6>{{mrd.to_module}} ({{mrd.to_block}})</h6>
              {{mrd.from_field}}
            </div>
            <div class="ui-g-4">
              <i class="relation r-{{mrd.from_relation}}-{{mrd.to_relation}}"></i>
            </div>
          </div>
        </p-panel>
      </div>
    </div>
  </div>
  <div class="ui-g-6 pl0">
    <div class="ui-sub-header-title ui-helper-clearfix">One-many & Many-many Relationships</div>
    <div class="ui-g" *ngFor="let mrd of ModuleRelationData">
      <div class="ui-g-12 pl0"
           *ngIf="(mrd.from_relation==1 && mrd.to_relation==0) || (mrd.from_relation==0 && mrd.to_relation==0)">
        <p-panel styleClass="no-header">
          <div class="ui-g ui-grid-row">
            <div class="ui-g-8">
              <h6>{{mrd.to_module}} ({{mrd.to_block}})</h6>
              {{mrd.from_field}}
            </div>
            <div class="ui-g-4">
              <i class="relation r-{{mrd.from_relation}}-{{mrd.to_relation}}"></i>
            </div>
          </div>
        </p-panel>
      </div>
    </div>

  </div>
  <!-- <p-panel header="One-one & Many-one Relationships" class="ui-g-6">
       <div class="ui-g" *ngFor="let mrd of ModuleRelationData" >
           <div class="ui-g-12" *ngIf="(mrd.from_relation==1 && mrd.to_relation==1) || (mrd.from_relation==0 && mrd.to_relation==1)">
               <div class="">
                   {{mrd.from_module}} &#45;&#45; {{mrd.from_block}} &#45;&#45; {{mrd.from_field}} &#45;&#45;{{mrd.from_relation}}
               </div>
               {{mrd.to_module}} &#45;&#45; {{mrd.to_block}} &#45;&#45; {{mrd.to_field}}&#45;&#45;{{mrd.to_relation}}
           </div>
       </div>
   </p-panel>
   <p-panel header="One-many & Many-many Relationships" class="ui-g-6">
       <div class="ui-g" *ngFor="let mrd of ModuleRelationData" >
           <div class="ui-g-12" *ngIf="(mrd.from_relation==1 && mrd.to_relation==0) || (mrd.from_relation==0 && mrd.to_relation==0)">
               {{mrd.to_module}} &#45;&#45; {{mrd.to_block}}&#45;&#45; {{mrd.to_field}}
           </div>
       </div>
   </p-panel>-->
</div>

<ng-template #addRelationModalTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <span class="ui-header-title">Create Relation</span>
    <!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>-->
  </div>
  <div class="modal-body">
    <form [formGroup]="relationMF" (ngSubmit)="addRelationFormSubmit(relationMF.value,relationMF.valid)" novalidate>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Select related module *:
          </div>
          <div class="ui-grid-col-6">
            <p-dropdown (onChange)="getRelationModuleBlock($event)" [options]="moduleList"
                        formControlName="module_label"
                        filter="true" [autoWidth]="false"></p-dropdown>
            <small class="text-danger"
                   *ngIf="rmSubmittedForm && relationMF.get('module_label').errors">
              This field is required
            </small>
          </div>

        </div>
        <div class="ui-g">
          <div class="ui-grid-col-12">
            Select relationship type *:
          </div>
          <div class="ui-grid-col-12">
            <div class="ui-g">
              <div class="ui-g-6">
                <p-radioButton name="relationship_type" value="1-1" label="One to One"
                               formControlName="relationship_type">

                </p-radioButton>
                <i class="relation one-one"></i>
              </div>
              <div class="ui-g-6">
                <p-radioButton name="relationship_type" value="1-0" label="One to Many"
                               formControlName="relationship_type"></p-radioButton>
                <i class="relation one-many"></i>
              </div>
              <div class="ui-g-6">
                <p-radioButton name="relationship_type" value="0-1" label="Many to One"
                               formControlName="relationship_type"></p-radioButton>
                <i class="relation many-one"></i>
              </div>
              <div class="ui-g-6">
                <p-radioButton name="relationship_type" value="0-0" label="Many to Many"
                               formControlName="relationship_type"></p-radioButton>
                <i class="relation many-many"></i>
              </div>
            </div>
            <small class="text-danger"
                   *ngIf="rmSubmittedForm && relationMF.get('relationship_type').errors">
              This field is required
            </small>
          </div>

        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Select Block ({{moduleId}}) *:
          </div>
          <div class="ui-grid-col-6">
            <p-dropdown [options]="moduleCurrentBlockList" formControlName="module_block"
                        filter="true" [autoWidth]="false"></p-dropdown>
            <small class="text-danger"
                   *ngIf="rmSubmittedForm && relationMF.get('module_block').errors">
              This field is required
            </small>
          </div>

        </div>
        <div class="ui-grid-row" *ngIf="relationMF.value.module_label">
          <div class="ui-grid-col-4">
            Select Block ({{relationMF.value.module_label}}) *:
          </div>
          <div class="ui-grid-col-6">
            <p-dropdown [options]="moduleRelationBlockList" formControlName="relation_module_block"
                        filter="true" [autoWidth]="false"></p-dropdown>
          </div>
          <small class="text-danger"
                 *ngIf="rmSubmittedForm && relationMF.get('relation_module_block').errors">
            This field is required
          </small>
        </div>
        <div class="ui-grid-row" *ngIf="relationMF.value.module_label">
          <div class="ui-grid-col-4">
            Field name of {{relationMF.value.module_label}} in {{moduleId}} record *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText formControlName="module_record">
          </div>
          <small class="text-danger"
                 *ngIf="rmSubmittedForm && relationMF.get('module_record').errors">
            This field is required
          </small>
        </div>
        <div class="ui-grid-row" *ngIf="relationMF.value.module_label">
          <div class="ui-grid-col-4">
            Field name of {{moduleId}} in {{relationMF.value.module_label}} record *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText formControlName="relation_module_record">
          </div>
          <small class="text-danger"
                 *ngIf="rmSubmittedForm && relationMF.get('relation_module_record').errors">
            This field is required
          </small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" pButton icon="fa-close" class="ui-button-secondary" label="Cancel"
                (click)="c('Close click')"></button>
        <button pButton icon="fa-check" class="ui-button-primary" label="Save"></button>
      </div>
    </form>
  </div>

</ng-template>