<p-dataTable [value]="dataRows"   [rows]="10" [totalRecords]="totalRecords" [paginator]="true" [pageLinks]="3"
             (onLazyLoad)="loadData($event)" [lazy]="true" [responsive]="true"
             [rowsPerPageOptions]="[1,2,5,10,20,50,100,500,1000]">
    <p-header>
        <div class="ui-helper-clearfix" style="width:100%">List of Menus  <button type="button" pButton icon="fa-plus" style="float:right" (click)="onCreate()" label="Add"></button></div>
    </p-header>
    <p-column header="Action">
        <ng-template let-row="rowData" pTemplate="body">
            <button type="button" class="ui-button-info" pButton (click)="onView(row)" icon="fa-eye"></button>
            <button type="button" pButton (click)="onUpdate(row)" icon="fa-edit"></button>
            <button type="button" class="ui-button-danger" pButton (click)="onDelete(row)" icon="fa-trash"></button>
        </ng-template>
    </p-column>
    <p-column field="name" [sortable]="true" header="Name"></p-column>
    <p-column field="email" [sortable]="true" header="Email" [filter]="true" [style]="{'overflow':'visible'}">
        <ng-template pTemplate="filter" let-col>
            <p-multiSelect [options]="userTypeList"  styleClass="ui-column-filter"></p-multiSelect>
        </ng-template>
    </p-column>
    <p-column field="city" [sortable]="true" header="city" [filter]="true" >
    </p-column>
    <p-column field="regDate" [sortable]="true" header="Created date" [style]="{'overflow':'visible'}">
        <ng-template pTemplate="filter">
            <p-calendar [(ngModel)]="date3" [showIcon]="true"></p-calendar>
        </ng-template>
    </p-column>
</p-dataTable>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>