<p-dataTable [value]="dataRows" [rows]="10" [totalRecords]="totalRecords" [paginator]="true" [pageLinks]="3"
             (onLazyLoad)="loadDataLazy($event)" [lazy]="true" [responsive]="true"
             [rowsPerPageOptions]="[1,2,5,10,20,50,100,500,1000]">
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-header-title">List of Menus</span>
            <span class="f-r">
                <button type="button" pButton icon="fa-plus"  label="Add"></button>
            </span>
    </div>
  </p-header>
  <p-column header="Action">
  </p-column>
  <p-column field="name" [sortable]="true" header="Name" [filter]="true">
  </p-column>
  <p-column field="user_type" [sortable]="true" header="User Type" [filter]="true">
  </p-column>
</p-dataTable>
