<tss-sub-head>
  <ul>
    <li>
      <div class="ui-toolbar pr-0 f-r ">
        <button pButton label="Save" icon="fa-floppy-o" (click)="saveRules()"></button>
      </div>
    </li>
  </ul>
</tss-sub-head>
<div class="ui-g">
    <div class="ui-helper-clearfix">
        <p-dataTable [value]="moduleList" expandableRows="true" [responsive]="true"
                     (onRowExpand)="getCustomModuleSharingRules($event.data)">
            <p-column field="module_label" [filter]="true" header="Module"></p-column>
            <p-column field="module_label" header="Full Access" styleClass="text-center">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <p-radioButton [name]="'radio_module_'+row.pk_id" value="0"
                                   [(ngModel)]="row.sharing_rule"></p-radioButton>
                </ng-template>
            </p-column>
            <p-column field="module_label" header="Role,Superiors and Subordinates" styleClass="text-center">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <p-radioButton [name]="'radio_module_'+row.pk_id" value="1"
                                   [(ngModel)]="row.sharing_rule"></p-radioButton>
                </ng-template>
            </p-column>
            <p-column field="module_label" header="Role & Superiors" styleClass="text-center">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <p-radioButton [name]="'radio_module_'+row.pk_id" value="2"
                                   [(ngModel)]="row.sharing_rule"></p-radioButton>
                </ng-template>
            </p-column>
            <p-column field="module_label" header="Role and Subordinates" styleClass="text-center">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <p-radioButton [name]="'radio_module_'+row.pk_id" value="3"
                                   [(ngModel)]="row.sharing_rule"></p-radioButton>
                </ng-template>
            </p-column>
            <p-column field="module_label" header="Private" styleClass="text-center">
                <ng-template let-col let-row="rowData" pTemplate="body">
                    <p-radioButton [name]="'radio_module_'+row.pk_id" value="4"
                                   [(ngModel)]="row.sharing_rule"></p-radioButton>
                </ng-template>
            </p-column>
            <!--<p-column expander="true" header="Advanced Sharing Rules" styleClass="col-icon"></p-column> -->
            <ng-template let-row pTemplate="rowexpansion">
                <p-panel>
                    <p-header>
                        <span class="ui-sub-header-title">
                            Sharing Rules for EventForms :
                        </span>
                        <div class="ui-helper-clearfix f-r">
                            <button pButton label="Add Custom Role" (click)="addCustomRole(row)"
                                    icon="fa-plus"></button>
                        </div>
                    </p-header>
                    <p-dataTable [value]="row.data" emptyMessage="No Custom Access Rules defined.">
                        <p-column header="Rule Number">
                            <ng-template  let-ri="rowIndex"  pTemplate="body">
                                            {{ri+1}}
                            </ng-template>
                        </p-column>
                        <p-column field="records_of" header="Event Forms of"></p-column>
                        <p-column field="can_be_access_by" header="Can be accessed by"></p-column>
                        <p-column field="Privileges" header="Privileges">
                            <ng-template  let-prow="rowData"  pTemplate="body">
                                <span *ngIf="!prow.Privileges">Read</span>
                                <span *ngIf="prow.Privileges">Read & Write</span>
                                <div class="f-r">
                                    <i class="btn-sm fa fa-pencil" (click)="addCustomRole(row,prow)"></i>
                                    <i class="btn-sm fa fa-trash" (click)="removeCustomModuleSharingRule(row,prow)"></i>
                                </div>
                            </ng-template>
                        </p-column>

                    </p-dataTable>

                </p-panel>
            </ng-template>
        </p-dataTable>
    </div>

    <div class="ui-g-12 pr-0 f-r ">
        <button class="f-r" pButton label="Save" icon="fa-floppy-o" (click)="saveRules()"></button>
    </div>

</div>

<p-dialog appendTo="body" responsive="true" [draggable]="false" [resizable]="false" [(visible)]="addCustomRoleModel"
          [modal]="true" width="500">
    <p-header>
        Add Custom Rule to EventForms
    </p-header>
    <div class="ui-widget">
        <span class="ui-sub-header-title">Record of</span>
        <div class="ui-grid ui-grid-responsive ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <div class="ui-grid-col-6">
                        User Type :
                    </div>
                    <div class="ui-grid-col-6">
                        <p-dropdown appendTo="body" required [filter]="true"
                                    (onChange)="getRecordOf(customRole.record_utid,customRole.records_of_owner_type,$event)"
                                    [options]="userTypeList" name="user_type_id"
                                    [(ngModel)]="customRole.record_utid"></p-dropdown>
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <div class="ui-grid-col-6">
                        Mode :
                    </div>
                    <div class="ui-grid-col-6">
                        <p-dropdown appendTo="body" required [filter]="true"
                                    (onChange)="getRecordOf(customRole.record_utid,customRole.records_of_owner_type,$event)"
                                    [options]="usergroupsList" name="usergroups"
                                    [(ngModel)]="customRole.records_of_owner_type"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="ui-grid-col-6">
                <div class="ui-grid-col-6">
                    Records of :
                </div>
                <div class="ui-grid-col-6">
                    <p-dropdown [disabled]="!customRole.records_of_owner_type && !customRole.record_utid"
                                appendTo="body" required
                                [filter]="true"
                                [options]="recordsList" name="records_of_owner_id"
                                [(ngModel)]="customRole.records_of_owner_id"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-widget">
        <span class="ui-sub-header-title">Access By</span>
        <div class="ui-grid ui-grid-responsive ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <div class="ui-grid-col-6">
                        User Type :
                    </div>
                    <div class="ui-grid-col-6">
                        <p-dropdown appendTo="body" required [filter]="true"
                                    (onChange)="getAccessRecordOf(customRole.access_utid,customRole.access_by_type,$event)"
                                    [options]="userTypeList" name="access_utid"
                                    [(ngModel)]="customRole.access_utid"></p-dropdown>
                    </div>
                </div>
                <div class="ui-grid-col-6">
                    <div class="ui-grid-col-6">
                        Mode :
                    </div>
                    <div class="ui-grid-col-6">
                        <p-dropdown appendTo="body" required [filter]="true"
                                    (onChange)="getAccessRecordOf(customRole.access_utid,customRole.access_by_type,$event)"
                                    [options]="usergroupsList" name="access_by_type"
                                    [(ngModel)]="customRole.access_by_type"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="ui-grid-col-6">
                <div class="ui-grid-col-6">
                    Records of :
                </div>
                <div class="ui-grid-col-6">
                    <p-dropdown [disabled]="!customRole.access_utid && !customRole.access_by_type" appendTo="body"
                                required
                                [filter]="true"
                                [options]="recordsAccessList" name="access_by"
                                [(ngModel)]="customRole.access_by"></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-col-12">
                <div class="ui-grid-col-6">
                    With Permissions :
                </div>
                <div class="ui-grid-col-6">
                    <div class="ui-grid-col-12">
                        <p-radioButton name="Privileges" value="0" label="Read"
                                       [(ngModel)]="customRole.Privileges"></p-radioButton>
                    </div>
                    <div class="ui-grid-col-12">
                        <p-radioButton name="Privileges" value="1" label="Read and Write"
                                       [(ngModel)]="customRole.Privileges"></p-radioButton>
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="addCustomRule()" label="Submit"></button>
        </div>
    </p-footer>
</p-dialog>
<p-confirmDialog width="425"></p-confirmDialog>
