<div class="ui-grid-row">
  <form [formGroup]="reportForm" (ngSubmit)="reportFormSave(reportForm.value, reportForm.valid)">
    <div class="ui-grid-col-6 ui-grid-responsive ui-grid-pad">
      <div class="ui-g">
        <div class="ui-g-12 p0">
          <div >Report Name</div>
          <input type="text" pInputText formControlName="name" pattern="^[a-zA-Z0-9 ]+$" />
          <span *ngIf="reportForm.controls['name'].errors">
                        <small class="text-danger ui-grid-col-12"
                               *ngIf="submittedForm && reportForm.controls['name'].errors['required']"> Report
                          Name is required
                        </small>
                        <small class="text-danger ui-grid-col-12"
                               *ngIf="submittedForm && reportForm.controls['name'].errors['pattern']"> Special
                          characters not allowed
                        </small>
          </span>
        </div>
        <div class="ui-g-12 p0 mt5">
          <div >Primary Modules</div>
          <p-dropdown [options]="moduleList"></p-dropdown>
        </div>
        <div class="ui-g-12 p0 mt5">
          <div >Related Modules</div>
          <p-multiSelect [options]="moduleList"></p-multiSelect>
        </div>
        <div class="ui-g-12 p0 mt5">
          <button pButton type="submit" label="SAVE & CONTINUE"></button>
          <button pButton type="button" label="CANCEL" class="ui-button-secondary"></button>
        </div>
      </div>
    </div>
  </form>
</div>
