<p-dataTable [value]="tc.dataRows"
             [rows]="10"
             [totalRecords]="tc.totalRecords"
             [paginator]="true"
             [pageLinks]="3"
             (onLazyLoad)="tc.loadDataLazy($event)"
             [lazy]="true"
             [responsive]="true"
             [rowsPerPageOptions]="[5,10,20,50,100,500,1000]"
             selectionMode="single"
             (onRowSelect)="tc.onView($event.data)"
             scrollable="true" #dt>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-header-title">{{tc.module}} List</span>
      <div style="float: right" class="ui-helper-clearfix">
        <!--  <p-multiSelect [options]="columnOptions" (onChange)="loadDataLazy(datableEvent)"
                         [(ngModel)]="cols"></p-multiSelect>-->
        <!--<button type="button" pButton icon="fa-plus" (click)="onCreate()"
                *ngIf="permission.Create && permission.show_full_form"
                label="Add"></button>-->
      </div>
    </div>
  </p-header>
  <p-column [header]="Actions" [style]="{'width':'20px'}">
    <ng-template let-row="rowData" pTemplate="body">
      <i class="btn fa fa-ellipsis-v" (click)="tc.getMenuForActions(tc.actionMenuContain,$event,row)"></i>
    </ng-template>
  </p-column>
  <p-column *ngFor="let col of tc.showCols" [field]="col.name"
            [style]="{'width': col.width+'px'}" styleClass="t1Table"
            [filter]="true" [sortable]="true" [header]="col.header_name">
    <ng-template pTemplate="header" let-cold="col">
      <span class="ellipsis" title="{{col.header_name}}" style="padding-right: 34px">{{col.header_name}}</span>
    </ng-template>
    <ng-template pTemplate="filter" let-cold="col">
      <i class="btn fa fa-search" (click)="filter.hidden = !filter.hidden"></i>
      <div class="ui-grid-row" hidden="true" #filter>
        <input [(ngModel)]="col.search" type="text"
               pInputText style="width: 70% !important;"
               (keyup.enter)="dt.filter(col.search,col.name,col.filterMatchMode)"/>
        <button pButton icon="fa-search"
                (click)="dt.filter(col.search,col.name,col.filterMatchMode)"></button>
      </div>
    </ng-template>
    <ng-template let-row="rowData" pTemplate="body">
      <tss-table-col-field-view [row]="row" [col]="col" [module]="module"></tss-table-col-field-view>
    </ng-template>

  </p-column>

  <p-footer>
    <span class="ui-sub-header-title">Total Rows : {{tc.totalRecords}}</span>
    <i class="btn btn-sm fa fa-refresh" (click)="tc.tableReload()" style="float: right"></i>
  </p-footer>
</p-dataTable>
