<!--<div class="modal-header">
    <span class="ui-header-title">Login</span>
        <span class="f-r">
            <i class="btn-sm fa fa-close" (click)="activeModal.close('Cross click')"></i>
        </span>
</div>-->
<div class="modal-body">
    <form #ngReloginForm="ngForm" autocomplete="off">
        <div class="ui-grid ui-grid-responsive ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-5">
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <div class="label-size">User Name *:</div>
                            <div>
                                <input type="text" [value]="reLoginObj.UserName" [(ngModel)]="reLoginObj.UserName" name="UserName" pInputText readonly
                                        required/>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ui-grid-col-5 password-space">
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <div class="label-size">Password *:</div>
                            <div>
                                <input type="password" [(ngModel)]="reLoginObj.Password" name="Password" pInputText autocomplete="off"
                                       required/>
                            </div>
                            <div>
                                <button type="button" pButton  (click)="logOut()" label="Login Other Account"
                                        class="ui-button-secondary"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-col-2">
                    <div class="ui-g">
                        <div class="ui-g-12" style="padding-top: 25px;">
                            <button type="submit" pButton icon="fa-check" (click)="submitLogin()" label="Login"
                                    [disabled]="ngReloginForm.invalid" class="f-r"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
