<p-panel styleClass="no-header">
  <!--    <md-tab-group>
          <md-tab *ngFor="let link of stepItems">
              <ng-template md-tab-label>
                  {{link.label}}
              </ng-template>
          </md-tab>
      </md-tab-group>

      <nav md-tab-nav-bar>
          <a md-tab-link
             *ngFor="let link of stepItems">
              {{link.label}}
          </a>
      </nav>-->
  <div class="p10">
    <p-steps [model]="stepItems" [(activeIndex)]="activeInd" styleClass="steps-custom"
             [readonly]="stepReadonly">

    </p-steps>
  </div>
  <div class="step-container p10">
    <router-outlet>
    </router-outlet>
  </div>
</p-panel>
