.btn {
  .tag {
    position: absolute;
    top: 2px;
    right: 6px;
    font-size: 9px;
  }
}
.ui-button.ui-button-secondary:enabled:hover{
  background-color: transparent !important;
  color: #373a3c !important;
}
.btn-sm{
  cursor: pointer;
}
