<div class="ui-helper-clearfix sub-header">
  <i class="btn fa fa-cog hidden-lg-up"  (click)="showMenu(subHeadMenuShow)"></i>
  <div class="hidden-md-down sub-header-animate" #subHeadMenuShow>
    <ng-content ></ng-content>
  </div>
</div>
