/*Widget Styles*/
.widget {
  width: 100%;
  border: 1px solid #ccc;
  display: table;
  padding: 5px 0px 5px 5px;
  background-color: #FFF;
  height: 65px;
  .wid-left {
    width: 30%;
    text-align: center;
    i {
      font-size: 40px;
      color: #a6a6a6;
      padding-right: 6px;
    }
  }
  .wid-right {
    width: 70%;
    padding-right: 5px;
    .text-adjust {
      line-height: 14px;
      font-weight: bold;
      font-size: 12px;
      margin-bottom: 3px;
    }
  }
  .wid-content {
    display: table-cell;
    vertical-align: middle;
    span.report-bar {
      display: block;
      padding: 0px 4px;
      font-size: 10px;
      color: #fff;
      &.bg-yellow {
        color: #000;
      }
      &.bg-lightgreen {
        color: #000;
      }
    }
  }
}

.board-widget {
  padding: 10px;
  border: 1px solid #ccc;
  color: #FFF;
  .board-head {
    font-size: 15px;
    margin-bottom: 10px
  }
  .genders {
    display: table;
    width: 100%;
    .g-left, .g-right {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
      div {
        display: table;
        width: 100%;
        span {
          display: table-cell;
          vertical-align: middle;
          i {
            font-size: 30px;
            color: #FFF;
          }
        }
        span.left {
          width: 40%;
          text-align: center;
        }
        span.right {
          width: 60%;
          strong {
            font-family: Roboto;
          }
        }
        button {
          background-color: #383838;
          border: 1px solid #383838;
          &:hover {
            background-color: rgba(56, 56, 56, 0.8);
          }
        }
      }
    }
  }
}
/*Scale*/
.scale-widget {
  .scale-name {
    float: left;
    padding-top: 16px;
    font-weight: bold;
    font-size: 12px;
  }
  ul {
    float: left;
    margin-bottom: 0px;
    padding-left: 10px;
    li {
      min-width: 70px;
      display: inline-block;
      float: left;
      @media (max-width: 420px) {
        min-width: 60px;
      }
      @media (max-width: 350px) {
        min-width: 55px;
      }
      label{
        margin-bottom: 0px;
        font-size: 11px;
      }
      p {
        padding: 5px;
        margin-bottom: 0px;
      }
    }
  }
}
/*heading Style*/
.aspect-head {
  position: relative;
  margin-bottom: 0px;
  color: #21293a;
  span {
    background-color: #EBECF1;
    padding-right: 10px;
    position: relative
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    background-color: #CCC;
  }
}

$very-low: #008e3d;
$low: #7eff20;
$moderate: #ffee58;
$high: #ffb300;
$very-high: #dd2c00;
/*.very-low{background-color: $very-low;}
.low{background-color: $low;}
.moderate{background-color: $moderate;}
.high{background-color: $high;}
.very-high{background-color: $very-high;}*/
/*Data Table Styles */

