<div class="ui-g">
    <div class="ui-g-12 ui-lg-3 overview-table pt-0">

        <div style="margin-bottom:10px;background-color: #fff;text-align: center;">
            <img *ngIf="rowData.featuredImage"
                 src="{{params.baseUrl}}resources/{{params.module}}?file_name={{rowData.featuredImage| imagePath}}"
                 onError="this.src='assets/img/no-image.jpg';"
                 style="max-height: 150px;width: auto;">
            <img *ngIf="!rowData.featuredImage" src="assets/img/no-image.jpg"
                 onError="this.src='assets/img/no-image.jpg';"
                 style="max-height: 150px;width: auto;">
        </div>
        <p-dataTable [value]="headerFields">
            <p-headerColumnGroup>
                <p-row>
                    <p-column header="OVERVIEW OF {{rowData.module.module_label}}" colspan="2"></p-column>
                </p-row>
            </p-headerColumnGroup>

            <p-column field="name"></p-column>
            <p-column field="value">
                <ng-template let-row="rowData" pTemplate="body">
                    <form-field [field]="row" viewType="view"></form-field>
                </ng-template>
            </p-column>
        </p-dataTable>
        <!--    <p-panel styleClass="module-create mt15">
              <p-header>
                <span class="ui-header-title" style="text-align: left">Overview of Achare Village</span>
              </p-header>

              <div class="ui-g">
                <p-chart type="horizontalBar" [data]="data" style="overflow-x:auto;"></p-chart>
              </div>

            </p-panel>-->
    </div>
    <div class="ui-g-12 ui-lg-9 p-0">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-4  pt-0">
                <div class="board-widget bg-skyBlue">
                    <div class="board-head ellipsis">GENDER POPULATION (1204)</div>
                    <div class="genders ui-helper-clearfix">
                        <div class="g-left">
                            <div>
                                <span class="left"><i class="fa fa-male"></i></span>
                                <span class="right"><strong>571</strong></span>
                            </div>
                        </div>
                        <div class="g-right">
                            <div>
                                <span class="left"><i class="fa fa-female"></i></span>
                                <span class="right"><strong>633</strong></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4  pt-0">
                <div class="board-widget bg-green">
                    <div class="board-head ellipsis">TOTAL GEOGRAPHICAL AREA (ha) 156.9</div>
                    <div class="genders ui-helper-clearfix">
                        <div class="g-left">
                            <div>
                                <span class="left"><i class="fa sevi-geographical-area"></i></span>
                                <span class="right"><strong>40.3</strong>(ha)</span>
                            </div>
                        </div>
                        <div class="g-right">
                            <div>
                                <span class="left"><i class="fa sevi-rainfall"></i></span>
                                <span class="right"><strong>2914.11</strong>(mm)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4  pt-0">
                <div class="board-widget bg-orange">
                    <div class="board-head ellipsis">STATUS OF THE VILLAGE</div>
                    <div class="genders ui-helper-clearfix">
                        <div class="g-left">
                            <div>
                                <span class="left"><i class="fa fa-star"></i></span>
                                <span class="right"><strong>40.3</strong>(ha)</span>
                            </div>
                        </div>
                        <div class="g-right">
                            <div>
                                <span><button pButton type="button" label="MODERATE"></button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g" *ngFor="let b of blocks.slice(1)">
            <div class="ui-g-12" *ngIf="b.block && b.block.extra_options">
                <div class="f-r scale-widget">
                    <span class="scale-name">{{b.block.extra_options.label}}</span>
                    <ul>
                        <li *ngFor="let item of  b.block.extra_options.option">
                            <label>{{item.label}}</label>
                            <p [ngStyle]="{'background-color': item.color}"></p>
                        </li>
                     <!--   <li>
                            <label>Low</label>
                            <p class="bg-orange"></p>
                        </li>
                        <li>
                            <label>Moderate</label>
                            <p class="bg-yellow"></p>
                        </li>
                        <li>
                            <label>High</label>
                            <p class="bg-lightgreen"></p>
                        </li>
                        <li>
                            <label>Very High</label>
                            <p class="bg-green"></p>
                        </li>-->
                    </ul>
                </div>
            </div>
            <div class="ui-g-12 pt-0 pb-0">
                <h4 class="aspect-head"><span>{{b.block.name}}</span></h4>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3" *ngFor="let f of b.fields">
                <!--(click)="openRelPopOverlay($event,f,relationOvlayPanel)"-->
                <div class="widget">
                    <div class="wid-content wid-left" *ngIf="f.type=='Relation'">
                        <i class="fa {{f.data.to_module_icon}}"></i>
                    </div>
                    <div class="wid-content wid-right">
                        <div class="text-adjust">{{f.display_label}}</div>
                        <div class="report-details" *ngIf="f.type!='Relation'">
                            <form-field [field]="f" viewType="view"></form-field>
                        </div>
                        <div class="report-details" *ngIf="f.type=='Relation'">
                          <span class="report-bar" [ngStyle]="{'background-color': f.color}" >
                           {{getValue(f,b.block)}}{{f.displayName}}
                          </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--      <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <div class="widget">
                      <div class="wid-content wid-left">
                        <i class="fa fa-user"></i>
                      </div>
                      <div class="wid-content wid-right">
                        <div class="text-adjust">Agriculture Labourers</div>
                        <div class="report-details">
                      <span class="report-bar bg-green">
                        Very low
                      </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <div class="widget">
                      <div class="wid-content wid-left">
                        <i class="fa fa-search"></i>
                      </div>
                      <div class="wid-content wid-right">
                        <div class="text-adjust">Fisher Population</div>
                        <div class="report-details">
                      <span class="report-bar bg-yellow">
                        Moderate
                      </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <div class="widget">
                      <div class="wid-content wid-left">
                        <i class="fa fa-bars"></i>
                      </div>
                      <div class="wid-content wid-right">
                        <div class="text-adjust">Mortality Rate</div>
                        <div class="report-details">
                      <span class="report-bar bg-orange">
                        High
                      </span>
                        </div>
                      </div>
                    </div>
                  </div>-->
        </div>

    </div>
</div>
<p-overlayPanel #relationOvlayPanel appendTo="body">
    <div *ngIf="showRelPopover" style="max-width: 400px">
        <relation-table  [formData]="rowData" [relData]="selectedRelField" [pkId]="params.pkId"></relation-table>
    </div>
</p-overlayPanel>
