
<tss-sub-head>

    <ul>
        <!--<li *ngIf="templateInfo.can_export">
            <a class="btn nav-link" href="{{downloadLink}}" target="_blank">Download</a>
        </li>-->
        <!--<li>
            <button pButton type="button" icon="fa-files-o" class="ui-button-secondary" iconPos="left"
                    label="COPY"></button>
        </li>-->
        <li *ngIf="templateInfo.can_export && permission.Export">
            <a [href]="downloadLink" target="_blank" class="btn btn-sm btn-default-style">
                <span><i class="fa fa-download"> </i> EXPORT</span>
            </a>
        </li>
        <li *ngIf="templateInfo.can_import && permission.Import">
            <button pButton type="button" (click)="onImport()" icon="fa-upload" class="ui-button-secondary upload-hover"
                    iconPos="left"
                    label="IMPORT"></button>
            <a class="nav-link btn-default-style download-link" href="{{sampleDownloadLink}}" target="_blank"
               title="Sample Excel Download" style="">
                <i class="fa fa-download"></i>
            </a>
        </li>
        <li>
            <button type="button" pButton icon="fa-plus" (click)="onCreate()"
                    *ngIf="permission.Create && permission.show_full_form"
                    label="ADD"></button>
        </li>
        <li>
            <button type="button" pButton icon="fa-users" (click)="openAssignModal(assignModal)"
                    *ngIf="selectedRows.length>0"
                    label="Group Action"></button>
        </li>
        <li>
          <button type="button" pButton icon="fa-map" (click)="kanbanView =! kanbanView" class="ui-button-warning"
                  *ngIf="templateInfo.App_Stage && templateInfo.App_Stage.data "
                  label="kanban View"></button>
        </li>
    </ul>

</tss-sub-head>

<app-kanban *ngIf="tableShow && kanbanView"></app-kanban>
<app-calendar-view></app-calendar-view>
<div class="ui-helper-clearfix widgets-block ui-grid-col-12 pb10" *ngIf="tableShow && topWidgets.length > 0">
    <p-carousel [value]="topWidgets" numVisible="4" styleClass="widget-slid" breakpoint="800">
        <ng-template let-w pTemplate="item">

            <ng-template [componentModules]="dynamicExtraModules" [componentContext]="{w:w}" dynamic-component
                         [componentTemplate]="w.html_template">
            </ng-template>

        </ng-template>
    </p-carousel>

    <!-- <p-carousel  [value]="topWidgets" styleClass="widget-slid" numVisible="4">
         <ng-template let-w pTemplate="item">

             <ng-template [componentModules]="dynamicExtraModules" [componentContext]="{w:w}" dynamic-component [componentTemplate]="w.html_template">
             </ng-template>

         </ng-template>
     </p-carousel>-->

    <!--<div *ngFor="let w of topWidgets" [outerHTML]="w.html_template">
    </div>-->
</div>

<div class="ui-helper-clearfix"></div>
<!--
<div class="widget-content left">
    <div class="left-con">
        <i class="fa fa-bell"></i>
    </div>
    <div class="right-con">
        <p class="ellipsis">Sold Products</p>
        <h2>123</h2>
    </div>
</div>

<div class="widget-content right">
    <div class="left-con">
        <p class="ellipsis">Sold Products</p>
        <h2>123</h2>
    </div>
    <div class="right-con">
        <i class="fa fa-bell"></i>
    </div>
</div>
-->

<div class="ui-g ui-g-responsive ui-grid-pad" *ngIf="!kanbanView">

    <div class=""
         [class]="((permission.Create && permission.show_quick_form) || rightWidgets.length>0)?'ui-lg-8 ui-md-12  pr5 table-widget pt0 pl0':'ui-grid-col-12 pr5 table-widget'"
         *ngIf="tableShow">
        <!--template 1-->
        <table-template-1 *ngIf="refreshTable && templateInfo.template_name == 'Template 1'"></table-template-1>

        <!--template 2-->
       <table-template-2 *ngIf="refreshTable && templateInfo.template_name == 'Template 2'"></table-template-2>
        <!--template 3-->
        <table-template-3 *ngIf="refreshTable && templateInfo.template_name == 'Template 3'"></table-template-3>

    </div>
    <div class="ui-lg-4 ui-md-12 ui-sm-12 pl5 right-form-content pr0 pt0" #divRight [class.fixedDiv]="isSpecial">
        <div class="ui-helper-clearfix" #dashBoard>
            <p-panel header="Quick Add" styleClass="mb10"
                     *ngIf="showForm && permission.Create && permission.show_quick_form">
                <dynamic-form [module]="module" [addMoreField]="true" [addMoreFieldUrl]="currentUrl+'/0'"
                              autoSave="true"
                              (afterSave)="submitForm($event)"></dynamic-form>
            </p-panel>

            <div class="ui-helper-clearfix widgets-block ui-grid-col-12 right-dashboards"
                 *ngIf="rightWidgets.length > 0">
                <ng-template [componentModules]="dynamicExtraModules" [componentContext]="{w:w}" dynamic-component
                             [componentTemplate]="w.html_template" *ngFor="let w of rightWidgets">
                </ng-template>
            </div>
        </div>
    </div>
</div>
<p-menu appendTo="body" #actionMenuContain popup="popup" label="..."
        [model]="actionItem">
</p-menu>
<div #mytemplate></div>
<!--<p-dialog *ngIf="showForm" header="{{dialogTitle}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          styleClass="userdialog">
    <dynamic-form  [fields]="formFields" (send)="submitForm($event)"></dynamic-form>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="dialogClose()" label="Cancel"></button>
            <button type="button" pButton icon="fa-check" (click)="onSave()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>-->


<p-confirmDialog></p-confirmDialog>


<ng-template #assignModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="ui-header-title">Assign To</span>
        <span class="f-r">
            <i class="btn-sm fa fa-close" (click)="d('Cross click')"></i>
        </span>
    </div>
    <div class="modal-body">
        <p-dropdown [options]="userList" name="assignTo" [(ngModel)]="assignTo"></p-dropdown>
    </div>
    <div class="modal-footer">
        <div class="ui-helper-clearfix">
            <button type="button" pButton
                    icon="fa fa-close"
                    label="Cancel" class="ui-button-secondary" (click)="d('Cross click')"></button>
            <button [disabled]="!this.selectedRows" type="button" pButton icon="fa fa-check" label="Submit"
                    class="ui-button-success"
                    (click)="saveAssignUser()"></button>


        </div>
    </div>
</ng-template>



