
.ui-cell-data{
  padding: 2px;
  white-space: nowrap;
  width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-toggle::after{
  display: none;
}


/*.ui-datatable-tablewrapper{
  overflow-x:scroll !important ;
}
.table-x-scroll .ui-datatable-tablewrapper{
  overflow-x:scroll !important ;
}
.ui-datatable-scrollable-wrapper {
  padding: 0px 8px;
  background-color: white;
  border: 1px solid #D9D9D9;
}*/


