<div class="ui-helper-clearfix">
<!--    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
           class="form-control" #search >-->
    Latitude - <label>{{latitude}}</label>
    Longitude -<label>{{longitude}}</label>
    <i class="btn-sm fa fa-crosshairs" style="float: right" (click)="setCurrentPosition()"> </i>
    <agm-map [latitude]="latitude"  [longitude]="longitude"  [zoom]="zoom">
        <agm-marker [latitude]="latitude" [markerDraggable]='true' [longitude]="longitude" (dragEnd)="markerDragEnd(m, $event)"></agm-marker>
    </agm-map>
</div>
