<p-panel styleClass="module-create">
    <p-header>
        <span class="f-l icon-place">
            <input pInputText placeholder="Search" [(ngModel)]="moduleSearchKey.module_label"/>
            <span class="icon-magnifier"></span>
        </span>
        <div class="ui-helper-clearfix" style="float: right;">
            <button pButton type="button" icon="fa-plus" (click)="redirect('/Custom/Modules/Create/0/0')"
                    label="Create Module"></button>
        </div>
    </p-header>
    <div class="ui-g ui-helper-clearfix">
        <div class="ui-g-6 pl0 ui-sm-12" *ngFor="let m of moduleList | filterBy:moduleSearchKey">
            <div class="ui-widget-content ui-helper-clearfix panel-styles" >
                <div class="ui-lg-1 ui-md-1 ui-g-1" ><i class="fa {{m.module_icon || 'fa-box'}}"></i></div>
                <div class="ui-lg-6 ui-md-6 ui-g-10" [title]="m.module_label"> <a class="ellipsis" [routerLink]="['/Custom/Modules/Create/'+m.module_label+'/0']">{{m.module_label}}</a></div>
                <div class="ui-lg-2 ui-md-2 ui-g-6">
                    <p-inputSwitch styleClass="primary" onLabel="Off" offLabel="On"
                                   [(ngModel)]="m.checked"></p-inputSwitch>
                </div>
                <div class="ui-lg-1 ui-md-1 ui-g-1">
                    <i *ngIf="m.module_label != 'Employees'"
                                                         class="btn-sm fa fa-trash" (click)="moduleDelete(m)"></i>
                </div>
                <div class="ui-lg-2 ui-md-2 ui-g-2 modules">
                    <p-menu  #menu popup="popup" [model]="[
                        {label: 'Edit', icon: 'fa-pencil', routerLink: ['/Custom/Modules/Create/'+m.module_label+'/0']},
                        {label: 'Block & Fields', icon: 'fa-wpforms', routerLink: ['/Custom/Modules/Create/'+m.module_label+'/1']},
                        {label: 'Reorder', icon: 'fa-reorder', routerLink: ['/Custom/Modules/Create/'+m.module_label+'/2']},
                        {label: 'Relationship', icon: 'fa-retweet', routerLink: ['/Custom/Modules/Create/'+m.module_label+'/3']},
                        {label: 'Workflows', icon: 'fa-code-fork', routerLink: ['/Custom/Modules/Create/'+m.module_label+'/4']},
                        {label: 'Dependent Fields/Block', icon: 'fa-code-fork', routerLink: ['/Custom/Modules/Create/'+m.module_label+'/5']},
                        {label: 'Fields Unique Index', icon: 'fa-code-fork', routerLink: ['/Custom/Modules/Create/'+m.module_label+'/6']}
                        ]">
                    </p-menu>
                    <i class="btn fa fa-ellipsis-h" (click)="menu.toggle($event)"></i>
                </div>
            </div>
        </div>
    </div>
</p-panel>

<p-confirmDialog></p-confirmDialog>
