// body {
//     #navigation {
//         left: -
//         display: none !important;
//     }
// }

/*sidebar*/
body:not(.top-nav) {

  .sidebar {
    position: absolute;
    top: 0;
    //left: 0;
    z-index: 1;
    display: inline !important;
    width: $sidebar-width;
    height: 100%;
    padding: $sidebar-padding;
    color: $sidebar-color;
    background: $sidebar-bg;
    @include borders($sidebar-borders);

    .sidebar-close {
      position: absolute;
      right: 0;
      display: none;
      padding: 0 $spacer-x;
      font-size: 24px;
      font-weight: 800;
      line-height: $navbar-height;
      color: $sidebar-color;
      background: 0;
      border: 0;
      opacity: .8;

      &:hover {
        opacity: 1;
      }
    }

    .sidebar-nav {
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;

      &::-webkit-scrollbar {
        width: 10px;
        margin-left: -10px;
        -webkit-appearance: none;
      }

      // &::-webkit-scrollbar-button {    }

      &::-webkit-scrollbar-track {
        background-color: lighten($sidebar-bg, 5%);
        border-right: 1px solid darken($sidebar-bg, 5%);
        border-left: 1px solid darken($sidebar-bg, 5%);
      }

      // &::-webkit-scrollbar-track-piece {    }

      &::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: darken($sidebar-bg, 10%);
        background-clip: content-box;
        border-color: transparent;
        border-style: solid;
        border-width: 1px 2px;
      }

      // &::-webkit-scrollbar-corner {    }

      // &::-webkit-resizer {    }
    }

    ul.nav {
      /*width: $sidebar-width;*/

      li.nav-title {
        padding: $sidebar-nav-title-padding-y $sidebar-nav-title-padding-x;
        font-size: 11px;
        font-weight: 600;
        color: $sidebar-nav-title-color;
        text-transform: uppercase;
      }

      li.divider {
        height: 10px;
      }
      li.nav-item:last-child{border-bottom: none}
      li.nav-item {
        position: relative;
        margin: 0;
        transition: background .3s ease-in-out;
        border-bottom: 1px solid #cccccc;

        ul {
          // display: none;
          max-height: 0;
          padding: 0;
          margin: 0;
          overflow-y: hidden;
          transition: max-height .3s ease-in-out;

          li {
            padding: 0;
            list-style: none;
          }
        }

        a.nav-link {
          font-size: 12px;
          font-weight: bold;
          display: block;
          padding: $sidebar-nav-link-padding-y $sidebar-nav-link-padding-x;
          color: $sidebar-nav-link-color;
          text-decoration: none;
          background: $sidebar-nav-link-bg;
          @include borders($sidebar-nav-link-borders);
          @if $enable-sidebar-nav-rounded {
            border-radius: $border-radius;
          }

          &:hover {
            color: $sidebar-nav-link-hover-color;
            background: $sidebar-nav-link-hover-bg;
            @include borders($sidebar-nav-link-hover-borders);

            i {
              color: $sidebar-nav-link-hover-icon-color;
            }
          }

          &.active {
            color: $sidebar-nav-link-active-color !important;
            background: $sidebar-nav-link-active-bg;
            @include borders($sidebar-nav-link-active-borders);

            i {
              color: $sidebar-nav-link-active-icon-color;
            }
          }

          [class^="icon-"], [class*=" icon-"] {
            display: inline-block;
            margin-top: -4px;
            vertical-align: middle;
          }

          i {
            width: 14px;
            margin: 0 ($sidebar-nav-link-padding-x / 2) 0 0;
            font-size: 14px;
            color: $sidebar-nav-link-icon-color;
            text-align: center;
          }

          .tag {
            float: right;
            margin-top: 2px;
            // margin-left: 10px;
          }

          &.nav-dropdown-toggle {

            &::before {
              position: absolute;
              top: ($sidebar-nav-link-padding-y + ($font-size-base / 4));
              right: $sidebar-nav-link-padding-x;
              display: block;
              width: ($font-size-base);
              height: ($font-size-base);
              padding: 0;
              font-size: $font-size-base;
              line-height: ($font-size-base * 3 / 4);
              text-align: center;
              content: "\2039";
              transition: .3s;
            }
          }
        }

        &.nav-dropdown {
          &.open {
            background: $sidebar-nav-dropdown-bg;
            @include borders($sidebar-nav-dropdown-borders);
            @if $enable-sidebar-nav-rounded {
              border-radius: $border-radius;
            }
            > ul, > ol {
              // display: inline;
              max-height: 1000px;
            }

            a.nav-link {
              color: $sidebar-nav-dropdown-color;
              border-left: 0 !important;
            }

            > a.nav-link.nav-dropdown-toggle::before {
              -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
            }

            .nav-dropdown.open {
              border-left: 0;
            }
          }
          &.nt {
            transition: 0s !important;
            > ul, > ol {
              transition: 0s !important;
            }
            a.nav-link {
              &.nav-dropdown-toggle {

                &::before {
                  transition: 0s !important;
                }
              }
            }
          }
        }

        a.nav-label {
          display: block;
          padding: ($sidebar-nav-link-padding-y / 8) $sidebar-nav-link-padding-x;
          color: $sidebar-nav-title-color;

          &:hover {
            color: $sidebar-color;
            text-decoration: none;
          }

          i {
            width: 20px;
            margin: -3px ($sidebar-nav-link-padding-x / 2) 0 0;
            font-size: 10px;
            color: $sidebar-nav-link-icon-color;
            text-align: center;
            vertical-align: middle;
          }
        }

        @if (lightness( $sidebar-bg ) < 40) {
          .progress[value] {
            background-color: lighten($sidebar-bg, 15%) !important;
          }

          // Unfilled portion of the bar
          .progress[value]::-webkit-progress-bar {
            background-color: lighten($sidebar-bg, 15%) !important;
          }
          base::-moz-progress-bar, // Absurd-but-syntactically-valid selector to make these styles Firefox-only
          .progress[value] {
            background-color: lighten($sidebar-bg, 15%) !important;
          }
        }
      }
    }
  }
}
// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}
@include media-breakpoint-up(sm) {

  body.compact-nav {
    .hidden-cn {
      display: none;
    }
    .sidebar {
      z-index: $zindex-navbar-fixed - 1;
      width: $sidebar-compact-width;
      .sidebar-nav {
        overflow: visible;
      }

      ul.nav {

        li.nav-title, li.divider {
          display: none;
        }

        li.nav-item {
          width: $sidebar-compact-width;
          overflow: hidden;
          border-left: 0 !important;

          ul {
            background: $sidebar-bg;
          }

          a.nav-link {
            position: relative;
            padding: 0 15px 0 0;
            margin: 0;

            line-height: $sidebar-compact-height;
            white-space: nowrap;
            border-left: 0 !important;

            &.nav-dropdown-toggle {

              &::before {
                display: none;
              }
            }

            i {
              display: block;
              float: left;
              width: 18px;
              height: $sidebar-compact-height;
              padding: 0;
              overflow: hidden;
              margin: 0 16px !important;
              font-size: 18px;
              line-height: $sidebar-compact-height;
            }

            .tag {
              position: absolute;
              top: 14px;
              right: 15px;
              display: none;
            }

            &:hover {
              width: $sidebar-width;

              .tag {
                display: inline;
              }
            }
          }

          ul {
            position: absolute;
            top: $sidebar-compact-width;
            left: $sidebar-compact-width;

            li {
              position: relative;
              padding: 0;

              a.nav-link {
                width: $sidebar-width - $sidebar-compact-width;
              }

              ul, ol {
                position: absolute;
                top: 0;
                left: 100%;
              }
            }
          }

          &.nav-dropdown {
            &.open {
              background: $sidebar-nav-link-active-bg;
              > a.nav-link i {
                color: $sidebar-nav-link-active-icon-color;
              }
              > ul, > ol {
                display: none;
              }
            }
          }

          &:hover {
            width: $sidebar-width + $sidebar-compact-width;
            overflow: visible;
            background: $sidebar-nav-link-hover-bg;
            transition: 0s;

            > a.nav-link {
              width: $sidebar-width + $sidebar-compact-width;
            }

            > ul, > ol {
              display: inline;
              max-height: 10000px;
              transition: 0s;

              li {
                width: $sidebar-width;

                a.nav-link {
                  width: $sidebar-width;
                }
              }
            }

            &.nav-dropdown {
              &.open {
                > ul, > ol {
                  display: inline;
                }
              }
            }
          }
        }
      }
    }
  }
}
/*top*/
nav.top-nav {
  position: absolute;
  top: $navbar-height;
  left: 0;
  z-index: $zindex-navbar-fixed - 1;
  display: inline !important;
  width: 100%;
  height: $top-nav-height;
  background: $top-nav-bg;
  @include borders($top-nav-borders);

  ul.nav {
    white-space: nowrap;

    li.nav-item {
      position: relative;
      display: inline-block;
      margin: 0;

      ul {
        display: none;
        padding: 0;
        margin: 0;
        white-space: normal;
        background: $top-nav-bg;
        @include borders($top-nav-ul-borders);


        li {
          padding: 0;
          list-style: none;
        }
      }

      a.nav-link {
        display: block;
        padding: 0 15px;
        font-size: 12px;
        font-weight: 400;
        line-height: $top-nav-height;
        color: $top-nav-color;
        text-decoration: none;
        text-transform: uppercase;

        i {
          display: block;
          float: left;
          width: 20px;
          margin: 0 10px 0 0;
          font-size: 14px;
          line-height: $top-nav-height - 1px;
          text-align: center;
        }

        .tag {
          float: right;
          margin-top: 13px;
          margin-left: 10px;
        }

        &:hover {
          color: $top-nav-hover-color;
          background: $top-nav-hover-bg;

        }

        &.active {
          color: $top-nav-active-color;
          background: $top-nav-active-bg;
        }
      }

      ul {
        position: absolute;
        top: $top-nav-height - 1px;
        left: 0;

        li {
          position: relative;
          padding: 0;

          a.nav-link {
            min-width: 200px;
          }

          ul {
            position: absolute;
            top: 0;
            left: 100%;
          }
        }
      }

      &.nav-more {
        ul {
          right: 0;
          left: auto;

          li {

            ul {
              right: 100%;
              left: auto;
            }
          }
        }
      }

      &:hover {
        > ul {
          display: inline;
        }
      }
    }
  }
}
/*layout*/
html.sidebar-opened {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

body {
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;

  .bd-title.main {
    padding: 0 !important;
  }
}

.sidebar {
  left: - $sidebar-width;
  transition-duration: $layout-transition-speed, $layout-transition-speed, $layout-transition-speed, $layout-transition-speed, $layout-transition-speed, $layout-transition-speed;
  transition-property: left, right, padding-left, padding-right, margin-left, margin-right;

}

.main {
  padding-bottom: $footer-height;
  transition-duration: $layout-transition-speed, $layout-transition-speed, $layout-transition-speed, $layout-transition-speed;
  transition-property: padding-left, padding-right, margin-left, margin-right;
}

.aside-menu {
  transition-duration: $layout-transition-speed, $layout-transition-speed;
  transition-property: left, right;
}

.footer {
  transition-duration: $layout-transition-speed, $layout-transition-speed, $layout-transition-speed, $layout-transition-speed, $layout-transition-speed, $layout-transition-speed;
  transition-property: padding-left, padding-right, margin-left, margin-right, left, right;
}

body.std {
  position: relative;

  header.navbar {
    z-index: $zindex-navbar-fixed;
  }

  .sidebar {
    padding-top: $navbar-height;
  }

  .main {
    padding-left: $sidebar-width;
  }
}

body.navbar-fixed {

  header.navbar {
    @extend .navbar-fixed-top;
  }

  .main {
    padding-top: $navbar-height;
  }

  &.top-nav {
    &.fixed-nav {

      nav.top-nav {
        position: fixed;
      }

      .main {
        padding-top: $navbar-height + $top-nav-height;
      }
    }
  }
}

body:not(.top-nav) {
  header.navbar {
    z-index: $zindex-navbar-fixed;
  }

  .sidebar {
    display: inline;
    padding-top: $navbar-height !important;
  }

  &.sidebar-nav.compact-nav {

    .main {
      padding-left: $sidebar-compact-width;
    }

    .footer {
      left: $sidebar-compact-width;
    }
  }

  &.fixed-nav {

    .sidebar {
      position: fixed;
      border-right: 1px solid #ccc;

      .sidebar-nav {
        height: calc(100vh - #{$navbar-height});
      }
    }

    .sidebar-footer {
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }

  &.sidebar-off-canvas {

    header.navbar {
      z-index: $zindex-navbar-fixed + 2;
    }

    .sidebar {
      left: -$sidebar-width;
      z-index: $zindex-navbar-fixed + 1;
      padding-top: 0;

      .sidebar-close {
        display: inline;
      }

      .sidebar-nav {
        height: 100vh;
      }
    }

    .main {
      padding-left: 0;
    }

    .footer {
      left: 0;
    }
  }

  &.sidebar-opened {

    .sidebar {
      left: 0;
    }

    &.sidebar-off-canvas-push {

      .main {
        margin-right: -$sidebar-width;
        margin-left: $sidebar-width;
      }

      .footer {
        margin-right: -$sidebar-width;
        margin-left: $sidebar-width;
      }
    }

    &.sidebar-off-canvas-with-shadow {
      position: relative;
      max-width: 100% !important;
      overflow-x: hidden !important;


      &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: $zindex-navbar-fixed;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(0,0,0,.7);
      }
    }
  }
}

body.sidebar-nav {
  .sidebar {
    left: 0;
  }
  .main {
    padding-left: $sidebar-width;
  }

  .footer {
    left: $sidebar-width;
  }
}

body.top-nav {

  .layout-toggler {
    display: none !important;
  }

  .main {
    padding-top: $navbar-height + $top-nav-height;
  }
}

body.aside-menu-open {
  .main {
    padding-right: $aside-menu-width;
  }

  .aside-menu {
    right: 0;
  }

  .footer {
    right: $aside-menu-width;
  }

  &.aside-menu-off-canvas {
    .main {
      right: 0;
      padding-right: 0;
    }
  }
}

body.footer-fixed {
  .footer {
    position: fixed;
    bottom: 0;
  }
}

