.md-slider-blue.mat-accent {
  .mat-slider-thumb,.mat-slider-thumb-label{background-color: #2399e5;}
  .mat-slider-track-fill{background-color: #CCC !important;}
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{background-color: rgba(35,153,229,0.5)}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{background-color: #2399e5;}