<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--content="width=device-width, initial-scale=1, shrink-to-fit=no"-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
  <link rel="shortcut icon" href="assets/img/favicon.png">
  <base href="/">
  <title>Sevi</title>
<!--  <link rel="manifest" href="/manifest.webapp">-->
  <!-- Icons -->
  <link rel="stylesheet" type="text/css" href="assets/css/toaster.css" />
  <link href="assets/css/simple-line-icons.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/font-icomoon.css" rel="stylesheet">
  <link href="assets/css/sevi-icons.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/css/toaster.css" />
  <link rel="stylesheet" type="text/css" id="theme"  href="">
</head>
<body class="navbar-fixed  sidebar-nav fixed-nav">
  <app-root>
    <div class="loading-overlay" *ngIf="loading">
      <img src="assets/img/loading.gif" style="width: 75px">
      <!-- show something fancy here, here with Angular 2 Material's loading bar or circle -->
    </div>
  </app-root>
</body>

</html>

