
.login{
  .logo img{
    width: 100%;
    padding: 20%;
  }
  .ui-panel .ui-panel-content{
    padding: 20px;
  }
}
.login_background{
  background-image: url("../assets/img/login_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.ui-header-title{
 text-transform: capitalize;
 font-weight: bold;
 font-size: 14px;
}
.ui-sub-header-title{
 text-transform: capitalize;
 font-weight: bold;
 font-size: 12px;
}
// Here you can add other styles
.ng2-smart-table{
 background-color: white;
}
.fa-ellipsis-v,.fa-ellipsis-h{
 color: #968d8d;
 padding: 0 5px;
}

.ui-calendar button{
   margin: 0 -28px;
}
/*Menu search*/
.menu-search{
  position: relative;
  padding: 5px;
  input{
    width: 100%;
    padding: 2px 10px 2px 2px;
  }
  i{
    position: absolute;
    top: 10px;
    right: 11px;
    color: #999;
  }
}
/*file upload*/
.ui-fileupload-buttonbar {
  padding: .1em !important;
}
.ui-fileupload-content.ui-widget-content.ui-corner-bottom{border-top: 0px;}
.ui-multiselect .ui-multiselect-trigger,.ui-dropdown .ui-dropdown-trigger,.ui-datalist .ui-paginator-bottom, .ui-datatable .ui-paginator-bottom,.ui-corner-all{border-radius: $no-border-radius !important;}
.ui-dropdown .ui-dropdown-trigger,.ui-multiselect .ui-multiselect-trigger{border-top:none !important;border-bottom: none !important;border-right: none !important;}
.icon-place{
  position: relative;
  >span.icon-magnifier{
    position: absolute;
    right: 5px;
    top:8px;
  }
}
.prev-btn .sub-header ul{
  right: 60px;
}
.sub-header {
  .sub-header-animate{
    @media (max-width: 991px) {
      transition: 0.3s ease-in-out;
      height: 100%;
      position: fixed;
      right:-150px;
      top:0;
      display: block !important;
    z-index: 500;
    }
  }
  .m-sub-show{
    @media (max-width: 991px) {
      transition: 0.3s ease-in-out;
      right:0px;
    }
  }
    .fa-cog{
    @media (max-width: 991px) {
    position: fixed;
    top: 3px;
    right: 1px;
    z-index: 20001;
    color: white;
    font-size: 20px;
    padding: 10px 8px;
  }
    @media (max-width: 640px){right: 0px;}
  }
  ul{
    list-style: none;
    padding-left: 0px;
    position: absolute;
    top:70px;
    right: 10px;
    @media (min-width: 1367px){right: 20px;}
    @media (max-width: 991px) {
      min-width: 150px;
      height: 100%;
      padding: 10px;
      background-color: #EBECF1;
      border: 1px solid lightgray;
      position: absolute;
      right: 0 !important;
      top:55px;
      z-index: 1022;
    }
    >li{
      display: inline-block;border: none;margin: 0;
      vertical-align: middle;
      cursor: pointer;
      /*>button{
        color:#CCC;
      }*/
      >span{display: none;
        color: #968d8d;
        font-size: 10px;
        text-align: center;
      }
      @media (max-width: 991px) {
        display: block;
        margin-bottom: 10px;
      }
      .download-link{
        margin-left: -5px;line-height: 21px;padding-top: 3px;
        @media (max-width: 991px) {
          display: inline-block;
        }
      }

    }
    >li.next-previous-buttons{
      border: 1px solid #d9d9d9;
      text-align: center;
      margin-right: -5px;
      background-color: #EDEDED;
      >a{
        text-decoration: none;
        color: #757575;
        padding: 2px 3px;
      }
    }
  }

}
ul.next-prev-heart-widget {
  li {
    button {
      color: #CCC !important;
      cursor: pointer !important;
      &:hover .fa{
        color: #2196F3 !important;
      }
    }
  }
}
.expansion-content {
  .ui-g-12{
    font-size: 13px;
  }
}
.expansion-content .ui-g-12 .ui-grid-col-2.label{font-weight: bold}
.img-alignment{
  width:100px; border: 2px solid #000;
    @media screen and(max-width:640px) {width:100px;}
    @media screen and(max-width:480px) {width:90px;}
}

header.navbar{z-index: 1000 !important;}

/*dashboard widget styles*/
.board{
  width: 100%;border: 1px solid #CCC;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  .boardLeft{
    display: block;float: left;width: 30%;
    .icon-style{background-color: #eaeaea;padding: 5px;border-radius: 50px;width: 60px;height: 60px;margin: auto;text-align: center;line-height: 50px;font-size: 30px}
  }
  .boardRight{display: block;float: left;width: 70%;padding-left: 15px;padding-top: 5px;
    p{margin: 0}
    h2{margin: 0}
  }
  .board-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility:hidden;
    transition: 0.3s;
    color: white;
    font-size: 30px;
    background-color: rgba(33,150,243,0.5);
    i{
      position: absolute;
      top:50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
  &:hover .board-layer{visibility:visible;opacity: 1;transition: 0.3s}
}
.mt15{margin-top: 15px}
.mt5{margin-top: 5px}
.adjustButton{float: right;margin-top: -4px;margin-right: -5px;}
.adjustButton .ui-button-icon-only .ui-button-text{padding: 0.3em !important;}
th.t1Table{
  position: relative;
  .ui-sortable-column-icon{
    position: absolute;
    top:5px;
    right: 20px;
  }
  i.fa-search{
    position: absolute;
    top: 4px;
    right: 2px;
    padding: 0px;
  }
}
.customTree .ui-organizationchart .ui-organizationchart-node-content{padding: 0px !important;}
.overview-table {
  padding-left: 0;
  padding-top: 0;
  @media (max-width: 1025px) {
    padding-left: 8px;
  }
  .ui-datatable {
    th.ui-state-default {
      background-color: #d1d1d1;font-weight: bold;
    }
    td{background-color: rgba(224,224,224,0.8)}
  }
}
.overview-table {
  td {
    .form-group {
      label {
        margin-bottom: 0px !important;
      }
    }
  }
}
.bg-green{background-color: #008e3d;}
.bg-lightgreen{background-color: #7BFF22;}
.bg-yellow{background-color: #ffee58;}
.bg-orange{background-color: #f19038;}
.bg-red{background-color: #dd2c00;}
.bg-skyBlue{background-color: #74abff;}
@media (max-width: 767px) {
  .ui-datatable .ui-datatable-footer{padding: 0!important;}
}
.greenTheme{background-color: green}
.orangeTheme{background-color: Orange}

