.loading-overlay {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  z-index: 99999;
  img{
    top: 50%;
    left: 50%;
    position: absolute;
    width: 75px;
    transform: translate(-50%,-50%);
  }
}
.loading-overlay.http-service{
  background: rgba(255,255,255,0.0) !important;
}

/**
 * CoreUI - Open Source Bootstrap Admin Template
 * @version v1.0.0-alpha.2
 * @link http://coreui.io
 * Copyright (c) 2016 creativeLabs Łukasz Holeczek
 * @license MIT
 */
// Core variables and mixins
@import "theme/my-variables";

//@import "bootstrap-variables";
//@import "bootstrap_src/variables";
//@import "custom-variables";
@import "bootstrap_src/mixins";
//@import "core/mixins";

// Reset and dependencies
@import "bootstrap_src/normalize";
//@import "bootstrap_src/print";
@import "bootstrap_src/mixins/_breakpoints";
// Core CSS
//@import "bootstrap_src/reboot";
//@import "bootstrap_src/type";
//@import "bootstrap_src/images";
//@import "bootstrap_src/code";
//@import "bootstrap_src/grid";

//@import "bootstrap_src/tables";
//@import "bootstrap_custom/tables";

//@import "bootstrap_src/forms";

//@import "bootstrap_src/buttons";
//@import "bootstrap_custom/buttons";

// Components
//@import "bootstrap_src/animation";

//@import "bootstrap_src/dropdown";
//@import "bootstrap_custom/dropdown";


//@import "bootstrap_src/input-group";
//@import "bootstrap_custom/input-group";

//@import "custom-forms";

//@import "bootstrap_src/nav";
//@import "bootstrap_custom/nav";

//@import "bootstrap_src/navbar";
//@import "bootstrap_custom/navbar";
@import "theme/header";
//@import "bootstrap_src/pagination";

//@import "bootstrap_src/tags";
//@import "bootstrap_custom/tags";

//@import "jumbotron";
//@import "bootstrap_src/alert";

//@import "bootstrap_src/progress";
//@import "bootstrap_custom/progress";

//@import "bootstrap_src/media";
//@import "bootstrap_src/list-group";
//@import "bootstrap_src/responsive-embed";
//@import "bootstrap_src/close";

// Components w/ JavaScript
//@import "bootstrap_src/modal";
//@import "bootstrap_custom/modal";

//@import "bootstrap_src/tooltip";
//@import "bootstrap_src/popover";
//@import "bootstrap_src/carousel";

// Utility classes
//
//@import "bootstrap_src/utilities";

// Vendors Styles
//@import "vendors/vendors";

// CoreUI Styles
// Additional typography
//@import "core/typography";

// Animations
//@import "core/animate";

// Core files
//@import "core/grid";
//@import "core/layout";
//@import "core/navigation";
//@import "core/aside";
//@import "core/loading";
//@import "core/widgets";

//@import "core/buttons";
//@import "core/others";
//@import "core/breadcrumb-menu";
//@import "core/avatars";
//@import "core/callout";
//@import "core/switches";
//@import "core/charts";
//@import "core/utilities-border";



// Temporary fixes
//@import "core/temp";

// Mobile View
@import "core/mobile";


//prime ng component
@import "primeng/panel";
@import "primeng/data-list";
@import "primeng/step";
@import "primeng/tabs";
@import "primeng/switch";
@import "primeng/breadcrumb";
@import "primeng/adjustment";
@import "primeng/buttons";
@import "primeng/meeting-calendar";

// Custom styles
@import "primeng/primeng";
@import "theme/material";
@import "custom";
@import "theme/footer";
@import "theme/navigation-sidemenu";
@import "theme/tags";
@import "theme/modal";
@import "theme";



