<div class="ui-g-12 p-0">
  <!--<ul class="sub-header">
    <li>
      <a href="#" class="icon-calendar"></a>
    </li>
  </ul>-->
  <div class="calendar-view">
    <div class="ui-g-12 month-view">
      <div class="ui-g-6 ui-lg-2 ui-md-6 dp-cal">
        <md-select placeholder="Daily" class="daily-dp">
          <md-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </md-option>
        </md-select>
      </div>
      <div class="ui-g-12 ui-lg-9 ui-md-12 month-list">
          <md-tab-group>
            <md-tab>
              <ng-template md-tab-label>JAN</ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>FEB</ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>MAR</ng-template>
            </md-tab>
            <md-tab label="">
              <ng-template md-tab-label>APR</ng-template>
            </md-tab>
            <md-tab label="">
              <ng-template md-tab-label>MAY</ng-template>
            </md-tab>
            <md-tab label="">
              <ng-template md-tab-label>JUN</ng-template>
            </md-tab>
            <md-tab label="">
              <ng-template md-tab-label>JUL</ng-template>
            </md-tab>
            <md-tab label="">
              <ng-template md-tab-label>AUG</ng-template>
            </md-tab>
            <md-tab label="">
              <ng-template md-tab-label>SEP</ng-template>
            </md-tab>
            <md-tab label="">
              <ng-template md-tab-label>OCT</ng-template>
            </md-tab>
            <md-tab label="">
              <ng-template md-tab-label>NOV</ng-template>
            </md-tab>
            <md-tab label="">
              <ng-template md-tab-label>DEC</ng-template>
            </md-tab>
          </md-tab-group>
        </div>
      <div class="ui-g-6 ui-lg-1 ui-md-6 dp-calYear">
        <md-select placeholder="Year"  class="yearly-dp">
          <md-option *ngFor="let year of years" [value]="years.value">
            {{ years.viewValue }}
          </md-option>
        </md-select>
      </div>
    </div>
    <div class="ui-g-12 p-0">
      <div class="days-view">
        <md-tab-group>
          <md-tab>
            <ng-template md-tab-label>
              <span style="display: block;">SAT</span>
              <span>01</span>
            </ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              <span style="display: block;">SUN</span>
              <span>02</span>
            </ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              <span style="display: block;">MON</span>
              <span>03</span>
            </ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              <span style="display: block;">TUE</span>
              <span>04</span>
            </ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              <span style="display: block;">WED</span>
              <span>05</span>
            </ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              <span style="display: block;">THU</span>
              <span>06</span>
            </ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              <span style="display: block;">FRI</span>
              <span>7</span>
            </ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              <span style="display: block;">SAT</span>
              <span>08</span>
            </ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              <span style="display: block;">SUN</span>
              <span>09</span>
            </ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              <span style="display: block;">MON</span>
              <span>10</span>
            </ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              <span style="display: block;">TUE</span>
              <span>11</span>
            </ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              <span style="display: block;">WED</span>
              <span>12</span>
            </ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              <span style="display: block;">THU</span>
              <span>13</span>
            </ng-template>
          </md-tab>
          <md-tab>
            <ng-template md-tab-label>
              <span style="display: block;">FRI</span>
              <span>14</span>
            </ng-template>
          </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                <span style="display: block;">SAT</span>
                <span>15</span>
              </ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                <span style="display: block;">SUN</span>
                <span>16</span>
              </ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                <span style="display: block;">MON</span>
                <span>17</span>
              </ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                <span style="display: block;">TUE</span>
                <span>18</span>
              </ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                <span style="display: block;">WED</span>
                <span>19</span>
              </ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                <span style="display: block;">THU</span>
                <span>20</span>
              </ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                <span style="display: block;">FRI</span>
                <span>21</span>
              </ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                <span style="display: block;">SAT</span>
                <span>22</span>
              </ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                <span style="display: block;">SUN</span>
                <span>23</span>
              </ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                <span style="display: block;">MON</span>
                <span>24</span>
              </ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                <span style="display: block;">TUE</span>
                <span>25</span>
              </ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                <span style="display: block;">WED</span>
                <span>26</span>
              </ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                <span style="display: block;">THU</span>
                <span>27</span>
              </ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                <span style="display: block;">FRI</span>
                <span>28</span>
              </ng-template>
            </md-tab>
        </md-tab-group>
      </div>
    </div>
    <div class="ui-g-12 cal-dataList">
      <ul class="clearfix">
        <li class="clearfix">
          <div class="cal-dataList-Left"><span>8:30 <small>AM</small></span></div>
          <div class="cal-dataList-Right">
            <table width="100%">
              <tr>
                <td>
                  <div class="meeting-desc">
                    <p>Meeting wall Standup meeting <a href="#">YOU</a></p>
                    <span class="sub-text">Golden Threshold</span>
                  </div>
                  <div class="iconWith-text">
                    <span>
                    <i class="fa fa-clock-o skyBlue"></i>
                    10
                  </span>
                  <span>
                    <i class="fa fa-user yellow"></i>
                    03/05
                  </span>
                  <span>
                    <i class="fa fa-flag orange"></i>
                    10
                  </span>
                  </div>
                </td>
                <td>
                  <span class="meeting-status orange">A</span>
                </td>
              </tr>
            </table>
          </div>
        </li>
        <li class="clearfix">
          <div class="cal-dataList-Left"><span>8:30 <small>AM</small></span></div>
          <div class="cal-dataList-Right">
            <table width="100%">
              <tr>
                <td>
                  <div class="meeting-desc">
                    <div style="display: inline-block">
                      <p>Meeting wall Standup meeting <a href="#">YOU</a></p>
                      <span class="sub-text">Golden Threshold</span>
                    </div>
                  </div>
                  <div class="iconWith-text">
                    <button class="btn btn-sm bg-lightgreen f12 mr-1" type="button">Join Now</button>
                    <span>
                    <i class="fa fa-clock-o skyBlue"></i>
                    10
                  </span>
                  <span>
                    <i class="fa fa-user yellow"></i>
                    03/05
                  </span>
                  <span>
                    <i class="fa fa-flag orange"></i>
                    10
                  </span>
                  </div>
                </td>
                <td>
                  <span class="meeting-status orange">A</span>
                </td>
              </tr>
            </table>
          </div>
        </li>
        <li class="clearfix">
          <div class="cal-dataList-Left"><span>8:30 <small>AM</small></span></div>
          <div class="cal-dataList-Right">
            <table width="100%">
              <tr>
                <td>
                  <div class="meeting-desc">
                    <p>Meeting wall Standup meeting <a href="#">YOU</a></p>
                    <span class="sub-text">Golden Threshold</span>
                  </div>
                  <div class="iconWith-text">
                    <span>
                    <i class="fa fa-clock-o skyBlue"></i>
                    10
                  </span>
                  <span>
                    <i class="fa fa-user yellow"></i>
                    03/05
                  </span>
                  <span>
                    <i class="fa fa-flag orange"></i>
                    10
                  </span>
                  </div>
                </td>
                <td>
                  <span class="meeting-status orange">A</span>
                </td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

