/*.calendar-view{
  .month-view{
    ul{
      padding-left: 0;
      list-style: none;
      li{
        font-size: 21px;
        display: table-cell;
        vertical-align: top;
        width: 1%;
        &:first-child,&:last-child{
        }
        .mat-tab-group {
          .mat-tab-header, .mat-tab-nav-bar {
            border-bottom: 1px solid rgba(0, 0, 0, .12) !important;
          }
          .mat-tab-label{
            min-width: 70px;
          }
        }
        .daily-dp{
          background: #13455c;
          .mat-select-arrow, .mat-select-disabled .mat-select-value, .mat-select-trigger {
            color: #fff !important;
          }
        }
      }
    }
  }
  .days-view{
    .mat-tab-label{
      line-height: 18px !important;
    }
  }
}*/
