<div class="ui-helper-clearfix">
    <div class="doc-content">
      <pre>
        <code class="language-css" pCode>
    <h2 style="margin: 0 0 0 15px">Widget with left-side icon</h2>
  &lt;div class="widget-content left"&gt;
  &lt;div class="left-con"&gt;
  &lt;i class="fa fa-bell"&gt;&lt;/i&gt;
  &lt;/div&gt;
  &lt;div class="right-con"&gt;
  &lt;p class="ellipsis"&gt;Sold Products&lt;/p&gt;
  &lt;h2&gt;123&lt;/h2&gt;
  &lt;/div&gt;
  &lt;/div&gt;
  <h2 style="margin: 0 0 0 15px">Widget with right-side icon</h2>
  &lt;div class="widget-content right"&gt;
  &lt;div class="left-con"&gt;
  &lt;p class="ellipsis"&gt;Sold Products&lt;/p&gt;
  &lt;h2&gt;123&lt;/h2&gt;
  &lt;/div&gt;
  &lt;div class="right-con"&gt;
  &lt;i class="fa fa-bell"&gt;&lt;/i&gt;
  &lt;/div&gt;
  &lt;/div&gt;

  Note: If you want to change the background colors for the above 'Widgets' simply we need add the class names like 'blue-bg','orange-bg' and 'greenish-bg'.
        </code>
    </pre>
    </div>
    <div class="components-list doc-sidebar">
        <ul>
            <li><a href="javascript:;">widgets</a></li>
        </ul>
    </div>
</div>
