<div class="d-table login_background">
  <div class="d-100vh-va-middle login">
    <div class="ui-g">
      <div class="ui-lg-4 ui-md-4 ui-sm-12 ui-12"></div>
      <div class="ui-lg-4 ui-md-4 ui-sm-12 ui-12">
        <p-panel styleClass="ui-panel-purple" header="Update Password">
          <p-header>
            <span class="f-r" [routerLink]="['/login']"><i class="btn-sm fa fa-close"></i></span>
          </p-header>
          <form (ngSubmit)="f.form.valid && updatePassword()" #f="ngForm" novalidate>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  Password *:
                </div>
                <div class="ui-grid-col-9">
                  <input name="NewPassword"  [(ngModel)]="Up.NewPassword"  pInputText type="password"
                         placeholder="New Password" required/>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  Confirm Password *:
                </div>
                <div class="ui-grid-col-9">
                  <input name="ConfirmPassword"  [(ngModel)]="Up.ConfirmPassword"  pInputText type="password"
                         placeholder="Confirm Password" required/>
                </div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                </div>
                <div class="ui-grid-col-9">
                  <button [disabled]="f.invalid" pButton label="Send"></button>
                </div>
              </div>
            </div>
          </form>
        </p-panel>
      </div>
      <div class="ui-lg-4 ui-md-4 ui-sm-12 ui-12"></div>
    </div>
  </div>
</div>
