<div class="ui-helper-clearfix">
    <p-dataTable [value]="dataRows" *ngIf="refreshTable"
                 [rows]="10" [totalRecords]="totalRecords"
                 [paginator]="true"
                 [pageLinks]="3"
                 (onLazyLoad)="loadDataLazy($event)"
                 [lazy]="true"
                 [responsive]="true"
                 [rowsPerPageOptions]="[5,10,20,50,100,500,1000]"
                 [(selection)]="selectedItems"
                 [tableStyleClass]="'table-x-scroll'" scrollable="true" #dt>

        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-header-title" style="text-align: left">Add Pick List Items</span>
                <span class="f-r">
                    <button type="button"
                            [disabled]="selectedItems.length==0" pButton icon="fa-trash" class="ui-button-danger" (click)="removeSelectedItemsMembers(selectedItems)" label="Delete"></button>
                    <button type="button"
                            pButton icon="fa-plus"
                            (click)="openPlModal(plModal)"
                            label="Add"></button>
                </span>
            </div>
        </p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="Value" [sortable]="true" header="Value"></p-column>
        <p-column field="Color" [sortable]="true" header="Color">
            <ng-template let-row="rowData" pTemplate="item">
                <i _ngcontent-c7="" class="fa fa-square" [style.color]="row.Color"></i> {{row.Color}}
            </ng-template>
        </p-column>
        <p-column field="SeqOrder" [sortable]="true" header="SeqOrder"></p-column>
        <p-column>
            <ng-template let-row="rowData" pTemplate="item">
                <!--<a [routerLink]="[row.pk_id+'/'+row.name]"><i class="btn fa fa-eye"></i></a>-->
                <i class="btn fa fa-pencil" (click)="openPlModal(plModal,row)"></i>
            </ng-template>
        </p-column>

        <p-footer>
            <span class="ui-sub-header-title">Total Rows : {{totalRecords}}</span>
            <i class="btn btn-sm fa fa-refresh" (click)="tableReload()" style="float: right"></i>
        </p-footer>
    </p-dataTable>
</div>
<p-confirmDialog width="425"></p-confirmDialog>


<ng-template #plModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <span class="ui-header-title">Add Pick list Value</span>
        <!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>-->
    </div>
    <div class="modal-body">
        <form [formGroup]="plMF" (ngSubmit)="plModalFormSubmit(plMF.value,plMF.valid)" novalidate>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                       Value *:
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText formControlName="Value">
                        <small class="text-danger"
                               *ngIf="plSubmittedForm && plMF.get('Value').errors">
                            This field is required
                        </small>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        Color :
                    </div>
                    <div class="ui-grid-col-6">
                        <input type="color" pInputText formControlName="Color">
                    </div>
                </div>

                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        SeqOrder :
                    </div>
                    <div class="ui-grid-col-6">

                        <p-spinner formControlName="SeqOrder"></p-spinner>

                        <!--<input pInputText formControlName="SeqOrder">-->
                       <!-- <small class="text-danger"
                               *ngIf="plSubmittedForm && plMF.get('SeqOrder').errors['pattern']">
                            Enter numbers only
                        </small>-->
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" pButton icon="fa-close" class="ui-button-secondary" label="Cancel"
                        (click)="c('Close click')"
                ></button>
                <button pButton icon="fa-check" class="ui-button-primary" label="Save"></button>
            </div>
        </form>
    </div>
</ng-template>
