<div class="col-md-8 col-sm-12">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <p-panel header="Title">
      <div class="form-group">
        <label>Company</label>
        <input type="text" class="form-control" name="company" [(ngModel)]="fObj.company"
               placeholder="Enter your company name">
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="fObj.name"
                   placeholder="Enter your Input Name">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 form-control-label" for="select">Select</label>
        <div class="col-md-9">
          <select id="select" name="select" [(ngModel)]="fObj.select" class="form-control" size="1">
            <option value="0">Please select</option>
            <option value="1">Option #1</option>
            <option value="2">Option #2</option>
            <option value="3">Option #3</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 form-control-label" for="select">Select Large</label>
        <div class="col-md-9">
          <select id="select" name="select" [(ngModel)]="fObj.large_select" class="form-control input-lg"
                  size="1">
            <option value="0">Please select</option>
            <option value="1">Option #1</option>
            <option value="2">Option #2</option>
            <option value="3">Option #3</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 form-control-label" for="select">Select Small</label>
        <div class="col-md-9">
          <select id="select" name="select" [(ngModel)]="fObj.small_select" class="form-control input-sm"
                  size="1">
            <option value="0">Please select</option>
            <option value="1">Option #1</option>
            <option value="2">Option #2</option>
            <option value="3">Option #3</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 form-control-label" for="multiple-select">Multiple select</label>
        <div class="col-md-9">
          <select id="multiple-select" name="multiple-select" [(ngModel)]="fObj.multple_select"
                  class="form-control" size="5" multiple>
            <option value="1">Option #1</option>
            <option value="2">Option #2</option>
            <option value="3">Option #3</option>
            <option value="4">Option #4</option>
            <option value="5">Option #5</option>
            <option value="6">Option #6</option>
            <option value="7">Option #7</option>
            <option value="8">Option #8</option>
            <option value="9">Option #9</option>
            <option value="10">Option #10</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 form-control-label">Radios</label>
        <div class="col-md-9">
          <div class="radio">
            <label for="radio1">
              <input type="radio" id="radio1" [(ngModel)]="fObj.radios" name="radios" value="option1">Option
              1
            </label>
          </div>
          <div class="radio">
            <label for="radio2">
              <input type="radio" id="radio2" name="radios" [(ngModel)]="fObj.radios" value="option2">Option
              2
            </label>
          </div>
          <div class="radio">
            <label for="radio3">
              <input type="radio" id="radio3" name="radios" [(ngModel)]="fObj.radios" value="option3">Option
              3
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 form-control-label">Inline Radios</label>
        <div class="col-md-9">
          <label class="radio-inline" for="inline-radio1">
            <input type="radio" id="inline-radio1" [(ngModel)]="fObj.inline_radios" name="inline-radios"
                   value="option1">One
          </label>
          <label class="radio-inline" for="inline-radio2">
            <input type="radio" id="inline-radio2" [(ngModel)]="fObj.inline_radios" name="inline-radios"
                   value="option2">Two
          </label>
          <label class="radio-inline" for="inline-radio3">
            <input type="radio" id="inline-radio3" [(ngModel)]="fObj.inline_radios" name="inline-radios"
                   value="option3">Three
          </label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 form-control-label">Checkboxes</label>
        <div class="col-md-9">
          <div class="checkbox">
            <label for="checkbox1">
              <input type="checkbox" id="checkbox1" name="checkbox1" value="option1">Option 1
            </label>
          </div>
          <div class="checkbox">
            <label for="checkbox2">
              <input type="checkbox" id="checkbox2" name="checkbox2" value="option2">Option 2
            </label>
          </div>
          <div class="checkbox">
            <label for="checkbox3">
              <input type="checkbox" id="checkbox3" name="checkbox3" value="option3">Option 3
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 form-control-label">Inline Checkboxes</label>
        <div class="col-md-9">
          <label class="checkbox-inline" for="inline-checkbox1">
            <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1">One
          </label>
          <label class="checkbox-inline" for="inline-checkbox2">
            <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="option2">Two
          </label>
          <label class="checkbox-inline" for="inline-checkbox3">
            <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="option3">Three
          </label>
        </div>
      </div>


      <p-footer>
        <div class="row">
          <div class="col-xs-6">
          <!--  <button [disabled]="loading" class="btn btn-primary px-2">Submit</button>-->
          </div>
        </div>
      </p-footer>

    </p-panel>
  </form>

</div>
<div class="col-md-4 col-sm-12">
  <p-panel header="Post Object ">
    {{fObj|json}}
  </p-panel>
</div>
