body header.navbar,.icon-color,header.navbar a.navbar-brand{background-color: rgb(50, 58, 69) !important;}
/*side navbar*/
body:not(.top-nav) .sidebar{background: rgb(84, 102, 119) !important;}
body:not(.top-nav) .sidebar ul.nav li.nav-item a.nav-link{color: #FFF !important;background: rgb(84, 102, 119)!important;}
body:not(.top-nav) .sidebar ul.nav li.nav-item a.nav-link.active{color:#FD4F1A !important;background-color: rgb(75, 91, 107)!important;}
body:not(.top-nav) .sidebar ul.nav li.nav-item{border-bottom: 1px solid rgba(50, 58, 69, 0.6) !important;}
body:not(.top-nav) .sidebar ul.nav li.nav-item a.nav-link i{color: #FFF !important;}
body:not(.top-nav) .sidebar ul.nav li.nav-item a.nav-link:hover{background-color: rgb(75, 91, 107)!important;}
/*side navbar ends*/
.ui-datalist .ui-paginator-bottom .ui-paginator-page.ui-state-active, .ui-datatable .ui-paginator-bottom .ui-paginator-page.ui-state-active{background-color: rgb(84, 102, 119) !important;border-color: rgb(84, 102, 119) !important}
.ui-widget.ui-button, .ui-button{background-color:rgb(84, 102, 119)!important;border-color: rgb(84, 102, 119)!important;}
.ui-button.ui-button-secondary.ui-state-default{background-color: #fff !important;border-color: #ccc !important;color: #373a3c !important;}
.btn-default-style:hover{color: rgb(84, 102, 119) !important;border-color:rgb(84, 102, 119) !important;}
.upload-hover:hover span{color: rgb(84, 102, 119) !important;}
.ui-button.ui-button-secondary.ui-state-default{background-color: transparent !important;}
.ui-button.ui-button-secondary.ui-state-default:hover{border-color: rgb(84, 102, 119) !important;}
.breadcrumb{background-color: rgba(194, 197, 196, 1) !important;}
.back-prev{color: rgb(84, 102, 119) !important;}
.back-prev:hover{color: rgb(50, 58, 69) !important;}
ul.next-prev-heart-widget li button:hover .fa{color: rgb(50, 58, 69) !important;}
.ui-menu{
    background: #FFF!important;
    -webkit-animation: mymove 5s 1; /* Safari 4.0 - 8.0 */
    animation: mymove 0.3s 1;
    transform: scale(1,1);
    transform-origin: left top;
    border:none !important;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12) !important;
}
.ui-menu .ui-menuitem .ui-menuitem-link:hover{background-color: rgb(50, 58, 69) !important;}

@-webkit-keyframes mymove {
    0%{transform: scale(0,0);}
    100%{transform: scale(1,1);}
}
.ui-datatable th.ui-state-active{background: rgb(84, 102, 119)!important;}
.ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active,.ui-steps.steps-custom .ui-widget-header .ui-state-highlight, .ui-steps.steps-custom .ui-widget-content .ui-state-highlight, .ui-steps.steps-custom .ui-state-highlight{background: rgb(84, 102, 119)!important;;border-color: rgb(84, 102, 119)!important;}
li.ui-steps-item.ui-state-highlight::after{border-left-color: rgb(84, 102, 119) !important;}


