<p-growl [value]="msgs"></p-growl>
<p-dataTable [value]="dataRows"  [rows]="10" [totalRecords]="totalRecords" [paginator]="true" [pageLinks]="3"
             (onLazyLoad)="loadDataLazy($event)" [lazy]="true" [responsive]="true"
             [rowsPerPageOptions]="[1,2,5,10,20,50,100,500,1000]">
    <p-header>
        <div class="ui-helper-clearfix" style="width:100%">List of Menus  <button type="button" pButton icon="fa-plus" style="float:right" (click)="onCreate()" label="Add"></button></div>
    </p-header>
    <p-column header="Action">
        <ng-template let-row="rowData" pTemplate="body">
            <button type="button" class="ui-button-danger" pButton (click)="onView(row)" icon="fa-eye"></button>
            <button type="button" pButton (click)="onUpdate(row)" icon="fa-edit"></button>
            <button type="button" class="ui-button-danger" pButton (click)="onDelete(row)" icon="fa-trash"></button>
        </ng-template>
    </p-column>
    <p-column field="app_menu_id" [sortable]="true" header="#"></p-column>
    <p-column field="app_menu" [sortable]="true" header="Name" [filter]="true" ></p-column>
    <p-column field="user_type" [sortable]="true" header="User Type" [filter]="true" [style]="{'overflow':'visible'}">
        <ng-template pTemplate="filter" let-col>
            <p-multiSelect [options]="userTypeList"  styleClass="ui-column-filter"></p-multiSelect>
        </ng-template>
    </p-column>
    <p-column field="menu_group" [sortable]="true" header="Group" [filter]="true" >

    </p-column>
    <p-column field="created_by" [sortable]="true" header="Created By"  [filter]="true" >
    </p-column>
    <p-column field="created_time" [sortable]="true" header="Created Date" [filter]="true" [style]="{'overflow':'visible'}">
        <ng-template pTemplate="filter" let-col>
            <p-calendar [(ngModel)]="date3" [showIcon]="true"></p-calendar>
        </ng-template>
    </p-column>
</p-dataTable>



<p-dialog header="{{dialogTitle}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" styleClass="userdialog">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="dataRow">
        <div class="ui-grid-col-12">
            <div class="ui-grid-col-4"><label for="menu_group">Menu Group</label></div>
            <div class="ui-grid-col-8"><input pInputText id="menu_group" [(ngModel)]="dataRow.menu_group" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label>User Type</label></div>
            <div class="ui-grid-col-8">
                <p-dropdown  [options]="userTypeList" name="user_type" [(ngModel)]="dataRow.user_type"></p-dropdown>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane  ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="dialogClose()" label="Cancel"></button>
            <button type="button" pButton icon="fa-check"  label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
