<p-panel>
    <p-header>
        <div class="ui-helper-clearfix" style="float:right">
            <input type="text" [(ngModel)]="module_name" placeholder="Enter Module Name"/>
            <button type="button" pButton icon="fa-plus" (click)="createNewModule(module_name)"
                    label="Add Module"></button>
        </div>
    </p-header>
    <p-tabView class="row">
        <p-tabPanel header="Module 1" [closable]="true">
            sub menu here
            sub menu here
            sub menu here sub menu here
            sub menu here sub menu here
            sub menu here
        </p-tabPanel>
        <p-tabPanel *ngFor="let m of moduleList; let ndx = index;" header="{{m.module_name}}" [closable]="true">

            <p-panel class="ui-grid-col-6">
                <p-header>
                    <div class="ui-helper-clearfix" style="float:right">
                        <input type="text" [(ngModel)]="menu_name" placeholder="Add Menu"/>
                        <button type="button" pButton icon="fa-plus" (click)="createModuleMenu(m,menu_name)"
                                label="Add Menu"></button>
                    </div>
                </p-header>
                <p-orderList [value]="m.module_menu" [responsive]="true">
                    <ng-template let-menu pTemplate="item">
                        <div class="ui-helper-clearfix">
                            {{menu.menu_name}}
                            <div style="font-size:14px;float:right;margin:15px 5px 0 0"></div>
                        </div>
                    </ng-template>
                </p-orderList>
            </p-panel>

        </p-tabPanel>
    </p-tabView>
</p-panel>

<div class="ui-grid-col-12 ">

</div>

